<form>
    <h1>{{localize "SR5.Migrator.Version12_0_0.Warning"}}</h1>
    <p>{{localize "SR5.Migrator.Version12_0_0.Content"}}</p>
    <div>
        <label for="onlyDisableEffects">{{localize "SR5.Migrator.Version12_0_0.OnlyDisable"}}</label>
        <input type="checkbox" name="onlyDisableEffects" {{checked onlyDisableEffects}}/>
    </div>

</form>