@font-face {
  font-family: "Nodesto";
  src: url("../fonts/NodestoCapsCondensed.otf"); }

.roll:hover {
  text-shadow: 0 0 0.2em grey;
  cursor: pointer; }

hr.divider {
  margin: 0em;
  border-width: .1em; }

.border {
  border: 1px solid black; }

.flexrow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start; }

.nowrap {
  flex-wrap: nowrap; }

.align-stretch {
  align-items: stretch; }

.align-start {
  align-items: flex-start; }

.center {
  justify-content: center; }

.flex-end {
  justify-content: flex-end; }

.space-between {
  justify-content: space-between; }

.space-around {
  justify-content: space-around; }

.align-center {
  align-items: center; }

.flexcol {
  display: flex;
  flex-direction: col;
  flex-wrap: nowrap; }

.align-items-center {
  align-items: 'center'; }

.align-content-center {
  align-content: 'center'; }

.flex0 {
  flex: 0; }

.flex1 {
  flex: 1; }

.flex2 {
  flex: 2; }

.flex3 {
  flex: 3; }

.flex4 {
  flex: 4; }

.flexchild1 > * {
  flex: 1 0 auto; }

.input {
  position: relative; }
  .input.right > input[type="text"] {
    text-align: right; }
  .input.right .unit {
    left: 50%; }
  .input .unit {
    position: absolute;
    display: block;
    left: 15%;
    top: 10%;
    z-index: 9; }

input[type='checkbox'].display {
  background: transparent;
  border: none;
  text-align: center;
  font-size: 1em; }
  input[type='checkbox'].display:hover {
    background: transparent;
    border: 2px groove white; }

input[type="text"].display {
  background: transparent;
  border: 2px solid transparent;
  text-align: center;
  min-height: 1em; }
  input[type="text"].display:hover {
    background: transparent;
    border: 2px groove white; }
  input[type="text"].display.mod-input {
    font-size: .75em;
    margin-top: -.5em;
    margin-bottom: -.25em;
    line-height: 10px;
    padding: 0; }

select.display {
  background: transparent;
  border: none;
  text-align: center;
  margin: 0 2px; }
  select.display:hover {
    background: transparent;
    border: 2px groove white;
    margin: 0; }

.white {
  color: white; }

.text-outline {
  color: black;
  text-shadow: -1px -1px 0 rgba(128, 128, 128, 0.5), 1px -1px 0 rgba(128, 128, 128, 0.5), -1px 1px 0 rgba(128, 128, 128, 0.5), 1px 1px 0 rgba(128, 128, 128, 0.5); }

.level {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between; }
  .level > .level-left {
    order: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start; }
  .level > .level-right {
    order: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end; }

.text-center {
  text-align: center; }

.no-margin {
  margin: 0;
  margin-bottom: 0; }

.size4 {
  font-size: 1.5em; }

.size5 {
  font-size: 1.25em; }

.size6 {
  font-size: 1em; }

.size7 {
  font-size: .75em; }

.groove-bottom {
  border-bottom: 2px groove white; }

.groove-top {
  border-top: 2px groove white; }

.sr5 .window-content {
  font-size: 115%;
  background: url("../ui/parchment.jpg") repeat;
  color: black; }

.sr5 .editor {
  height: 10em;
  width: 100%; }
  .sr5 .editor .tox-toolbar-overlord,
  .sr5 .editor .tox-toolbar__primary {
    background: none; }

.sr5 .profile-img {
  padding: .25em;
  border-right: 2px groove white;
  border-bottom: 2px groove white; }

.sr5 .name {
  margin-bottom: 0;
  border-right: 2px groove white;
  font-size: 200%;
  font-family: "Nodesto", "Signika", "Palatino Linotype", serif; }

.sr5 .attributes {
  border-top: 2px groove white;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap; }
  .sr5 .attributes:last-child {
    border-bottom: 2px groove white; }
  .sr5 .attributes.smooth {
    justify-content: space-between; }
    .sr5 .attributes.smooth > .attribute {
      flex: 1 0 auto; }
  .sr5 .attributes .attribute {
    font-size: 120%;
    font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
    display: flex;
    text-align: center;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    padding: 0 .25em;
    min-width: 5rem; }
    .sr5 .attributes .attribute.row {
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      align-content: center; }
      .sr5 .attributes .attribute.row > .attribute-name {
        width: auto; }
      .sr5 .attributes .attribute.row .attribute-input {
        transform: translateY(20%); }
    .sr5 .attributes .attribute:not(:last-child) {
      border-right: 2px groove white; }
    .sr5 .attributes .attribute:not(.row) > .attribute-name {
      position: relative; }
      .sr5 .attributes .attribute:not(.row) > .attribute-name:after {
        content: '';
        display: block;
        position: absolute;
        width: 50%;
        transform: translateX(50%);
        border-bottom: 1px groove white; }
    .sr5 .attributes .attribute > .attribute-name {
      font-size: 115%;
      width: 100%;
      text-align: center;
      margin-bottom: 0; }
      .sr5 .attributes .attribute > .attribute-name.roll:hover {
        text-shadow: 0 0 0.2em grey;
        cursor: pointer; }
    .sr5 .attributes .attribute .attribute-input-container {
      align-text: center;
      position: relative; }
      .sr5 .attributes .attribute .attribute-input-container > .attribute-input {
        text-align: center;
        margin: 2px; }
      .sr5 .attributes .attribute .attribute-input-container .unit {
        top: 0;
        left: 0; }
    .sr5 .attributes .attribute .track {
      display: flex;
      flex-flow: row;
      flex-wrap: nowrap;
      justify-content: center;
      margin-bottom: 0; }
      .sr5 .attributes .attribute .track .track-slash {
        transform: translateY(10%);
        flex: 0 0; }
        .sr5 .attributes .attribute .track .track-slash:after {
          content: '/'; }
      .sr5 .attributes .attribute .track .track-max-value {
        margin-bottom: 0;
        margin-left: .25em; }

.sr5.item .item-name {
  font-size: 120%;
  font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
  font-size: 1.5em; }

.sr5.item .technology {
  font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
  border-right: 2px groove white;
  border-bottom: 2px groove white; }
  .sr5.item .technology > * {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between; }

.sr5.item .description {
  padding: 2px;
  min-height: 10em;
  border-top: 2px groove white;
  border-bottom: 2px groove white; }

.sr5.actor {
  min-height: 56em;
  min-width: 55em; }
  .sr5.actor .sheet-header-row-2 > * {
    text-align: center; }
  .sr5.actor .sheet-header-row-2 > *:not(:last-child) {
    margin-right: 1em; }
  .sr5.actor .sheet-header-row-2 > *:not(:first-child) {
    border-left: 2px groove white; }
  .sr5.actor .sheet-header-row-2 .defense-icon {
    margin-left: .25em;
    margin-right: .25em; }
    .sr5.actor .sheet-header-row-2 .defense-icon:hover {
      color: grey;
      cursor: pointer; }
  .sr5.actor .sheet-header-row-2 .attribute-only-roll {
    margin-left: .25em;
    margin-right: .25em;
    text-align: center;
    margin-bottom: 0; }
    .sr5.actor .sheet-header-row-2 .attribute-only-roll:hover {
      color: grey;
      cursor: pointer; }
  .sr5.actor .limit {
    font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
    padding: 0 .1rem;
    border-right: 2px groove white;
    margin-top: -2px;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    align-content: center; }
  .sr5.actor .tab {
    border-radius: 0.25em;
    margin-top: 1em; }
    .sr5.actor .tab .scroll-area {
      overflow-y: auto;
      max-height: 28em; }
  .sr5.actor .tabs > a {
    position: relative;
    margin: .25em;
    position: relative; }
    .sr5.actor .tabs > a:after {
      content: '';
      display: block;
      position: absolute;
      width: 50%;
      transform: translateX(50%);
      border-bottom: 1px groove white; }
  .sr5.actor .sheet-header-row-1 {
    margin-bottom: .5em; }
  .sr5.actor .sheet-header {
    padding: 0; }
  .sr5.actor .inventory {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    font-size: 85%;
    position: relative; }
    .sr5.actor .inventory .item:not(.item-section) + .item:not(.item-section) {
      border-top: 1px solid rgba(0, 0, 0, 0.5); }
    .sr5.actor .inventory .item {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      margin: .1em 0;
      padding: .25em;
      margin-right: 2px;
      margin-left: 2px; }
      .sr5.actor .inventory .item.item-section {
        border: 2px groove white;
        margin-right: 0;
        margin-left: 0;
        background: rgba(128, 128, 128, 0.2); }
      .sr5.actor .inventory .item .item-left {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center; }
      .sr5.actor .inventory .item .item-right {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center; }
      .sr5.actor .inventory .item .item-img {
        padding: 0 .25em;
        flex: 0;
        margin: -.25em 0; }
        .sr5.actor .inventory .item .item-img > img {
          margin: 0; }
        .sr5.actor .inventory .item .item-img + .item-name {
          border-left: none !important; }
      .sr5.actor .inventory .item .item-icons {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: center;
        color: grey;
        font-size: .75em;
        height: 100%; }
      .sr5.actor .inventory .item .item-text {
        min-width: 5em;
        margin-bottom: 0;
        flex: 1 0 auto;
        text-align: center;
        height: 100%; }
        .sr5.actor .inventory .item .item-text:not(:first-child) {
          border-left: 1px solid rgba(128, 128, 128, 0.5); }
        .sr5.actor .inventory .item .item-text.item-name {
          text-align: left; }
      .sr5.actor .inventory .item .skill-item {
        min-width: 10em; }
      .sr5.actor .inventory .item.skill-header:hover {
        text-shadow: 0 0 0.2em grey;
        cursor: pointer; }
