@import "config.scss";
.sr5.actor {
  min-height: 690px;
  min-width: 800px;
  .name {
    margin-bottom: 0;
    font-size: 200%;
    @include nodesto;
  }
  .attributes {
    border-top: $groove;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    &.no-border {
      border-top: none;
      border-bottom: none;
    }
    &.wrap {
      flex-wrap: wrap;
    }
    & + :not(.attributes) {
      border-top: $groove;
    }
    &:last-child {
      border-bottom: $groove;
    }
    .attribute {
      @include title
      display: flex;
      text-align: center;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: space-evenly;
      padding: 0 .25em;
      flex: 1 0 auto;
      min-width: 4em;
      &:hover {
        .attribute-input-container.row {
          visibility: visible;
        }
      }
      &.flex0 {
        min-width: 0;
        width: 0;
      }
      &.row {
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        >.attribute-name {
          width: auto;
        }
        &.space-around {
          justify-content: space-around;
        }
        .attribute-input {
          transform: translateY(20%);
        }
      }
      &:not(:last-child) {
        border-right: $groove;
      }
      >.attribute-name {
        font-size: 115%;
        width: 100%;
        text-align: center;
        margin-bottom: 0;
        &.icon {
          font-size: .75em;
        }
        &.roll {
          @include rollable;
        }
      }
      .attribute-input-container {
        align-text: center;
        position: relative;
        margin-bottom: 2px;
        .mod {
          font-size: .75em;
          margin-top: -2px;
        }
        &.row {
          //visibility: hidden;
          display: flex;
          flex-flow: row;
        }
        >.attribute-input {
          text-align: center;
          margin: 2px;
        }
      }
      .track {
        display: flex;
        flex-flow: row;
        justify-content: space-evenly;
        margin-bottom: .1em;
        width: 100%;
        &.between {
          justify-content: space-between;
        }
        .track-slash {
          width: 1.5em;
          transform: translateY(10%);
          flex: 0 0;
          &:after {
            content: '/';
          }
        }
        .track-plus {
          width: 1.5em;
          flex: 0 0;
          &:after {
            content: '+';
          }
        }
        .track-max-value {
          margin-bottom: 0;
          margin-left: .25em;
        }
      }
    }
  }
  .skills-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    > *:not(:first-child) {
      margin-left: .25em;
    }
    > *:not(:last-child) {
      border-right: $groove;
      padding-right: .25em;
    }
  }
  .bio-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    .editor {
      height: 32.5em;
    }
    > *:not(:first-child) {
      margin-left: .25em;
    }
    > *:not(:last-child) {
      border-right: $groove;
      padding-right: .25em;
    }
  }
  .info-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    > *:not(:first-child) {
      padding-left: .25em;
      border-left: $groove;
    }
    > *:not(:last-child) {
      margin-right: .25em;
    }
  }
  .limit {
    @include nodesto;
    padding: 0 .1rem;
    margin-top: -2px;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .scroll-area {
    overflow-y: scroll;
    max-height: 33em;
    &.equipment {
      max-height: 32em;
    }
    &.bio {
      max-height: 33em;
    }
    &.active-skills {
      max-height: 26em;
    }
    &.mods {
      max-height: 32em;
    }
    &.info {
      max-height: 31em;
    }
    &.knowledge-skills {
      max-height: 27.5em;
    }
    &.left {
      direction: rtl;
      >* {
        direction: ltr;
      }
    }
  }
}
