@font-face {
  font-family: "Nodesto";
  src: url('../fonts/NodestoCapsCondensed.otf');
}

$nodesto: "Nodesto", "Signika", "Palatino Linotype", serif;

$black: black;
$green: green;
$red: red;
$grey: grey;
$white: white;
$darkblue: darkblue;
$crimson: crimson;
$darkred: darkred;

$rollcolor: $grey;

$color: $black;
$inner-color: $black;
$outline-color: rgba($grey, 0.5);

$groove-width: 2px;
$groove-color: $white;
$groove: $groove-width groove $groove-color;
$radius: .25em;

$border-under: 1px groove $groove-color;

$sheetbackground: url("../ui/parchment.jpg") repeat;

@mixin rollable {
  &:hover {
    text-shadow: 0 0 .2em $rollcolor;
    cursor: pointer;
  }
}

@mixin nodesto {
  font-family: $nodesto;
}

@mixin title {
  font-size: 120%;
  font-family: $nodesto;
}

@mixin textOutline {
  color: $inner-color;
  text-shadow: 
    -1px -1px 0 $outline-color,
    1px -1px 0 $outline-color,
    -1px 1px 0 $outline-color,
    1px 1px 0 $outline-color;
}


@mixin shortUnder {
  position: relative;
  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 50%;
    transform: translateX(50%);
    border-bottom: $border-under;
  }
}

.roll {
  @include rollable;
}

hr.divider {
  margin: 0em;
  border-width: .1em;
}

.border {
  border: 1px solid black;
}

.flexrow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.nowrap {
  flex-wrap: nowrap;
}
.align-stretch {
  align-items: stretch;
}
.align-start {
  align-items: flex-start;
}
.center {
  justify-content: center;
}
.flex-end {
  justify-content: flex-end;
}
.space-between {
  justify-content: space-between;
}
.space-around {
  justify-content: space-around;
}
.align-center {
  align-items: center;
}
.flexcol {
  display: flex;
  flex-direction: col;
  flex-wrap: nowrap;
}
.align-items-center {
  align-items: 'center';
}
.align-content-center {
  align-content: 'center';
}
.flex0 {
  flex: 0;
}
.flex1 {
  flex: 1;
}
.flex2 {
  flex: 2;
}
.flex3 {
  flex: 3;
}
.flex4 {
  flex: 4;
}
.flexchild1 {
  > * {
    flex: 1 0 auto;
  }
}

.input {
  position: relative;

  &.right {
    >input[type="text"] {
      text-align: right;
    }
    .unit {
      left: 50%;
    }
  }
  .unit {
    position: absolute;
    display: block;
    left: 15%;
    top: 10%;
    z-index: 9;
  }
}

input[type='checkbox'].display {
  background: transparent;
  border: none;
  text-align: center;
  font-size: 1em;
  &:hover {
    background: transparent;
    border: $groove;
  }
}

input[type="text"].display {
  background: transparent;
  border: $groove-width solid transparent;
  text-align: center;
  min-height: 1em;
  &:hover {
    background: transparent;
    border: $groove;
  }
  &.mod-input {
    font-size: .75em;
    margin-top: -.5em;
    margin-bottom: -.25em;
    line-height: 10px;
    padding: 0;
  }
}

select.display {
  background: transparent;
  border: none;
  text-align: center;
  margin: 0 $groove-width;
  &:hover {
    background: transparent;
    border: $groove;
    margin: 0
  }
}

.white {
  color: $white;
}

.text-outline {
  @include textOutline;
}

.level {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  >.level-left {
    order: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  >.level-right {
    order: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
  }
  .level-item {

  }
}

.text-center {
  text-align: center;
}

.no-margin {
  margin: 0;
  margin-bottom: 0;
}
.size4 {
  font-size: 1.5em;
}
.size5 {
  font-size: 1.25em;
}
.size6 {
  font-size: 1em;
}
.size7 {
  font-size: .75em;
}
.groove-bottom {
  border-bottom: $groove;
}
.groove-top {
  border-top: $groove;
}

.sr5 {
  .window-content {
    font-size: 115%;
    background: $sheetbackground;
    color: $color;
  }

  .editor {
    height: 10em;
    width: 100%;
    .tox-toolbar-overlord,
    .tox-toolbar__primary {
      background: none;
    }
  }

  .profile-img {
    padding: .25em;
    border-right: $groove;
    border-bottom: $groove;
  }
  .name {
    margin-bottom: 0;
    border-right: $groove;
    font-size: 200%;
    @include nodesto;
  }
  .attributes {
    border-top: $groove;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    &:last-child {
      border-bottom: $groove;
    }
    &.smooth {
      justify-content: space-between;

      >.attribute {
        flex: 1 0 auto;
      }
    }
    .attribute {
      @include title
      display: flex;
      text-align: center;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: space-around;
      padding: 0 .25em;
      min-width: 5rem;
      &.row {
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        >.attribute-name {
          width: auto;
        }
        .attribute-input {
          transform: translateY(20%);
        }
      }
      &:not(:last-child) {
        border-right: $groove;
      }
      &:not(.row) > .attribute-name {
        @include shortUnder;
      }
      >.attribute-name {
        font-size: 115%;
        width: 100%;
        text-align: center;
        margin-bottom: 0;
        &.roll {
          @include rollable;
        }
      }
      .attribute-input-container {
        align-text: center;
        position: relative;
        >.attribute-input {
          text-align: center;
          margin: 2px;
        }
        .unit {
          top: 0;
          left: 0;
        }
      }
      .track {
        display: flex;
        flex-flow: row;
        flex-wrap: nowrap;
        justify-content: center;
        margin-bottom: 0;
        .track-slash {
          transform: translateY(10%);
          flex: 0 0;
          &:after {
            content: '/';
          }
        }
        .track-max-value {
          margin-bottom: 0;
          margin-left: .25em;
        }
      }

    }
  }
  &.item {
    .item-name {
      @include title;
      font-size: 1.5em;
    }
    .technology {
      @include nodesto;
      > * {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
      }
      border-right: $groove;
      border-bottom: $groove;
    }
    .description {
      padding: 2px;
      min-height: 10em;
      border-top: $groove;
      border-bottom: $groove;
    }
  }
  &.actor {
    min-height: 56em;
    min-width: 55em;
    .sheet-header-row-2 {
      > * {
        text-align: center;
      }

      > *:not(:last-child) {
        margin-right: 1em;
      }
      > *:not(:first-child) {
        border-left: $groove;
      }

      .defense-icon {
        margin-left: .25em;
        margin-right: .25em;
        &:hover {
          color: $grey;
          cursor: pointer;
        }
      }
      .attribute-only-roll {
        margin-left: .25em;
        margin-right: .25em;
        text-align: center;
        margin-bottom: 0;
        &:hover {
          color: $grey;
          cursor: pointer;
        }
      }
    }
    .limit {
      @include nodesto;
      padding: 0 .1rem;
      border-right: $groove;
      margin-top: -2px;
      text-align: center;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      align-content: center;
    }
    .tab {
      border-radius: $radius;
      margin-top: 1em;
      .scroll-area {
        overflow-y: auto;
        max-height: 28em;
      }
    }
    .tabs >a {
      @include shortUnder;
      margin: .25em;
      position: relative;
    }
    .sheet-header-row-1 {
      margin-bottom: .5em;
    }
    .sheet-header {
      padding: 0;
    }
    .inventory {
      display: flex;
      flex-flow: column nowrap;
      width: 100%;
      font-size: 85%;
      position: relative;
      .item:not(.item-section) + .item:not(.item-section) {
        border-top: 1px solid rgba($black, 0.5);
      }
      .item {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        margin: .1em 0;
        padding: .25em;
        margin-right: $groove-width;
        margin-left: $groove-width;
        &.item-section {
          border: $groove;
          margin-right: 0;
          margin-left: 0;
          background: rgba($grey, 0.2);
        }
        .item-left {
          display: flex;
          flex-flow: row nowrap;
          justify-content: flex-start;
          align-items: center;
        }
        .item-right {
          display: flex;
          flex-flow: row nowrap;
          justify-content: flex-end;
          align-items: center;
        }
        .item-img {
          padding: 0 .25em;
          flex: 0;
          margin: -.25em 0;
          >img {
            margin: 0;
          }
          & + .item-name {
            border-left: none !important;
          }
        }
        .item-icons {
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-evenly;
          align-items: center;
          color: $grey;
          font-size: .75em;
          height: 100%;
        }
        .item-text {
          &:not(:first-child) {
            border-left: 1px solid rgba($grey, 0.5);
          }
          &.item-name {
            text-align: left;
          }
          min-width: 5em;
          margin-bottom: 0;
          flex: 1 0 auto;
          text-align: center;
          height: 100%;
        }
        .skill-item {
          min-width: 10em;
        }
        &.skill-header {
          @include rollable;
        }
      }
    }
  }
}
