@font-face {
  font-family: "Nodesto";
  src: url('../fonts/NodestoCapsCondensed.otf');
}

$nodesto: "Nodesto", "Signika", "Palatino Linotype", serif;

$black: black;
$green: green;
$red: red;
$grey: grey;
$white: white;
$darkblue: darkblue;
$crimson: crimson;
$darkred: darkred;
$light: darken($white, 10%);
$dark: darken($grey, 20%);

$rollcolor: $grey;

$color: $black;
$inner-color: $black;
$outline-color: rgba($grey, 0.5);

$groove-width: 2px;
$groove-color: $white;
$groove: $groove-width groove $groove-color;
$radius: .25em;

$border-under: 1px groove $groove-color;

$sheetbackground: url("../ui/parchment.jpg") repeat;

@mixin rollable {
  &:hover {
    text-shadow: 0 0 .2em $rollcolor;
    cursor: pointer;
  }
}

@mixin nodesto {
  font-family: $nodesto;
}

@mixin title {
  font-size: 120%;
  font-family: $nodesto;
}

@mixin textOutline {
  color: $inner-color;
  text-shadow: 
    -1px -1px 0 $outline-color,
    1px -1px 0 $outline-color,
    -1px 1px 0 $outline-color,
    1px 1px 0 $outline-color;
}


@mixin shortUnder {
  position: relative;
  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 50%;
    transform: translateX(50%);
    border-bottom: $border-under;
  }
}

.roll {
  @include rollable;
}

hr.divider {
  margin: 0em;
  border-width: .1em;
}

.border {
  border: 1px solid black;
}

.flexrow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.nowrap {
  flex-wrap: nowrap;
}
.align-stretch {
  align-items: stretch;
}
.align-start {
  align-items: flex-start;
}
.center {
  justify-content: center;
}
.flex-end {
  justify-content: flex-end;
}
.space-between {
  justify-content: space-between;
}
.space-around {
  justify-content: space-around;
}
.align-center {
  align-items: center;
}
.flexcol {
  display: flex;
  flex-direction: col;
  flex-wrap: nowrap;
}
.align-items-center {
  align-items: 'center';
}
.align-content-center {
  align-content: 'center';
}
.flex0 {
  flex: 0;
}
.flex1 {
  flex: 1;
}
.flex2 {
  flex: 2;
}
.flex3 {
  flex: 3;
}
.flex4 {
  flex: 4;
}
.flexchild1 {
  > * {
    flex: 1 0 auto;
  }
}
.groove-right {
  border-right: $groove;
}

.input {
  position: relative;

  &.right {
    >input[type="text"] {
      text-align: right;
    }
    .unit {
      left: 50%;
    }
  }
  .unit {
    position: absolute;
    display: block;
    left: 15%;
    top: 10%;
    z-index: 9;
  }
}

button.display {
  background: transparent;
  border: none;
  text-align: center;
  &:hover {
    background: transparent;
  }
}

input[type='checkbox'].hidden {
  display: none;
}

input[type='checkbox'].display {
  background: transparent;
  border: none;
  text-align: center;
  font-size: 1em;
  &:hover {
    background: transparent;
    border: $groove;
  }
}

input[type="text"].display {
  background: transparent;
  border: $groove-width solid transparent;
  text-align: center;
  min-height: 1em;
  &:hover:not(:disabled) {
    background: transparent;
    border: $groove;
  }
  &.left {
    text-align: left;
  }
  &.mod-input {
    font-size: .75em;
    margin-top: -.5em;
    margin-bottom: -.25em;
    line-height: 10px;
    padding: 0;
  }
  &:disabled {
    color: $black;
  }
}

select.display {
  background: transparent;
  border: none;
  text-align: center;
  margin: 0 $groove-width;
  &:hover {
    background: transparent;
    border: $groove;
    margin: 0
  }
}

.white {
  color: $white;
}

.text-outline {
  @include textOutline;
}

.level {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  >.level-left {
    order: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  >.level-right {
    order: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
  }
  .level-item {

  }
}

.text-center {
  text-align: center;
}

.no-margin {
  margin: 0;
  margin-bottom: 0;
}
.size4 {
  font-size: 1.5em;
}
.size5 {
  font-size: 1.25em;
}
.size6 {
  font-size: 1em;
}
.size7 {
  font-size: .75em;
}
.groove-bottom {
  border-bottom: $groove;
}
.groove-top {
  border-top: $groove;
}

.sr5 {
  .window-content {
    font-size: 115%;
    background: $sheetbackground;
    color: $color;
  }

  .editor {
    height: 10em;
    width: 100%;
    .tox-toolbar-overlord,
    .tox-toolbar__primary {
      background: none;
    }
  }

  .profile-img {
    padding: .25em;
    border-right: $groove;
    border-bottom: $groove;
  }
  .name {
    margin-bottom: 0;
    border-right: $groove;
    font-size: 200%;
    @include nodesto;
  }
  .tabs {
    margin: .25em;
    >a {
      @include shortUnder;
      margin: .25em;
      position: relative;
    }
  }
  .tab {
    border-radius: $radius;
    margin-top: .25em;
  }
  .inventory {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    font-size: 85%;
    position: relative;
    .item:not(.item-section) + .item:not(.item-section) {
      border-top: 1px solid rgba($black, 0.5);
    }
    .item {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      padding: 0 .25em;
      margin-right: $groove-width;
      margin-left: $groove-width;
      .has-desc {
        @include rollable;
      }
      &.item-section {
        border: $groove;
        margin-right: 0;
        margin-left: 0;
        background: rgba($grey, 0.2);
      }
      .item-left {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
      }
      .item-right {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
      }
      .item-img {
        padding-right: .25em;
        flex: 0;
        @include rollable;
        >img {
          margin: 0;
          transform: translateY(10%);
        }
        & + .item-name {
          border-left: none !important;
        }
      }
      .item-desc {
        padding: .25em;
        font-size: .8em;
        border-bottom: $groove;
        width: 100%;
      }
      .item-icons {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: center;
        color: $grey;
        font-size: .75em;
        height: 100%;
        .create-item {
          @include rollable;
        }
        .create-matrix-action {
          @include rollable;
        }
      }
      .item-text {
        min-width: 5em;
        margin: 0 .1rem;
        margin-bottom: 0;
        flex: 1 0 auto;
        text-align: center;
        height: 100%;
        &.six {
          min-width: 6em;
        }
        &.center {
          display: flex;
          flex-flow: row;
          justify-content: space-around;
          align-items: center;
          align-content: center;
        }
        &:not(:first-child) {
          border-left: 1px solid rgba($grey, 0.5);
        }
        &.item-name {
          text-align: left;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 9em;
        }
        &.rtg {
          min-width: 3em;
        }
      }
      .skill-item {
        min-width: 8em;
      }
      &.skill-header {
        @include rollable;
      }
    }
  }
  .attributes {
    border-top: $groove;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    &.no-border {
      border-top: none;
      border-bottom: none;
    }
    & + :not(.attributes) {
      border-top: $groove;
    }
    &:last-child {
      border-bottom: $groove;
    }
    .attribute {
      @include title
      display: flex;
      text-align: center;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: space-around;
      padding: 0 .25em;
      flex: 1 0 auto;
      min-width: 5rem;
      &.flex0 {
        min-width: 0;
        width: 0;
      }
      &.row {
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        >.attribute-name {
          width: auto;
        }
        &.space-around {
          justify-content: space-around;
        }
        .attribute-input {
          transform: translateY(20%);
        }
      }
      &:not(:last-child) {
        border-right: $groove;
      }
      &:not(.row) > .attribute-name {
        @include shortUnder;
      }
      >.attribute-name {
        font-size: 115%;
        width: 100%;
        text-align: center;
        margin-bottom: 0;
        &.icon {
          font-size: .75em;
        }
        &.roll {
          @include rollable;
        }
      }
      .attribute-input-container {
        align-text: center;
        position: relative;
        >.attribute-input {
          text-align: center;
          margin: 2px;
        }
        .unit {
          top: 0;
          left: 0;
        }
      }
      .track {
        display: flex;
        flex-flow: row;
        flex-wrap: nowrap;
        justify-content: center;
        margin-bottom: 0;
        .track-slash {
          transform: translateY(10%);
          flex: 0 0;
          &:after {
            content: '/';
          }
        }
        .track-plus {
          transform: translateY(10%);
          flex: 0 0;
          &:after {
            content: '+';
          }
        }
        .track-max-value {
          margin-bottom: 0;
          margin-left: .25em;
        }
      }

    }
  }
  &.chat-card {
    font-style: normal;
    font-size: 1rem;

    .card-header {
      padding: .25em 0;
      border-top: $groove;
      border-bottom: $groove;

      img {
        flex: 0 0 36px;
        margin-right: .5em;
      }

      h3 {
        font-size: 1.75em;
        align-self: center;
        flex: 1;
        margin: 0;
        @include nodesto;
      }
    }
    .card-content {
      padding: .5em 0;
      border-bottom: $groove;
      h3 {
        font-size: 1em;
        margin: 0;
        font-weight: bold;
      }
    }

    .card-buttons {
      margin: .5em 0;
      span {
        display: block;
        line-height: 2em;
        text-align: center;
      }

      button {
        font-size: 1em;
        height: 1.5em;
        line-height: 1.25em;
        margin: .25em 0;
        color: $light;
        background: $dark;
      }
    }

    .card-footer {
      padding: .25em 0 0;
      border-top: $groove;

      span {
        border-right: $groove;
        padding: 0;
        padding-right: .3em;
        font-size: .75em;

        &:last-child {
          border-right: none;
          padding-right: 0;
        }
      }
    }
  }
  &.item {
    .item-name-input {
      @include title;
      font-size: 1.5em;
    }
    .technology {
      @include nodesto;
      > * {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
      }
      border-right: $groove;
      border-bottom: $groove;
    }
    .description {
      padding: 2px;
      height: 100%;
      min-height: 16em;
      border: $groove;
      margin-left: -$groove-width;
      overflow-y: auto;
    }
  }
  &.actor {
    min-height: 45em;
    min-width: 60em;
    .sheet-header-row-2 {
      > * {
        text-align: center;
      }

      > *:not(:last-child) {
        margin-right: 1em;
      }
      > *:not(:first-child) {
        border-left: $groove;
      }

      .defense-icon {
        margin-left: .25em;
        margin-right: .25em;
        &:hover {
          color: $grey;
          cursor: pointer;
        }
      }
      .attribute-only-roll {
        margin-left: .25em;
        margin-right: .25em;
        text-align: center;
        margin-bottom: 0;
        &:hover {
          color: $grey;
          cursor: pointer;
        }
      }
    }
    .skills {
      width: 20em;
    }
    .limit {
      @include nodesto;
      padding: 0 .1rem;
      border-right: $groove;
      margin-top: -2px;
      text-align: center;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      align-content: center;
    }
    .scroll-area {
      overflow-y: scroll;
      max-height: 28em;
    }
  }
}
