{{> 'systems/shadowrun5e/dist/templates/common/List/ListHeader.html'
        name=(localize 'SR5.Miscellaneous')
        itemId='miscellaneous'
        icons=(ItemHeaderIcons 'miscellaneous')
}}
<div class="list-item">
    <div class="item-left">
        <div class="item-text item-name">
            {{localize "SR5.Metatype"}}
        </div>
    </div>
    <div class="item-right">
        <div class="item-text input">
            {{> "systems/shadowrun5e/dist/templates/common/Select.html"
                    options=config.character.types
                    value=data.metatype
                    path="data.metatype"
            }}
        </div>
    </div>
</div>