{{> 'systems/shadowrun5e/dist/templates/common/List/ListHeader.hbs'
        name=(localize 'SR5.Miscellaneous')
        itemId='miscellaneous'
        icons=(ItemHeaderIcons 'miscellaneous')
}}
<div class="list-item">
</div>