@mixin basic-rollable {
    &:hover {
        @include linkHovered;
    }
}
@mixin rollable {
    &:hover {
        @include linkHovered;
        cursor: pointer;
    }
}

@mixin systemFonts {
    font-family: $systemFonts;
}

@mixin title {
    font-family: $systemFonts;
    color: $color;
    @include textOutline;
}

@mixin textOutline {
    color: $color;
    text-shadow: -1px -1px 0 $outline-color, 1px -1px 0 $outline-color, -1px 1px 0 $outline-color,
        1px 1px 0 $outline-color;
}

@mixin shortUnder {
    position: relative;
    &:after {
        content: '';
        display: block;
        position: absolute;
        width: 50%;
        transform: translateX(50%);
        border-bottom: $border-under;
    }
}

@mixin sheet {
    background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url("assets/page.webp") repeat;
    color: $color;
}

@mixin linkHovered {
    text-shadow: 0 0 8px var(--color-shadow-primary);
}