@mixin basic-rollable {
    &:hover {
        @include rolloutline;
    }
}
@mixin rollable {
    &:hover {
        @include rolloutline;
        cursor: pointer;
        color: $cornflower;
    }
}

@mixin rolloutline {
    text-shadow: -1px -1px 0 $rollcolor, 1px -1px 0 $rollcolor, -1px 1px 0 $rollcolor,
        1px 1px 0 $rollcolor;
}

@mixin nodesto {
    font-family: $nodesto;
}

@mixin title {
    font-size: 120%;
    font-family: $nodesto;
    color: $color;
    @include textOutline;
}

@mixin textOutline {
    color: $color;
    text-shadow: -1px -1px 0 $outline-color, 1px -1px 0 $outline-color, -1px 1px 0 $outline-color,
        1px 1px 0 $outline-color;
}

@mixin shortUnder {
    position: relative;
    &:after {
        content: '';
        display: block;
        position: absolute;
        width: 50%;
        transform: translateX(50%);
        border-bottom: $border-under;
    }
}
