// -----------------------------------------------------------------------------
// SCSS Variables File
//
// Purpose:
// - Defines core global variables for internal SCSS usage only.
// - Contains system constants such as layout dimensions, font stacks, asset paths, etc.
// - Does NOT generate or assign CSS custom properties (those belong in theme files).
//
// Scope:
// - Purely for SCSS preprocessing and calculations.
// - Used throughout the system to maintain consistency in sizing, spacing, fonts, etc.
//
// Examples:
// - $actor-sheet-min-height: 43.125rem
// - $window-header-height: 1.25rem
// - $sans-font-stack: 'Signika', sans-serif
//
// -----------------------------------------------------------------------------

$base-url: '/systems/shadowrun5e/dist/';
$base-class: 'sr5v2';

// Typography
// Font Defs
$sans-font: 'Rajdhani';
$serif-font: null;
$mono-font: null;

// default weights
$default-sans-weight: 500;
$default-serif-weight: 400;
$default-mono-weight: 400;

// Stack creation
$sans-fallback-stack:
    ui-sans-serif, system-ui, sans-serif, var(--fa-style-family-classic), 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
$serif-fallback-stack: ui-serif, 'Times New Roman', Georgia, 'Noto Serif', 'Roboto Serif', serif;
$mono-fallback-stack: ui-monospace, Consolas, Menlo, 'Liberation Mono', 'Roboto Mono', monospace;

$font-stacks: (
    'sans': (
        user-font: $sans-font,
        fallback: $sans-fallback-stack,
        default-weight: $default-sans-weight,
    ),
    'serif': (
        user-font: $serif-font,
        fallback: $serif-fallback-stack,
        default-weight: $default-serif-weight,
    ),
    'mono': (
        user-font: $mono-font,
        fallback: $mono-fallback-stack,
        default-weight: $default-mono-weight,
    ),
);

$actor-sheet-min-width: 54.375rem;
$actor-sheet-min-height: 43.125rem;

$grid__cols: 12;
$sheet-max-width: 690px;
