/// Global system variables unrelated to theming.
/// Layout dimensions, assets paths, etc.
///
/// Should NOT set any CSS custom properties. Purely for internal SCSS usage.
///
/// Examples:
/// - $actor-sheet-min-height: 43.125rem
/// - $window-header-height: 1.25rem
/// - $sans-font-stack: 'Signika', sans-serif;

$base-url: '/systems/shadowrun5e/dist/';

$sans-font-stack: 'Signika', sans-serif;
$serif-font-stack:  'Palatino Linotype', serif;
$mono-font-stack: monospace;


$actor-sheet-min-width: 54.375rem;
$actor-sheet-min-height: 43.125rem;
