<footer class="sheet-footer">
    <button class="sr5-submit sr5-button" type="button" data-action="roll">
        <i class="fas fa-dice-six"></i>{{localize "SR5.Roll"}}
    </button>
    <button class="sr5-cancel sr5-button" type="button" data-action="cancel">
        <i class="fas fa-ban"></i>{{localize "SR5.Dialogs.Common.Cancel"}}
    </button>
</footer>
