<div class="list-item list-item-header {{cssClass}}">
    <div class="list-item-start">
        <label>
            {{localize label}}
        </label>
    </div>

    <div class="list-item-col skinny-col">
        <label data-tooltip="SR5.Contact.LoyaltyConnectionHelp">{{localize "SR5.Contact.LoyaltyConnectionLabel"}}</label>
    </div>

    <div class="list-item-icons {{#if @root.isPlayMode}} skinny-icons {{/if}}">
        {{> "systems/shadowrun5e/templates/v2/list-items/header-add-icon.hbs" type }}
    </div>
</div>
