{{#> 'systems/shadowrun5e/dist/templates/common/TabWrapper.html' tabId='bio'}}
    <div class="inventory">
        <div class="split-container">
            <div>
                {{> 'systems/shadowrun5e/dist/templates/common/List/ListHeader.html'
                        name=(localize 'SR5.Biography')
                        itemId='biography'
                        icons=(ItemHeaderIcons 'biography')
                }}
                {{editor biographyHTML target="system.description.value" button=true
                         editable=true engine="prosemirror" collaborate=false}}
            </div>
            <div class="scroll-area">
                {{> 'systems/shadowrun5e/dist/templates/common/List/ListHeader.html'
                        name=(localize 'SR5.Quality')
                        itemId='quality'
                        icons=(ItemHeaderIcons 'quality')
                        rightSide=(ItemHeaderRightSide 'quality')
                }}
                {{#each itemType.quality as |item i|}}
                    {{> 'systems/shadowrun5e/dist/templates/common/List/ListItem.html'
                            img=item.img
                            name=item.name
                            itemId=item._id
                            icons=(ItemIcons item)
                            rightSide=(ItemRightSide item)
                            hasDesc="true"
                            hasRoll="true"
                            description=item.description.value
                    }}
                {{/each}}
            </div>
        </div>
    </div>
{{/'systems/shadowrun5e/dist/templates/common/TabWrapper.html' }}
