{{#> 'systems/shadowrun5e/dist/templates/common/TabWrapper.html' tabId='critter_powers'}}
    <div class="inventory">
        <div class="scroll-area">
            {{> 'systems/shadowrun5e/dist/templates/common/List/ListHeader.html'
                name=(localize "SR5.ItemTypes.CritterPower")
                itemId="critter_power"
                icons=(ItemHeaderIcons "critter_power")
                rightSide=(ItemHeaderRightSide "critter_power")
            }}
            {{#each itemType.critter_power as |item i|}} {{#unless system.optional}}
                {{> 'systems/shadowrun5e/dist/templates/common/List/ListItem.html'
                    img=item.img
                    name=item.name
                    itemId=item._id
                    icons=(ItemIcons item)
                    rightSide=(ItemRightSide item)
                    hasDesc="true"
                    hasRoll="true"
                    description=item.description.value
                }}
            {{/unless}} {{/each}}

            {{> 'systems/shadowrun5e/dist/templates/common/List/ListHeader.html'
                name=(localize "SR5.ItemTypes.StandardCritterPower")
                itemId="standard_critter_power"
                icons=(ItemHeaderIcons "critter_power")
                rightSide=(ItemHeaderRightSide "critter_power")
            }}
            {{#each itemType.critter_power as |item i|}} {{#ife system.optional "standard"}}
                {{> 'systems/shadowrun5e/dist/templates/common/List/ListItem.html'
                    img=item.img
                    name=item.name
                    itemId=item._id
                    icons=(ItemIcons item)
                    rightSide=(ItemRightSide item)
                    hasDesc="true"
                    hasRoll="true"
                    description=item.description.value
                }}
            {{/ife}} {{/each}}

            {{> 'systems/shadowrun5e/dist/templates/common/List/ListHeader.html'
                name=(localize "SR5.ItemTypes.EnabledOptionCritterPower")
                itemId="enabled_option_critter_power"
                icons=(ItemHeaderIcons "critter_power")
                rightSide=(ItemHeaderRightSide "critter_power")
            }}
            {{#each itemType.critter_power as |item i|}} {{#ife system.optional "enabled_option"}}
                {{> 'systems/shadowrun5e/dist/templates/common/List/ListItem.html'
                    img=item.img
                    name=item.name
                    itemId=item._id
                    icons=(ItemIcons item)
                    rightSide=(ItemRightSide item)
                    hasDesc="true"
                    hasRoll="true"
                    description=item.description.value
                }}
            {{/ife}} {{/each}}

            {{> 'systems/shadowrun5e/dist/templates/common/List/ListHeader.html'
                name=(localize "SR5.ItemTypes.DisabledOptionCritterPower")
                itemId="disabled_option_critter_power"
                icons=(ItemHeaderIcons "critter_power")
                rightSide=(ItemHeaderRightSide "critter_power")
            }}
            {{#each itemType.critter_power as |item i|}} {{#ife system.optional "disabled_option"}}
                {{> 'systems/shadowrun5e/dist/templates/common/List/ListItem.html'
                    img=item.img
                    name=item.name
                    itemId=item._id
                    icons=(ItemIcons item)
                    rightSide=(ItemRightSide item)
                    hasDesc="true"
                    hasRoll="true"
                    description=item.description.value
                }}
            {{/ife}} {{/each}}
        </div>
    </div>
{{/'systems/shadowrun5e/dist/templates/common/TabWrapper.html'}}
