{{#> 'systems/shadowrun5e/dist/templates/common/TabWrapper.html' tabId='critter_powers'}}
    <div class="inventory">
        <div class="scroll-area">
            {{> 'systems/shadowrun5e/dist/templates/common/List/ListHeader.html'
                name=(localize "SR5.Labels.ActorSheet.CritterPowers")
                itemId="critter_power"
                icons=(ItemHeaderIcons "critter_power")
                rightSide=(ItemHeaderRightSide "critter_power")
            }}
            {{#each itemType.critter_power as |item i|}} {{#if (or (not system.optional) (eq system.optional "standard"))}}
                {{> 'systems/shadowrun5e/dist/templates/common/List/ListItem.html'
                    img=item.img
                    name=item.name
                    itemId=item._id
                    icons=(ItemIcons item)
                    rightSide=(ItemRightSide item)
                    hasDesc="true"
                    hasRoll="true"
                    description=item.description.value
                }}
            {{/if}} {{/each}}

            {{> 'systems/shadowrun5e/dist/templates/common/List/ListHeader.html'
                name=(localize "SR5.Labels.ActorSheet.EnabledOptionCritterPowers")
                itemId="critter_power"
                icons=(ItemHeaderIcons "critter_power")
                rightSide=(ItemHeaderRightSide "critter_power")
            }}
            {{#each itemType.critter_power as |item i|}} {{#ife system.optional "enabled_option"}}
                {{> 'systems/shadowrun5e/dist/templates/common/List/ListItem.html'
                    img=item.img
                    name=item.name
                    itemId=item._id
                    icons=(ItemIcons item)
                    rightSide=(ItemRightSide item)
                    hasDesc="true"
                    hasRoll="true"
                    description=item.description.value
                }}
            {{/ife}} {{/each}}

            {{> 'systems/shadowrun5e/dist/templates/common/List/ListHeader.html'
                name=(localize "SR5.Labels.ActorSheet.DisabledOptionCritterPowers")
                itemId="critter_power"
                icons=(ItemHeaderIcons "critter_power")
                rightSide=(ItemHeaderRightSide "critter_power")
            }}
            {{#each itemType.critter_power as |item i|}} {{#ife system.optional "disabled_option"}}
                {{> 'systems/shadowrun5e/dist/templates/common/List/ListItem.html'
                    img=item.img
                    name=item.name
                    itemId=item._id
                    icons=(ItemIcons item)
                    rightSide=(ItemRightSide item)
                    hasDesc="true"
                    hasRoll="true"
                    description=item.description.value
                }}
            {{/ife}} {{/each}}
        </div>
    </div>
{{/'systems/shadowrun5e/dist/templates/common/TabWrapper.html'}}
