{{#> 'systems/shadowrun5e/dist/templates/common/TabWrapper.html' tabId='matrix'}}
<nav class="tabs" data-group="matrix">
    <a class="item" data-tab="decking">{{localize "SR5.Labels.ActorSheet.Hacking"}}</a>
    <a class="item" data-tab="config">{{localize "SR5.Labels.ActorSheet.DeviceSetup"}}</a>
</nav>
<section data-group='matrix' class="tabsbody">
    {{#> 'systems/shadowrun5e/dist/templates/common/TabWrapper.html' tabGroup='matrix' tabId='decking'}}
    <div class="inventory">
        <div class="attributes">
            <div class="block">
                <div class="block-line gap-4 border-bottom center">
                    <label class="matrix-label">
                        {{localize "SR5.Labels.ActorSheet.Network"}}
                        {{#if network}}
                        <span>{{network.name}}</span>
                        <a class="" data-tooltip="SR5.Tooltips.Actor.ConnectNetwork">
                            <i class="item-icon fas fa-right-from-bracket disconnect-network"></i>
                        </a>
                        {{else}}
                        <span>{{localize "SR5.Labels.ActorSheet.NoNetwork"}}</span>
                        {{/if}}
                    </label>
                    <button class="show-matrix-target-acquisition">{{localize "SR5.Sheet.MatrixTargets"}}</button>
                    <button class="reboot-persona-device">{{localize "SR5.Sheet.RebootDevice"}}</button>
                    <div>
                        <select name="system.matrix.markPlacementAction">
                            <option>Brute Force</option>
                            <option>Hack on The Fly</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="split-container">
            <div class="scroll-area scroll-area-matrix-hacking">
                {{> 'systems/shadowrun5e/dist/templates/actor/parts/matrix/Marks.html' }}
            </div>
            <div>
                {{> 'systems/shadowrun5e/dist/templates/common/List/ListHeader.html'
                name=(localize 'SR5.Actions')
                }}
                <div class="scroll-area scroll-area-matrix-hacking matrix-hacking-actions">
                    {{#each matrixActions}}
                    {{log this}}
                    {{log this.uuid}}
                    {{> 'systems/shadowrun5e/dist/templates/common/List/ListItem.html'
                    name=this.name
                    itemId=this.uuid
                    itemType="matrix-action"
                    hasRoll="true"
                    }}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    {{/ 'systems/shadowrun5e/dist/templates/common/TabWrapper.html'}}
    {{#> 'systems/shadowrun5e/dist/templates/common/TabWrapper.html' tabGroup='matrix' tabId='config'}}
    <div class="attributes">
        {{> "systems/shadowrun5e/dist/templates/actor/parts/matrix/DeviceRating.html" }}
        <div class="block">
            <div class="block-line gap-4 border-bottom center">
                <label class="matrix-label">
                    {{localize "SR5.HotSim"}}
                    <input type="checkbox" class="submit-checkbox" name="system.matrix.hot_sim" {{checked
                        system.matrix.hot_sim}} />
                </label>
                <label class="matrix-label">
                    {{localize "SR5.RunningSilent"}}
                    <input type="checkbox" class="submit-checkbox" name="system.matrix.running_silent" {{checked
                        system.matrix.running_silent}} />
                </label>
            </div>
            <div class="attribute">
                <div class="attribute-name">
                    {{localize "SR5.ConditionMonitor"}}
                </div>
                {{> 'systems/shadowrun5e/dist/templates/common/HorizontalCellInput.html'
                value=system.matrix.condition_monitor.value
                max=system.matrix.condition_monitor.max
                id="matrix"
                }}
            </div>
        </div>
        {{#each config.matrixAttributes as |label key|}}
        {{> "systems/shadowrun5e/dist/templates/actor/parts/matrix/MatrixAttribute.html"
        matrixAtt=(lookup ../system.matrix key)
        isCyberdeck=../system.matrix.is_cyberdeck
        key=key
        label=label
        matrixAttributes=../config/matrixAttributes
        item=../system.matrix.item }}
        {{/each}}
    </div>
    <div class="inventory">
        <div class="scroll-area scroll-area-matrix">
            {{#if emerged}}
            {{> 'systems/shadowrun5e/dist/templates/actor/parts/matrix/ComplexFormList.html' }}
            {{> 'systems/shadowrun5e/dist/templates/actor/parts/matrix/CompilationList.html' }}
            {{/if}}
            {{> 'systems/shadowrun5e/dist/templates/actor/parts/matrix/ProgramList.html' }}
        </div>
    </div>
    {{/ 'systems/shadowrun5e/dist/templates/common/TabWrapper.html'}}
</section>
{{/ 'systems/shadowrun5e/dist/templates/common/TabWrapper.html'}}