{{#> 'systems/shadowrun5e/dist/templates/common/TabWrapper.hbs' tabId='social'}}
    <div class="inventory">
        <div class="split-container">
            {{> 'systems/shadowrun5e/dist/templates/actor/parts/SinAndLifestyleList.hbs' }}
            {{> 'systems/shadowrun5e/dist/templates/actor/parts/ContactList.hbs' }}
        </div>
    </div>
{{/'systems/shadowrun5e/dist/templates/common/TabWrapper.hbs'}}
