{{#> 'systems/shadowrun5e/dist/templates/common/TabWrapper.hbs' tabId='spells'}}
    <div class="inventory">
        <div class="scroll-area">
            {{> 'systems/shadowrun5e/dist/templates/actor/parts/magic/SpellList.hbs' }}
        </div>
    </div>
{{/'systems/shadowrun5e/dist/templates/common/TabWrapper.hbs'}}
