<div class="fill-container">
    <div style="display: flex; flex-flow: row nowrap; align-items: center; justify-content: center; gap: .5rem;">
        <label class="nuyen-label" data-tooltip="SR5.NuyenManager.CurrentNuyen">¥{{nuyenValue nuyen}}</label>
        <label><i class="fas fa-plus"></i></label>
        <div style="flex: none; display: flex; flex-flow: column nowrap; align-items: center; gap: .5rem;">
            <div class="nuyen-mod-button-container">
                <a data-action="increaseNuyen" data-amount=10>+¥10</a>
                <a data-action="increaseNuyen" data-amount=100>+¥100</a>
                <a data-action="increaseNuyen" data-amount=1000>+¥1000</a>
            </div>
            <div>
                <input class="center" type="number" name="incoming-nuyen" value={{nuyenModifier}} />
            </div>
            <div class="nuyen-mod-button-container">
                <a data-action="reduceNuyen" data-amount=10>-¥10</a>
                <a data-action="reduceNuyen" data-amount=100>-¥100</a>
                <a data-action="reduceNuyen" data-amount=1000>-¥1000</a>
            </div>
        </div>
        <label><i class="fas fa-equals"></i></label>
        <label class="nuyen-label {{#if (gt nuyenModifier 0)}} nuyen-positive {{else if (lt nuyenModifier 0)}} nuyen-negative {{/if}}"
               data-tooltip="SR5.NuyenManager.FinalNuyen">¥{{nuyenValue modifiedNuyen}}</label>
    </div>
</div>
