<footer class="sheet-footer" style='border-color: transparent;'>
    <button class="sr5-cancel sr5-button" type="button" data-action="cancel"><i class="fas fa-ban"></i>{{localize "SR5.NuyenManager.Cancel"}}</button>
    <button class="sr5-submit sr5-button" type="button" data-action="submitChanges"><i class="fas fa-save"></i>{{localize "SR5.NuyenManager.Submit"}}</button>
</footer>
