<h1>{{localize "SR5.ChangelogApplication.Title"}}</h1>
<p>{{localize "SR5.ChangelogApplication.Reason"}}</p>
<p>{{localize "SR5.ChangelogApplication.Changelog"}}: <a href="https://github.com/smilligan93/SR5-FoundryVTT/releases/latest/">{{localize "SR5.ChangelogApplication.LatestChangelog"}}</a></p>
<p>{{localize "SR5.ChangelogApplication.ReportIssues"}}: <a href="https://github.com/smilligan93/SR5-FoundryVTT/issues">{{localize "SR5.ChangelogApplication.IssuesOverview"}}</a></p>
<p>{{localize "SR5.ChangelogApplication.ReportUsingBugReporter"}} (<a href="https://github.com/League-of-Foundry-Developers/bug-reporter">Bug-Reporter</a>)</p>