<form class="{{cssClass}} wholesheet" autocomplete="off">
    <div class="inventory">
        {{#if editable_name}}
        <div class="list-item item-section">
            <div class="list-item-content">
                <div class="item-left">
                    <div class="item-text item-name">
                        {{localize "SR5.Name"}}
                    </div>
                </div>
                <div class="item-right">
                    <div class="item-text item-name">
                        <input class="display" type="text" value="{{skill.name}}" name="skill.name" />
                    </div>
                </div>
            </div>
        </div>
        {{/if}}
        <div class="list-item item-section">
            <div class="list-item-content">
                <div class="item-left">
                    <div class="item-text item-name">
                        <a class="open-source" title="{{localize 'SR5.OpenSource'}}">
                            <i class="fas fa-file"></i> 
                        </a>
                    </div>
                </div>
                <div class="item-right">
                    <div class="item-text item-name">
                        <input class="display" type="text" value="{{skill.link}}" name="skill.link" />
                    </div>
                </div>
        </div>
        {{#if editable_attribute}}
        <div class="list-item item-section">
            <div class="list-item-content">
                <div class="item-left">
                    <div class="item-text item-name">
                        {{localize "SR5.Attribute"}}
                    </div>
                </div>
                <div class="item-right">
                    <div class="item-text item-name">
                        {{> "systems/shadowrun5e/dist/templates/common/Select.html"
                                options=attributes
                                value=skill.attribute
                                path="skill.attribute"
                        }}
                    </div>
                </div>
            </div>
        </div>
        {{/if}}
        {{#if editable_canDefault}}
        <div class="list-item item-section">
            <div class="list-item-content">
                <div class="item-left">
                    <div class="item-text item-name">
                        {{localize "SR5.CanDefault"}}
                    </div>
                </div>
                <div class="item-right">
                    <div class="item-text item-name">
                        <input type="checkbox" class="checkbox" name="skill.canDefault" {{checked skill.canDefault}}/>
                    </div>
                </div>
            </div>
        </div>
        {{/if}}
        <div class="list-item item-section value">
            <div class="list-item-content">
                <div class="item-left">
                    <div class="item-text item-name">
                        {{localize "SR5.Total"}} {{localize "SR5.Value"}}
                    </div>
                </div>
                <div class="item-right">
                    <div class="item-text rtg">
                        <input
                            class="display"
                            type="text"
                            value="{{skill.value}}"
                            disabled
                            data-dtype="Number"
                        />
                    </div>
                </div>                
            </div>
            {{> "systems/shadowrun5e/dist/templates/common/ValueModifiers.html" value=skill}}
        </div>
        <div class="list-item">
            <div class="list-item-content">
                <div class="item-left">
                    <div class="item-text item-name">
                        {{localize "SR5.Base"}} {{localize "SR5.Value"}}
                    </div>
                </div>
                <div class="item-right">
                    <div class="item-text rtg">
                        <input
                            class="display"
                            type="text"
                            value="{{skill.base}}"
                            name="skill.base"
                            placeholder="0"
                            data-dtype="Number"
                        />
                    </div>
                </div>
            </div>
        </div>
        <div class="list-item">
            <div class="list-item-content">
                <div class="item-left">
                    <div class="item-text item-name">
                        {{localize "SR5.Item"}} {{localize "SR5.Value"}}
                    </div>
                </div>
                <div class="item-right">
                    <div class="item-text rtg">
                        <input
                            class="display"
                            type="text"
                            value="{{skill.item}}"
                            disabled
                            placeholder="-"
                            data-dtype="Number"
                        />
                    </div>
                </div>
            </div>
        </div>
        <div class="list-item item-section">
            <div class="list-item-content">
                <div class="item-left">
                    <div class="item-text item-name">
                        {{localize "SR5.Bonuses"}}
                    </div>
                </div>
                <div class="item-right">
                    <div class="item-text item-icons rtg">
                        <a class="add-bonus">
                            <i class="fas fa-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="scroll-area">
            {{#each skill.bonus as |bonus id|}}
            <div class="list-item">
                <div class="list-item-content">
                    <div class="item-left flex1">
                        <input
                                class="display"
                                type="text"
                                name="skill.bonus.{{id}}.key"
                                value="{{bonus.key}}"
                                placeholder='{{localize "SR5.Bonus"}}'
                        />
                        <input
                                class="display"
                                type="text"
                                name="skill.bonus.{{id}}.value"
                                value="{{bonus.value}}"
                                placeholder='0'
                        />
                    </div>
                    <div class="item-right">
                        <div class="item-text item-icons rtg">
                            <a class="remove-bonus" title="Remove Bonus" data-spec="{{id}}">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="list-item item-section">
            <div class="list-item-content">
                <div class="item-left">
                    <div class="item-text item-name">
                        {{localize "SR5.Specializations"}}
                    </div>
                </div>
                <div class="item-right">
                    <div class="item-text item-icons rtg">
                        <a class="add-spec">
                            <i class="fas fa-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="scroll-area">
            {{#each skill.specs as |spec id|}}
            <div class="list-item">
                <div class="list-item-content">
                    <div class="item-left flex1">
                        <input
                            class="display"
                            type="text"
                            name="skill.specs.{{id}}"
                            value="{{spec}}"
                            placeholder='{{localize "SR5.Specialization"}}'
                        />
                    </div>
                    <div class="item-right">
                        <div class="item-text item-icons rtg">
                            <a class="remove-spec" title="Remove Specialization" data-spec="{{id}}">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</form>
