version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      everything:
        patterns:
          - "*"
    labels:
      - "dependencies"
    ignore:
      - dependency-name: "@types/node"
