# IDE and Editor files
.idea
.vscode
.vscode/launch.json
.vs
*.swp
*.code-workspace

# Build and Dependency folders
.tsbuildinfo
node_modules
dist
packs

# FoundryVTT specific files
foundryconfig.json
shadowrun5e.lock
