# OS
*.swp
.vs

# Editor / IDE
.idea
.vscode
.vscode/launch.json
*.code-workspace

# Node / dependencies / lock files
node_modules
shadowrun5e.lock

# Build / distribution
dist

# Foundry
foundryconfig.json

# Packs: ignore all built packs but keep source
packs/*
!packs/_source
