{
    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": true,
    "quoteProps": "consistent",
    "trailingComma": "all",
    "bracketSpacing": true,
    "endOfLine": "crlf",
    "printWidth": 160,
    "semi": true
}
