.flexrow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-contents: flex-start;
}
.flexrow > * {
  flex: 1;
}
.flexcol {
  display: flex;
  flex-direction: col;
  flex-wrap: nowrap;
}
.flexcol > * {
  flex: 1;
}
.flex2 {
  flex: 2;
}
.flex3 {
  flex: 3;
}

.text-center {
  text-align: center;
}

.no-margin {
  margin: 0;
  margin-bottom: 0;
}

.align-items-center {
  align-items: "center";
}

.sr5 .character-info {
}

.sr5.actor .sheet-header {
  padding: 0;
}
.sr5.actor .sheet-header-row-1 {
  margin-bottom: .5rem;
}
.sr5.actor .attributes {
  width: 100%;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.sr5.actor .attribute {
  align-items: center;
  justify-content: center;
  border: 1px solid red;
}
.sr5.actor .attribute > h3 {
  text-align: center;
}

.sr5.actor .attribute-rolls {
  width: 100%;
  flex-wrap: nowrap;
  justify-content: space-around;
  border: 1px solid black;
}
.sr5.actor .attribute-rolls > h3 {
  text-align: center;
}

.sr5.actor .skill {
  border: 1px solid black;
  padding: .25rem;
}

.sr5 .profile-img {
  margin: .25rem;
}
