<section class="tab hide-overflow{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
    <div class="fill-container">
        {{editor descriptionHTML target="system.description.value" button=true editable=true engine="prosemirror" collaborate=false}}
    </div>
</section>
