<section class="tab hide-overflow{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
    <div class="fill-container">
        <div class="scrollable">
            {{#if (and systemFields.armor (not systemFields.technology))}}
                {{> "systems/shadowrun5e/dist/templates/v2/item/tabs/details/armor.hbs"}}
            {{/if}}

            {{#if (eq item.type 'ammo')}}
                {{> "systems/shadowrun5e/dist/templates/v2/item/tabs/details/ammo.hbs"}}
            {{/if}}

            {{#if (eq item.type 'host')}}
                {{> "systems/shadowrun5e/dist/templates/v2/item/tabs/details/host.hbs"}}
            {{/if}}

            {{#if (isType item 'device' 'host')}}
                {{> "systems/shadowrun5e/dist/templates/v2/item/tabs/details/device-host.hbs"}}
            {{/if}}

            {{#if (eq item.type 'weapon')}}
                {{> "systems/shadowrun5e/dist/templates/v2/item/tabs/details/weapon.hbs"}}
            {{/if}}

            {{#if (eq item.type 'modification')}}
                {{> "systems/shadowrun5e/dist/templates/v2/item/tabs/details/modification.hbs"}}
            {{/if}}

            {{#if (eq item.type 'adept_power')}}
                {{> "systems/shadowrun5e/dist/templates/v2/item/tabs/details/adept_power.hbs"}}
            {{/if}}

            {{#if (isType item 'call_in_action')}}
                {{> "systems/shadowrun5e/dist/templates/v2/item/tabs/details/call_in_action.hbs"}}
            {{/if}}

            {{#if (eq item.type 'contact')}}
                {{> "systems/shadowrun5e/dist/templates/v2/item/tabs/details/contact.hbs"}}
            {{/if}}

            {{#if (isType item 'complex_form')}}
                {{> "systems/shadowrun5e/dist/templates/v2/item/tabs/details/complex_form.hbs"}}
            {{/if}}

            {{#if (eq item.type 'critter_power')}}
                {{> "systems/shadowrun5e/dist/templates/v2/item/tabs/details/critter_power.hbs"}}
            {{/if}}

            {{#if (eq item.type 'grid')}}
                {{> "systems/shadowrun5e/dist/templates/v2/item/tabs/details/grid.hbs"}}
            {{/if}}

            {{#if (eq item.type 'lifestyle')}}
                {{> "systems/shadowrun5e/dist/templates/v2/item/tabs/details/lifestyle.hbs"}}
            {{/if}}

            {{#if (eq item.type 'program')}}
                {{> "systems/shadowrun5e/dist/templates/v2/item/tabs/details/program.hbs"}}
            {{/if}}

            {{#if (eq item.type 'quality')}}
                {{> "systems/shadowrun5e/dist/templates/v2/item/tabs/details/quality.hbs"}}
            {{/if}}

            {{#if (eq item.type 'ritual')}}
                {{> "systems/shadowrun5e/dist/templates/v2/item/tabs/details/ritual.hbs"}}
            {{/if}}

            {{#if (isType item 'bioware' 'cyberware')}}
                {{> "systems/shadowrun5e/dist/templates/v2/item/tabs/details/ware.hbs"}}
            {{/if}}

            {{#if (eq item.type 'spell')}}
                {{> "systems/shadowrun5e/dist/templates/v2/item/tabs/details/spell.hbs"}}
            {{/if}}

            {{#if (isType item 'sprite_power')}}
                {{> "systems/shadowrun5e/dist/templates/v2/item/tabs/details/sprite_power.hbs"}}
            {{/if}}

            {{#if (and systemFields.technology (not (isType item 'bioware' 'cyberware')))}}
                {{> "systems/shadowrun5e/dist/templates/v2/item/tabs/details/technology.hbs"}}
            {{/if}}

            {{#if (and systemFields.capacity systemFields.technology)}}
                {{> "systems/shadowrun5e/dist/templates/v2/item/tabs/details/capacity.hbs"}}
            {{/if}}

            {{#if (and systemFields.armor systemFields.technology)}}
                {{> "systems/shadowrun5e/dist/templates/v2/item/tabs/details/armor.hbs"}}
            {{/if}}

            {{#if systemFields.action}}
                {{> "systems/shadowrun5e/dist/templates/v2/item/tabs/details/action.hbs"}}
            {{/if}}

            {{#if (and systemFields.capacity (not systemFields.technology) (not systemFields.armor))}}
                {{> "systems/shadowrun5e/dist/templates/v2/item/tabs/details/capacity.hbs"}}
            {{/if}}

            {{#if (isType item 'skill')}}
                {{> "systems/shadowrun5e/dist/templates/v2/item/tabs/details/skill.hbs"}}
            {{/if}}
        </div>
    </div>
</section>
