<section class="tab hide-overflow{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
    <div class="fill-container">
        {{> 'systems/shadowrun5e/dist/templates/v2/list-items/item-modification/header.hbs'
            label='SR5.Tabs.Item.Mods'
            valueLabel='SR5.EssenceCost'
            type='modification'
            cssClass="header-for-scrollable"
        }}
        <div class="scrollable">
            {{#each @root.wareMods}}
                {{> 'systems/shadowrun5e/dist/templates/v2/list-items/item-modification/item.hbs' item=this }}
            {{/each}}
        </div>
    </div>
</section>
