<section class="tab hide-overflow{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
    <div class="fill-container">
        <div class="standard-form scrollable">
            {{formGroup systemFields.type value=system.type localize=true rootId=@root.rootId disabled=@root.isPlayMode}}
        </div>
    </div>
</section>
