<section class="tab hide-overflow{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
    <div class="fill-container">
        {{> 'systems/shadowrun5e/dist/templates/v2/list-items/weapon-modification/header.hbs'
            label='SR5.Weapon.Mod'
            type='weapon_modification'
        }}
        <div class="scrollable">
            {{#each @root.weaponMods}}
                {{> 'systems/shadowrun5e/dist/templates/v2/list-items/weapon-modification/item.hbs' item=this }}
            {{/each}}
        </div>
    </div>
</section>
