@use '../config';

.sr5.actor {
    min-height: config.$actor-sheet-min-height;
    min-width: config.$actor-sheet-min-width;
    .window-content {
        border: none;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
    .wholesheet {
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        overflow: hidden;
    }
    .name {
        @include config.systemFonts;
        background: var(--sr5-application-title-background);
        @include config.font-size(28); // bastardization, this sets the height of the container not the font size!
        margin-bottom: 0;
        padding-left: 5px;
        input[type=text].display {
            background: none;
        }
    }
    .sheetbody {
        overflow: hidden;
        flex: 1;
    }
    .limit-title {
        @include config.font-size(16);
    }
    .attributes {
        display: flex;
        flex-flow: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        &.center {
            justify-content: space-evenly;
        }
        &.no-border {
            border-top: none;
            border-bottom: none;
        }
        &.wrap {
            flex-wrap: wrap;
        }
        .attribute {
            @include config.title;

            align-items: center;
            color: config.$yellow;
            display: flex;
            flex-flow: column nowrap;
            flex: 1 0 auto;
            @include config.font-size(14);
            justify-content: space-evenly;
            min-width: 4em;
            padding-top: 4px;
            text-align: center;

            &.no-border {
                border-right: none;
            }
            &.no-grow {
                flex-grow: 0;
            }
            &:hover {
                .attribute-input-container.row {
                    visibility: visible;
                }
            }
            &.flex0 {
                min-width: 0;
                width: 0;
            }
            &.row {
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
                align-content: center;
                > .attribute-name {
                    width: auto;
                }
                &.space-around {
                    justify-content: space-around;
                }
                .attribute-input {
                    transform: translateY(20%);
                }
            }
            > .attribute-value {
                > .attribute-value-total {
                    color: white;
                    @include config.font-size(18);
                    width: 100%;
                    text-align: center;
                }
            }

            > .attribute-name {
                @include config.font-size(16);
                width: 100%;
                text-align: center;
                margin-bottom: 0;
                &.icon {
                    @include config.font-size(12);
                }
                &.roll {
                    @include config.rollable;
                }
            }

            .attribute-input-container {
                text-align: center;
                position: relative;
                margin-bottom: 2px;
                .mod {
                    @include config.font-size(12);
                    margin-top: -2px;
                }
                &.row {
                    //visibility: hidden;
                    display: flex;
                    flex-flow: row;
                }
                > .attribute-input {
                    text-align: center;
                    margin: 2px;
                }
            }

            .toggle-fresh-import-all-off {
                @include config.font-size(12);
                background-color: config.$bgrButton;
            }

            .toggle-fresh-import-all-on {
                @include config.font-size(12);
                background-color: config.$bgrButton;
            }

            .track {
                display: flex;
                flex-flow: row;
                justify-content: space-evenly;
                margin-bottom: 0.1em;
                width: 100%;
                &.center {
                    justify-content: center;
                    & > *:not(:first-child) {
                        margin-left: 4px;
                    }
                    & > *:not(:last-child) {
                        margin-right: 4px;
                    }
                }
                &.between {
                    justify-content: space-between;
                }
                .track-slash {
                    width: 1.5em;
                    transform: translateY(10%);
                    flex: 0 0;
                    &:after {
                        content: '/';
                    }
                }
                .track-plus {
                    width: 1em;
                    flex: 0 0;
                    &:after {
                        content: '+';
                    }
                }
                .track-max-value {
                    margin-bottom: 0;
                    margin-left: 0.25em;
                }
            }
        }
    }
    .limit {
        @include config.systemFonts;
        padding: 0 0.1em;
        margin-top: -2px;
        text-align: center;
        @include config.font-size(16);
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    // Interaction Element for Skill Lists
    .skill-header {
        @include config.rollable;
    }

    // Sprite sheet power tab list had broken flex/block relations, causing missing a scrollbar.
    // Other actor sheet tabs miss-use the 'inventory' class. To not further miss-use it,
    // this hacky class pierces through .sr5 .tab .tabbody > * flex:0 and broken scroll-area
    // formatting in general to have a localized solution for the sprite power list.
    // If you're looking at this, and have a better solution, please burn this in the fires of hell.
    .scroll-area-sprite-power {
        display: block;
        flex: 1 !important;
        height: 100%;
        width: 100%;
        overflow: auto;
    }

        &.sheet.window-app {
        box-shadow: 0 0 10px 0px rgba(235,181,49,0.3);

        & .window-header {
            border-bottom: none;
            background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), config.asset('page.webp') repeat;
            background-repeat: repeat;
            background-size: 100% 20px auto;
            flex: 0 0 20px;
            padding: 0 3px 0 0;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;

            & a {
            display: inline-flex;
            padding: 6px 0 0 0;
            font-size: 0;
            color: rgb(100, 100, 100);

            & .fa-solid,
                & .fas {
                    @include config.font-size(12);
                }
            }

            & .window-title {
            font-size: 0;
            }
        }
    }
}

.sr5 #filter-skills.display.text.left {
    @include config.font-size(15);
}

/**
 * Skill Editing Application
 */
.sr5.skill-edit-window {
    min-height: 200px;
    min-width: 370px;
    display: inline-block;

    .wholesheet {
        height: auto;
        display: flex;
        flex-flow: column nowrap;
        overflow: hidden;
    }
}

.sr5 .flexcol-skills {
    display: flex;
    flex-direction: column;
}
