{{!-- list-item expects an SR5Item to be passed in as 'item' --}}
<div class="new-list-item-container {{#if (hasKey @root.expandedUuids item.uuid)}} expanded {{/if}}">
    <div class="new-list-item {{#if (isOwner item owner=@root.actor)}} draggable {{/if}}"
         data-source="{{item.system.description.source}}"
         data-item-id="{{item.id}}"
         data-uuid="{{item.uuid}}">
        {{> "systems/shadowrun5e/dist/templates/v2/list-items/item-roll-image.hbs" item }}
        {{> "systems/shadowrun5e/dist/templates/v2/common/import-flag.hbs" item }}
        {{> "systems/shadowrun5e/dist/templates/v2/list-items/item-name.hbs" item }}

        {{> 'systems/shadowrun5e/dist/templates/v2/list-items/item-rating-col.hbs' item }}
        <div class="new-list-item-icons">
            {{> 'systems/shadowrun5e/dist/templates/v2/list-items/open-source-icon.hbs' item }}
            {{> 'systems/shadowrun5e/dist/templates/v2/list-items/favorite-icon.hbs' item }}
            {{#if (isOwner item owner=@root.actor)}}
                {{> 'systems/shadowrun5e/dist/templates/v2/list-items/wireless-icon.hbs' item }}
                {{> 'systems/shadowrun5e/dist/templates/v2/list-items/equip-icon.hbs' item }}
                {{> 'systems/shadowrun5e/dist/templates/v2/list-items/edit-delete-icons.hbs' item }}
            {{/if}}
        </div>
    </div>
    {{#if (hasKey @root.expandedUuids item.uuid)}}
        <div class="new-list-item-desc">
            <div class="new-list-item-properties">
                {{> 'systems/shadowrun5e/dist/templates/v2/item-properties/sin.hbs' item=item }}
            </div>
            {{{objValue (objValue @root.expandedUuids item.uuid) 'html'}}}
        </div>
    {{/if}}
</div>
