<div class="sr5 chat-card roll-card item-card">
    <div class="card-title card-header">
        {{title}}
    </div>
    {{#if actor}}
    <div class="card-title card-header">
        <div class="document">
            <a class="chat-select-link" data-token-id="{{token.id}}"><img
                    src="{{speakerImg actor}}" class="entity-selectable"
                    data-tooltip="{{speakerName actor}}"/></a>
            <h3 class="header-name"><a class="chat-document-link" data-uuid="{{actor.uuid}}">{{speakerName
                actor}}</a></h3>
        </div>
        {{#if item}}
        <div class="document">
            <img src="{{item.img}}" data-tooltip="{{item.name}}"/>
            <h3 class="header-name"><a class="chat-document-link" data-entity="Item" data-id="{{item.id}}"
                                        data-uuid="{{item.uuid}}">{{item.name}}</a></h3>
        </div>
        {{/if}}
    </div>
    {{/if}}
    <div class="card-main-content">
        <div class="card-description">
            {{#if description.description.value}}
            <div class="card-description-content">
                {{{description.description.value}}}
            </div>
            {{/if}}
            {{#each description.properties}}
            <span style="white-space: nowrap;">{{this}}</span>
            {{/each}}
        </div>
    </div>

    {{#if tests}}
    <div class="card-buttons">
        {{#each tests}}
        <div class="button test-action" data-uuid="{{this.uuid}}">
            {{localize this.label}}
        </div>
        {{/each}}
    </div>
    {{/if}}
</div>