<div
    class="sr5 chat-card roll-card"
    data-actor-id="{{actor._id}}"
    data-item-id="{{item._id}}"
    data-token-id="{{tokenId}}"
>
     <div class="card-title card-header">
         <a class="chat-select-link" data-token-id="{{speaker.token.id}}"><img src="{{speaker.token.data.img}}" class="entity-selectable" title="{{speaker.token.name}}" width="36" height="36"/></a>
         <h3 class="header-name"><a class="chat-entity-link" data-entity="Token" data-id="{{speaker.token.id}}">{{speaker.token.name}}</a></h3>
    </div>
    {{#if header}}
        <div class="card-title card-header">
            {{#if header.img}}
                <img src="{{header.img}}" title="{{header.name}}" width="36" height="36" />
            {{/if}}
            {{#if header.name}}
                <h3 class="header-name">{{header.name}}</h3>
            {{/if}}
        </div>
    {{/if}}
    {{#if description}}
    <div class="card-description">
        <div class="card-description-content">
            {{{description.description.value}}}
        </div>
        <footer class="card-footer">
            {{#each description.properties}}
            <span style="white-space: nowrap;">{{this}}</span>
            {{/each}}
        </footer>
    </div>
    {{/if}}
    {{#if (isDefined title)}}
    <div class="test-line">
        <span class="test-name {{#unless (isDefined roll.hits)}}test-roll{{/unless}}">
            {{title}}
        </span>
        {{#if previewTemplate}}
        <div class="roll" title="{{localize 'SR5.PlaceTemplate'}}">
            <i class="fas fa-bullseye place-template"></i>
        </div>
        {{/if}}
    </div>
    <div class="card-content">
        <div class="left-side">
            {{#if (isDefined roll.hits)}}
            <div class="limit-line">
                <span class="key">{{localize "SR5.Hits"}}: </span
                ><span class="value">{{roll.hits}}</span>
            </div>
            {{/if}} {{#if roll.limit.value}}
            <div class="limit-line" title="{{localize limit.label}}">
                <span class="key">{{localize "SR5.Limit"}}: </span>
                <span class="value">{{roll.limit.value}}</span>
            </div>
            {{/if}}
            {{#if attack.damage}}
            <div class="damage-line">
                {{#if attack.damage.value}}
                <div>
                    <span class="key">{{localize "SR5.DV"}}: </span>
                    <span class="value">
                        {{attack.damage.value}}{{damageAbbreviation attack.damage.type.value}}
                    </span>
                </div>
                {{/if}} {{#if attack.damage.ap.value}}
                <div>
                    <span class="key">{{localize "SR5.AP"}}: </span>
                    <span class="value">{{attack.damage.ap.value}}</span>
                </div>
                {{/if}} {{#if attack.damage.element.value}}
                <div>
                    <i
                        class="{{elementIcon attack.damage.element.value}} icon"
                        title="{{localize attack.damage.element.value}}"
                    ></i>
                </div>
                {{/if}}
            </div>
            {{/if}} {{#if attack.force}}
            <div class="limit-line">
                <span class="key">{{localize "SR5.Force"}}</span>
                <span class="value">{{attack.force}}</span>
            </div>
            {{/if}} {{#if attack.level}}
            <div class="limit-line">
                <span class="key">{{localize "SR5.Level"}}</span>
                <span class="value">{{attack.level}}</span>
            </div>
            {{/if}} {{#if attack.reach}}
            <div class="limit-line">
                <span class="key">{{localize "SR5.Reach"}}</span>
                <span class="value">{{attack.reach}}</span>
            </div>
            {{/if}} {{#if attack.fireMode.value}}
            <div class="limit-line">
                <span class="key">{{attack.fireMode.label}}</span>
            </div>
            {{/if}} {{#if attack.blast.radius}}
            <div class="limit-line">
                <div>
                    <span class="key">{{localize "SR5.Radius"}}: </span>
                    <span class="value">{{attack.blast.radius}}m</span>
                </div>
            </div>
            {{/if}} {{#if attack.blast.dropoff}}
            <div class="limit-line">
                <span class="key">{{localize "SR5.Dropoff"}}: </span>
                <span class="value">{{attack.blast.dropoff}}/m</span>
            </div>
            {{/if}} {{#if incomingSoak}}
            <div class="category-line">
                {{localize "SR5.Incoming"}}
            </div>
            <div class="damage-line">
                {{#if incomingSoak.value}}
                <div>
                    <span class="key">{{localize "SR5.Damage"}}: </span>
                    <span class="value">{{incomingSoak.value}}{{damageAbbreviation incomingSoak.type.value}}</span>
                </div>
                {{/if}} {{#if incomingSoak.element.value}}
                <div>
                    <i
                            class="{{elementIcon incomingSoak.element.value}} icon"
                            title="{{localize incomingSoak.element.value}}"
                    ></i>
                </div>
                {{/if}}
            </div>
            {{/if}} {{#if (isDefined incomingAttack.hits)}}
            <div class="limit-line">
                <span class="key">{{localize "SR5.AttackerHits"}}</span>
                <span class="value">{{incomingAttack.hits}}</span>
            </div>
            {{/if}} {{#if incomingDrain}}
            <div class="category-line">
                {{localize "SR5.Incoming"}}
            </div>
            <div class="limit-line">
                <span class="key">
                    {{localize incomingDrain.label}}:
                </span>
                <span class="value">{{incomingDrain.value}}</span>
            </div>
            {{/if}}
        </div>
        <div class="right-side">
            <div class="roll-parts">
                {{#each roll.parts as |part id|}}
                <div class="limit-line">
                    <span class="key" title="{{localize part.name}}">{{localize part.name}}:</span> <span class="value">{{part.value}}</span>
                </div>
                {{/each}} {{#if (isDefined roll)}}
                <div class="limit-line">
                    <span class="key bold">{{localize 'SR5.DicePool'}}:</span>
                    <span class="value">{{roll.pool}}</span>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
    <div class="dice-roll-content">
        {{#each roll.sides}}
        <div class="dice-roll {{diceIcon this}}">
            <div class="result-text">{{this}}</div>
        </div>
        {{/each}}
    </div>
    {{/if}}
    {{#if roll.glitched}}
    <div class="glitch-content">
        <div class="glitch" {{#if showGlitchAnimation}} data-glitch="{{localize 'SR5.Glitch'}}" {{/if}}>
            {{localize "SR5.Glitch"}}
        </div>
    </div>
    {{/if}}
    {{#if target}}
     <div class="card-title card-header">
         <a class="chat-select-link" data-token-id="{{target.id}}"><img src="{{target.data.img}}" title="{{target.name}}" width="36" height="36" /></a>
        <h3 class="header-name"><a class="chat-entity-link" draggable="false" data-entity="Token" data-id="{{target.id}}">{{target.name}}</a></h3>
    </div>
    {{/if}}
    {{#if tests}}
    <div class="card-buttons">
        {{#each tests as |test index|}}
        <div class="button test" data-action="{{test.type}}">
            {{test.label}}
        </div>
        {{/each}}
    </div>
    {{/if}}
</div>
