<form class="sr5 roll-dialog">
    {{> "systems/shadowrun5e/dist/templates/rolls/parts/parts-list.html" }}
    <div class="form-group">
        <label style="font-weight: bold;">{{localize "SR5.DicePool"}}</label>
        <input style='flex: 1' type='text' name='pool' size='3' maxlength='3' value='{{pool}}' data-dtype="Number" {{#unless options.pool}} disabled
        {{/unless}} />
    </div>
    <div class="form-group">
        <label>{{localize "SR5.SituationalModifier"}}</label>
        <input style="flex: 1;" type="text" name="dp_mod" size="3" maxlength="10" value="{{dp_mod}}" data-dtype="Number" placeholder="+/- mod" />
    </div>
    {{#if thresholdValue}}
    <div class="form-group">
        <label>{{localize 'SR5.Threshold'}}</label>
        <input style="flex: 1;" type="text" name="thresholdValue" size="3" maxlength="3" value="{{thresholdValue}}" data-dtype="Number" />
    </div>
    {{/if}}
    {{#if limitValue}}
    <div class="form-group">
        <label>{{localize 'SR5.Limit'}}</label>
        <input style="flex: 1;" type="text" name="limitValue" size="3" maxlength="3" value="{{limitValue}}" data-dtype="Number" />
    </div>
    {{/if}} {{#if wounds}} {{#if woundValue}}
    <div class="form-group">
        <label>{{localize 'SR5.WoundModifier'}} ({{woundValue}})</label>
        <select style="flex: 2;" name="wounds">
            {{#select wounds}}
            <option value="{{woundValue}}">{{localize "SR5.ApplyWounds"}}</option>
            <option value="0">{{localize "SR5.DontApplyWounds"}}</option>
            {{/select}}
        </select>
    </div>
    {{/if}} {{/if}}
    <div class="form-group">
        <label>{{localize 'SR5.EnvironmentModifier'}}</label>
        <select style="flex: 2;" name="options.environmental">
            {{#select options.environmental}}
            <option value="0">{{localize "SR5.EnvironmentNone"}}</option>
            <option value="-1">{{localize "SR5.EnvironmentLow"}} (-1)</option>
            <option value="-3">{{localize "SR5.EnvironmentMedium"}} (-3)</option>
            <option value="-6">{{localize "SR5.EnvironmentHigh"}} (-6)</option>
            <option value="-10">{{localize "SR5.EnvironmentVeryHigh"}} (-10)</option>
            {{/select}}
        </select>
    </div>
    <div class="form-group">
        <label>{{localize 'SR5.ExtendedTest'}}</label>
        <select style="flex: 2;" name="extended">
            {{#select extended}}
            <option value="">{{localize "SR5.NotExtended"}}</option>
            <option value="true">{{localize "SR5.Extended"}}</option>
            {{/select}}
        </select>
    </div>
    <div class="form-group">
        <label>{{ localize "SR5.RollMode" }}</label>
        <select style="flex: 2;" name="rollMode">
            {{#select rollMode}} {{#each rollModes as |label mode|}}
            <option value="{{mode}}">{{localize label}}</option>
            {{/each}} {{/select}}
        </select>
    </div>
</form>
