<form>
    <div class="form-group">
        <label>{{localize "SR5.Attribute"}}</label>
        <select name="attribute">
            {{#select attribute}} {{#each attributes as |att a|}}
            <option value="{{a}}">{{localize att.label}}</option>
            {{/each}} {{/select}}
        </select>
    </div>
    <div class="form-group">
        <label>{{localize "SR5.Limit"}}</label>
        <select name="attribute.limit">
            {{#select limit}} {{#each limits as |lim l|}}
            <option value="{{l}}">{{localize lim.label}}</option>
            {{/each}} {{/select}}
        </select>
    </div>
</form>
