<form>
    <div class="form-group">
        <label>Attribute</label>
        <select name="attribute">
            {{#select attribute}} {{#each attributes as |att a|}}
            <option value="{{a}}">{{toHeaderCase a}}</option>
            {{/each}} {{/select}}
        </select>
    </div>
    <div class="form-group">
        <label>Limit</label>
        <select name="attribute.limit">
            {{#select limit}} {{#each limits as |lim l|}}
            <option value="{{l}}">{{toHeaderCase l}}</option>
            {{/each}} {{/select}}
        </select>
    </div>
</form>
