<div class="sr5 chat-card roll-card">
    <div class="card-title card-header">
        <span class="test-name">{{localize title}}</span>
    </div>
    {{#if speaker.actor}}
    <div class="card-title card-header">
        <div class="container container--fluid">
            <div class="container__row">
                <div class="container__col-half">
                    <div class="document">
                        <a class="chat-select-link" data-token-id="{{speaker.token.id}}"><img src="{{speaker.actor.img}}" class="entity-selectable" title="{{speakerName speaker.actor}}"/></a>
                         <h3 class="header-name"><a class="chat-document-link" data-uuid="{{speaker.actor.uuid}}">{{speakerName speaker.actor}}</a></h3>
                    </div>
                </div>
                {{#if item}}
                <div class="container__col-half">
                    <div class="document">
                        <img src="{{item.data.img}}" title="{{item.data.name}}"/>
                        <h3 class="header-name"><a class="chat-document-link" data-entity="Item" data-id="{{item.id}}" data-uuid="{{item.uuid}}">{{item.data.name}}</a></h3>
                    </div>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
    {{/if}}
    <div class="card-main-content">
        <div class="card-content">
            <div class="test-line">
                <div><span class="test-code">{{test.code}}</span></div>
            </div>
        </div>
        <div class="card-content">
            <div class="left-side">
                {{#if test.hasLimit}}
                <div class="test-value"><span class="value">{{localize test.limit.label}}:</span> <span>{{test.limit.value}}</span></div>
                {{/if}}
                {{#if test.hasThreshold}}
                <div class="test-value"><span class="value">{{localize test.threshold.label}}:</span> <span>{{test.threshold.value}}</span></span></div>
                {{/if}}
            </div>
            <div class="right-side">
                <div class="test-value"><span class="value">{{localize test.pool.label}}:</span> <span>{{test.pool.value}}</span></div>
                <div class="test-value"><span class="value">{{localize test.hits.label}}:</span> <span>{{test.hits.value}}</span></div>
                {{#if test.hasThreshold}}<div class="test-value"><span class="value">{{localize test.netHits.label}}:</span> <span>{{test.netHits.value}}</span></div>{{/if}}
            </div>
        </div>
        <div class="card-test-content">
            {{#if test.success}}
            <div class="glitch-content">
                <div class="glitch" {{#if showGlitchAnimation}} data-glitch="{{localize 'SR5.Success'}}" {{/if}}>
                    {{localize "SR5.Success"}}
                </div>
            </div>
                {{#if test.glitched}}
            <div class="glitch-content">
                <div class="glitch" {{#if showGlitchAnimation}} data-glitch="{{localize 'SR5.Glitch'}}" {{/if}}>
                    {{localize "SR5.Glitch"}}
                </div>
            </div>
                {{/if}}
            {{/if}}
            {{#if test.failure}}
            <div class="glitch-content">
                <div class="glitch" {{#if showGlitchAnimation}} data-glitch="{{localize 'SR5.Failure'}}" {{/if}}>
                    {{localize "SR5.Failure"}}
                </div>
            </div>
            {{/if}}
            {{#if test.criticalGlitched}}
            <div class="glitch-content">
                <div class="glitch" {{#if showGlitchAnimation}} data-glitch="{{localize 'SR5.GlitchCritical'}}" {{/if}}>
                    {{localize "SR5.GlitchCritical"}}
                </div>
            </div>
            {{/if}}
        </div>
    </div>
    <div class="card-rolls">
        {{#each test.rolls}}
            {{> 'systems/shadowrun5e/dist/templates/rolls/parts/rolled-dice.html'
                roll=this
            }}
        {{/each}}
    </div>
    {{#if test.targets}}
    <div class="test-line">
        <span class="test-name {{#if roll}}test-roll{{/if}}">
            {{localize "SR5.SelectedTargets"}}
        </span>
    </div>
    {{#each test.targets}}
    <div class="card-title card-header">
         <a class="chat-select-link" data-token-id="{{this.id}}"><img src="{{this.data.img}}" title="{{this.name}}"/></a>
        <h3 class="header-name"><a class="chat-document-link" draggable="false" data-entity="Token" data-id="{{this.id}}" data-uuid="{{this.uuid}}">{{this.name}}</a></h3>
    </div>
    {{/each}}
    {{/if}}
    {{#if test.opposed}}
    <div class="card-buttons">
        {{#each opposedActions}}
        <div class="button opposed-action" data-action="{{this.test}}">
            {{localize this.label}}
        </div>
        {{/each}}
    </div>
    {{/if}}
</div>
<div class="sr5 chat-card roll-card">
    <div class="card-content">
        {{#if test.data.damage}}
            <div class="left-side">{{localize 'SR5.IncomingDamage'}}</div>
            <div class="right-side">
            {{> 'systems/shadowrun5e/dist/templates/rolls/parts/Damage.html'
                    name=(localize "SR5.Incoming")
                    damage=test.data.damage
                    showAP=true
            }}
            </div>
        {{/if}}
    </div>
</div>