<div class="sr5 chat-card roll-card">
    <div class="card-main-content">
    {{title}}
        <div class="card-test-content">
            <div>{{localize test.pool.label}}: {{test.pool.value}}</div>
            {{#if test.hasLimit}}
            <div>{{localize test.netHits.label}}: {{test.netHits.value}}</div>
            {{else}}
            <div>{{localize test.hits.label}}: {{test.hits.value}}</div>
            {{/if}}
        </div>
    </div>
    <div class="card-rolls">
        {{> 'systems/shadowrun5e/dist/templates/rolls/parts/rolled-dice.html'}}
    </div>
</div>