$nodesto: "Nodesto", "Signika", "Palatino Linotype", serif;

$black: black;
$blue: blue;
$cornflower: #6495ED;
$green: green;
$red: red;
$grey: grey;
$white: white;
$darkblue: darkblue;
$crimson: crimson;
$darkred: darkred;
$light: darken($white, 10%);
$dark: darken($grey, 20%);

$rollcolor: $darkblue;

$color: $white;
$inner-color: $white;
$outline-color: $black;

$groove-width: 1px;
$groove-color: $dark;
$groove: $groove-width solid $groove-color;
$light-border: $dark;


$radius: .25em;

$border-under: 1px groove $groove-color;

$sheetbackground: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../ui/brushed_metal.jpg") repeat;


