{{#unless (empty item.system.type)}}
    <label>{{localizeOb item.system.type @root.config.spellTypes}}</label>
{{/unless}}
{{#if item.system.descriptors}}
    <label>{{item.system.descriptors}}</label>
{{/if}}
