{{#if item.system.technology.rating}}
    <label>{{localize 'SR5.Rtg'}}&nbsp;{{item.system.technology.rating}}</label>
{{/if}}
{{#each system.licenses}}
    <label>{{this.name}}&nbsp;({{this.rtg}})</label>
{{/each}}
