{{#if item.system.technology.rating}}
    <label>{{localize 'SR5.Rating'}}&nbsp;{{item.system.technology.rating}}</label>
{{/if}}
{{#each system.licenses}}
    {{#unless (empty this.name)}}
        <label>{{this.name}}&nbsp;({{this.rtg}})</label>
    {{/unless}}
{{/each}}
