{{#if item.system.technology.rating}}
    <label>{{localize "SR5.Rating"}}&nbsp;{{item.system.technology.rating}}</label>
{{/if}}
{{#if item.system.technology.conceal.value}}
    <label data-tooltip="SR5.Conceal">
        <i class="fas fa-magnifying-glass"></i>&nbsp;{{numberFormat item.system.technology.conceal.value sign=true}}
    </label>
{{/if}}
