<div class="attributes smooth">
    <div class="attribute">
        <div class="track between">
            <div class="attribute-name">
                {{localize "SR5.HotSim"}}
            </div>
            <input
                type="checkbox"
                class="submit-checkbox"
                name="data.matrix.hot_sim"
                {{checked data.matrix.hot_sim}}
            />
        </div>
        <div class="track between">
            <div class="attribute-name">
                {{localize "SR5.RunningSilent"}}
            </div>
            <input
                type="checkbox"
                class="submit-checkbox"
                name="data.matrix.running_silent"
                {{checked data.matrix.running_silent}}
            />
        </div>
    </div>
    {{#each config.matrixAttributes as |label key|}}
    {{> "systems/shadowrun5e/dist/templates/actor/parts/matrix/matrix-attribute.html"
            matrixAtt=(lookup ../data.matrix key)
            isCyberdeck=../data.matrix.is_cyberdeck
            key=key
            label=label
            matrixAttributes=../config/matrixAttributes
            item=../data.matrix.item }}
    {{/each}}
    <div class="attribute">
        <div class="attribute-name">{{localize "SR5.ConditionMonitor"}}</div>
        <div class="track">
            <div class="attribute-input-container">
                <input
                    class="display track-input matrix-condition-value"
                    size="2"
                    maxlength="2"
                    type="text"
                    name="data.matrix.condition_monitor.value"
                    value="{{data.matrix.condition_monitor.value}}"
                    data-dtype="Number"
                />
            </div>
            <div class="track-slash flex0"></div>
            <div class="attribute-input-container">
                <input
                    class="display track-input"
                    size="2"
                    maxlength="2"
                    type="text"
                    name="data.matrix.condition_monitor.max"
                    value="{{data.matrix.condition_monitor.max}}"
                    data-dtype="Number"
                    disabled
                />
            </div>
        </div>
    </div>
</div>
{{#if emerged}}
<div class="inventory">
    <div class="scroll-area">
        <div class="item item-section">
            <div class="item-left">
                <div class="item-text item-name">
                    {{localize "SR5.ComplexForms"}}
                </div>
            </div>
            <div class="item-right">
                <div class="item-text">
                    {{localize "SR5.Target"}}
                </div>
                <div class="item-text">
                    {{localize "SR5.Duration"}}
                </div>
                <div class="item-text">
                    {{localize "SR5.Fade"}}
                </div>
                <div class="item-text item-icons">
                    <a class="item-create" title="Create Item" data-type="complex_form">
                        <i class="fas fa-plus"></i>
                        {{localize "SR5.Add"}}
                    </a>
                </div>
            </div>
        </div>
        {{#each complex_forms as |item iid|}}
        <div class="item" data-item-id="{{item._id}}">
            <div class="item-left">
                <div class="item-img item-roll roll">
                    <img src="{{item.img}}" title="{{item.name}}" height="24px" width="24px" />
                </div>
                <div class="item-text item-name has-desc">
                    {{item.name}}
                </div>
            </div>
            <div class="item-right">
                <div class="item-text">
                    {{localizeOb item.data.target ../config.matrixTargets}}
                </div>
                <div class="item-text">
                    {{localizeOb item.data.duration ../config.durations}}
                </div>
                <div class="item-text">
                    {{item.data.fade}}
                </div>
                <div class="item-text item-icons">
                    <i class="item-edit roll fas fa-edit"></i>
                    <i class="item-delete roll fas fa-trash"></i>
                </div>
            </div>
        </div>
        <div class="item hidden">
            <div class="item-desc">
                <div class="props">
                    {{#each item.properties}}
                    <span>{{this}}</span>
                    {{/each}}
                </div>
                <div class="item-desc">
                    {{{item.data.description.value}}}
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
{{else}}
<div class="inventory">
    <div class="scroll-area">
        <div class="item item-section">
            <div class="item-left">
                <div class="item-text item-name">
                    {{localize "SR5.Programs"}}
                </div>
            </div>
            <div class="item-right">
                <div class="item-text item-icons">
                    <a class="item-create" title="Create Program" data-type="program">
                        <i class="fas fa-plus"></i>
                        {{localize "SR5.Add"}}
                    </a>
                </div>
            </div>
        </div>
        {{#each programs as |item iid|}}
        <div class="item" data-item-id="{{item._id}}">
            <div class="item-left">
                <div class="item-img item-roll roll">
                    <img src="{{item.img}}" title="{{item.name}}" height="24px" width="24px" />
                </div>
                <div class="item-text item-name has-desc">
                    {{item.name}}
                </div>
            </div>
            <div class="item-right">
                <div class="item-input">
                    <button class="display item-equip-toggle short {{#if item.data.technology.equipped}}light{{/if}}">
                        {{#if item.data.technology.equipped}}
                        {{localize "SR5.Loaded"}}
                        {{else}}
                        {{localize "SR5.Load"}}  >>
                        {{/if}}
                    </button>
                </div>
                <div class="item-text item-icons">
                    <i
                        title="{{localize 'SR5.ToggleEquip'}}"
                        class="item-equip-toggle roll
                             {{#if item.data.technology.equipped}}
                              fas fa-check-circle
                             {{else}}
                              far fa-circle
                             {{/if}}"
                    >
                    </i>
                    <i class="item-edit roll fas fa-edit"></i>
                    <i class="item-delete roll fas fa-trash"></i>
                </div>
            </div>
        </div>
        <div class="item hidden">
            <div class="item-desc">
                <div class="props">
                    {{#each item.properties}}
                    <span>{{this}}</span>
                    {{/each}}
                </div>
                <div class="item-desc">
                    {{{item.data.description.value}}}
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
{{/if}}
