<div class="inventory">
    <div class="scroll-area">
        <div class="item item-section">
            <div class="item-left">
                <div class="item-text item-name">
                    {{localize "SR5.Action"}}
                </div>
            </div>
            <div class="item-right">
                <div class="item-text six">
                    {{localize "SR5.Skill"}}
                </div>
                <div class="item-text six">
                    {{localize "SR5.Attribute"}}
                </div>
                <div class="item-text six">
                    {{localize "SR5.Attribute"}}
                </div>
                <div class="item-text six">
                    {{localize "SR5.Limit"}}
                </div>
                <div class="item-text six">
                    {{localize "SR5.Modifier"}}
                </div>
                <div class="item-text item-icons">
                    <a class="item-create" title="{{localize 'SR5.CreateItemAction'}}" data-type="action">
                        <i class="fas fa-plus"></i>
                        {{localize "SR5.Add"}}
                    </a>
                </div>
            </div>
        </div>
        {{#each actions as |item id|}}
        <div class="item" data-item-id="{{item._id}}">
            <div class="item-left">
                <div class="item-img item-roll">
                    <img src="{{item.img}}" title="{{item.name}}" height="24px" width="24px" />
                </div>
                <div class="item-text item-name has-desc">
                    {{item.name}}
                </div>
            </div>
            <div class="item-right">
                <div class="item-text six">
                    {{localizeOb item.data.action.skill ../config.activeSkills}}
                </div>
                <div class="item-text six">
                    {{localizeOb item.data.action.attribute ../config.attributes}}
                </div>
                <div class="item-text six">
                    {{#unless item.data.action.skill}} {{localizeOb item.data.action.attribute2
                    ../config.attributes}} {{/unless}}
                </div>
                <div class="item-text six">
                    {{#if item.data.action.limit.attribute}} {{localizeOb
                    item.data.action.limit.attribute ../config.attributes}}
                    ({{item.data.action.limit.value}}) {{else}} {{item.data.action.limit.value}}
                    {{/if}}
                </div>
                <div class="item-text six">
                    {{item.data.action.mod}}
                </div>
                <div class="item-text item-icons">
                    <i class="item-edit roll fas fa-edit"></i>
                    <i class="item-delete roll fas fa-trash"></i>
                </div>
            </div>
        </div>
        <div class="item hidden">
            <div class="item-desc">
                <div class="props">
                    {{#each item.properties}}
                    <span>{{this}}</span>
                    {{/each}}
                </div>
                <div class="description">
                    {{{item.data.description.value}}}
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
