<div class="attributes">
    {{#each data.attributes as |attribute a|}} {{#unless attribute.hidden}}
    <div class="attribute" data-attribute="{{a}}">
        <div class="attribute-name roll attribute-roll">
            {{localize attribute.label}}
        </div>
        <div class="track">
            {{#unless attribute.mod.Temporary}}
            <div class="attribute-input-container">
                <input
                    class="display attribute-input"
                    type="text"
                    maxlength="2"
                    size="2"
                    name="data.attributes.{{a}}.base"
                    value="{{attribute.base}}"
                    data-dtype="Number"
                    placeholder="1"
                />
            </div>
            {{else}}
            <div class="attribute-input-container">
                <input
                    class="display attribute-input"
                    type="text"
                    maxlength="2"
                    size="2"
                    value="{{attribute.value}}"
                    disabled
                    placeholder="1"
                />
            </div>
            {{/unless}}
        </div>
        <div class="attribute-input-container">
            <input
                class="display short attribute-input"
                type="text"
                maxlength="5"
                size="5"
                name="data.attributes.{{a}}.mod.Temporary"
                value="{{attribute.mod.Temporary}}"
                data-dtype="Number"
                placeholder="+Tmp"
            />
        </div>
    </div>
    {{/unless}} {{/each}}
</div>
<div class="inventory">
    <div class="split-container">
        <div class="flexcol">
            <div class="item item-section skill-header" data-category="skills.active">
                <div class="item-left">
                    <div class="item-text item-name">
                        {{localize "SR5.ActiveSkills"}}
                    </div>
                </div>
                <div class="item-right">
                    <div class="item-text skill-spec-item">
                        {{localize "SR5.Specializations"}}
                    </div>
                    <div class="item-text rtg">
                        {{localize "SR5.Rtg"}}
                    </div>
                    <div class="item-text rtg"></div>
                </div>
            </div>
            <div class="item">
                <div class="item-text skill-spec-item">
                    <input
                        id="filter-skills"
                        class="display text left"
                        type="text"
                        value="{{filters.skills}}"
                        name="filters.skills"
                        placeholder="Filter..."
                    />
                </div>
            </div>
            <div class="scroll-area left light-border-right">
                {{#each data.skills.active as |skill sid|}}
                <div class="item">
                    <div class="item-left">
                        <div class="item-text item-name skill-roll roll" data-skill="{{sid}}">
                            {{localizeOb sid ../config.activeSkills}}
                        </div>
                    </div>
                    <div class="item-right">
                        <div class="item-text skill-spec-item">
                            <input
                                class="display text"
                                type="text"
                                disabled
                                value="{{skill.specs}}"
                            />
                        </div>
                        <div class="item-text rtg">
                            <input
                                class="display"
                                type="text"
                                value="{{skill.value}}"
                                disabled
                                data-dtype="Number"
                            />
                        </div>
                        <div class="item-text item-icons rtg">
                            <i class="skill-edit roll fas fa-edit" data-skill="{{sid}}"></i>c
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        <div class="scroll-area">
            <div class="item item-section">
                <div class="item-left">
                    <div class="item-text item-name">
                        {{localize "SR5.Languages"}}
                    </div>
                </div>
                <div class="item-right">
                    <div class="item-text skill-spec-item">
                        {{localize "SR5.Specializations"}}
                    </div>
                    <div class="item-text rtg">
                        {{localize "SR5.Rtg"}}
                    </div>
                    <div class="item-text item-icons rtg">
                        <a class="add-language">
                            <i class="fas fa-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
            {{#each data.skills.language.value as |skill sid|}}
            <div class="item">
                <div class="item-left">
                    <div class="item-text item-name language-skill roll" data-skill="{{sid}}">
                        {{skill.name}}
                    </div>
                </div>
                <div class="item-right">
                    <div class="item-text skill-spec-item">
                        <input class="display text" type="text" disabled value="{{skill.specs}}" />
                    </div>
                    <div class="item-text rtg">
                        <input
                            class="display"
                            type="text"
                            value="{{skill.value}}"
                            disabled
                            data-dtype="Number"
                        />
                    </div>
                    <div class="item-text item-icons rtg">
                        <i class="language-skill-edit roll fas fa-edit" data-skill="{{sid}}"></i>
                        <i class="remove-language roll fas fa-trash" data-skill="{{sid}}"></i>
                    </div>
                </div>
            </div>
            {{/each}} {{#each data.skills.knowledge as |cat cid|}}
            <div class="item item-section" data-category="{{cid}}">
                <div class="item-left">
                    <div class="item-text item-name">
                        {{localizeOb cid ../config.knowledgeSkillCategories}}
                    </div>
                </div>
                <div class="item-right">
                    <div class="item-text skill-spec-item">
                        {{localize "SR5.Specializations"}}
                    </div>
                    <div class="item-text rtg">
                        {{localize "SR5.Rtg"}}
                    </div>
                    <div class="item-text item-icons rtg">
                        <a class="add-knowledge" data-category="{{cid}}">
                            <i class="fas fa-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
            {{#each cat.value as |skill sid|}}
            <div class="item">
                <div class="item-left">
                    <div
                        class="item-text item-name roll knowledge-skill"
                        data-skill="{{sid}}"
                        data-category="{{cid}}"
                    >
                        {{skill.name}}
                    </div>
                </div>
                <div class="item-right">
                    <div class="item-text skill-spec-item">
                        <input class="display text" type="text" disabled value="{{skill.specs}}" />
                    </div>
                    <div class="item-text rtg">
                        <input
                            class="display"
                            type="text"
                            value="{{skill.value}}"
                            disabled
                            data-dtype="Number"
                        />
                    </div>
                    <div class="item-text item-icons rtg">
                        <i
                            class="knowledge-skill-edit roll fas fa-edit"
                            data-skill="{{sid}}"
                            data-category="{{cid}}"
                        ></i>
                        <i
                            class="remove-knowledge roll fas fa-trash"
                            data-skill="{{sid}}"
                            data-category="{{cid}}"
                        ></i>
                    </div>
                </div>
            </div>
            {{/each}} {{/each}}
        </div>
    </div>
</div>
