<div class="profile-img">
    <img
            class="profile"
            src="{{actor.img}}"
            data-edit="img"
            data-tooltip="{{actor.name}}"
            height="{{height}}"
            width="{{width}}"
    />
</div>
