<form class="{{cssClass}} wholesheet" autocomplete="off">
    {{> "systems/shadowrun5e/dist/templates/item/parts/header.html"}}
    <nav class="tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "SR5.Description"}}</a>
        <a class="item" data-tab="network">{{localize "SR5.Labels.Sheet.WAN"}}</a>
    </nav>
    <section class="sheetbody">
        <div class="tab" data-group="primary" data-tab="description">
            {{> "systems/shadowrun5e/dist/templates/item/parts/description.html"}}
        </div>
        {{> "systems/shadowrun5e/dist/templates/item/tabs/GridNetworkTab.hbs"}}
        <div class="tab" data-group="primary" data-tab="network">
            <div class="tabbody">
            </div>
        </div>
    </section>
</form>
