<form class="{{cssClass}} wholesheet" autocomplete="off">
    <header class="flexrow">
            {{> 'systems/shadowrun5e/dist/templates/actor/parts/ProfileImage.html'
                    height='45px'
                    width='45px'
            }}
            {{> 'systems/shadowrun5e/dist/templates/actor/parts/NameInput.html' }}
        <div class="block">
            {{#each data.track as |track id|}}
                {{> 'systems/shadowrun5e/dist/templates/common/HorizontalCellInput.html'
                        name=(localize track.label)
                        value=track.value
                        max=track.max
                        id=id
                        tolerance=../woundTolerance
                }}
                {{#if track.overflow}}
                    {{#ife track.value track.max}}
                        {{> 'systems/shadowrun5e/dist/templates/common/HorizontalCellInput.html'
                                name=(localize "SR5.Overflow")
                                value=track.overflow.value
                                max=track.overflow.max
                                id="overflow"
                        }}
                    {{/ife}}
                {{/if}}
            {{/each}}
        </div>
    </header>
    <section class="sheetbody">
        <div>
            Attributes
            {{> 'systems/shadowrun5e/dist/templates/npc/parts/attributes/AttributeHeaders.html' }}
        </div>
        <div class="inventory">
            <div class="split-container">
                <div class="scroll-area">
                    {{> 'systems/shadowrun5e/dist/templates/npc/parts/skills/ActiveSkillList.html' }}
                    {{> 'systems/shadowrun5e/dist/templates/npc/parts/skills/LanguageAndKnowledgeSkillList.html' }}
                </div>
                <div>
                    Right
                </div>
            </div>
        </div>
    </section>
</form>
