<form class="{{cssClass}} wholesheet" autocomplete="off">
    <header class="flexrow">
            {{> 'systems/shadowrun5e/dist/templates/actor/parts/ProfileImage.html'
                    height='45px'
                    width='45px'
            }}
            <div class="flexcol">
                {{> 'systems/shadowrun5e/dist/templates/actor/parts/NameInput.html' }}
                <div class="list-item">
                    <div class="item-left">
                        <div class="item-text item-name">
                            {{localize "SR5.AwakenedEmerged"}}
                        </div>
                    </div>
                    <div class="item-right">
                        <div class="item-text input">
                            <select class="display" name="data.special">
                                {{#select data.special}} {{#each config.specialTypes as |name type|}}
                                    <option value="{{type}}">{{localize name}}</option>
                                {{/each}} {{/select}}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        <div class="block">
            {{#each data.track as |track id|}}
                {{> 'systems/shadowrun5e/dist/templates/common/HorizontalCellInput.html'
                        name=(localize track.label)
                        value=track.value
                        max=track.max
                        id=id
                        tolerance=../woundTolerance
                }}
                {{#if track.overflow}}
                    {{#ife track.value track.max}}
                        {{> 'systems/shadowrun5e/dist/templates/common/HorizontalCellInput.html'
                                name=(localize "SR5.Overflow")
                                value=track.overflow.value
                                max=track.overflow.max
                                id="overflow"
                        }}
                    {{/ife}}
                {{/if}}
            {{/each}}
        </div>
    </header>
    <section class="sheetbody">
        <div>
            {{> "systems/shadowrun5e/dist/templates/common/HeaderBlock.html"
                name=(localize "SR5.Attributes")}}
            {{> 'systems/shadowrun5e/dist/templates/npc/parts/attributes/Attributes.html' }}
        </div>
        <div class="inventory">
            <div class="split-container">
                <div class="scroll-area">
                    {{> 'systems/shadowrun5e/dist/templates/common/List/ListHeader.html'
                            name=(localize 'SR5.Name')
                            itemCssClass="skill-header"
                            icons=(SkillHeaderIcons 'active')
                            rightSide=(SkillHeaderRightSide 'active')
                    }}
                    <div class="list-item">
                        <div class="item-text skill-spec-item">
                            <input
                                    id="filter-skills"
                                    class="display text left"
                                    type="text"
                                    value="{{filters.skills}}"
                                    name="filters.skills"
                                    placeholder="{{localize 'SR5.Filter'}}..."
                            />
                        </div>
                    </div>
                    {{> 'systems/shadowrun5e/dist/templates/npc/parts/skills/ActiveSkillList.html' }}
                    {{> 'systems/shadowrun5e/dist/templates/npc/parts/skills/LanguageAndKnowledgeSkillList.html' }}
                </div>
                <div>
                    Right
                </div>
            </div>
        </div>
    </section>
</form>
