<form class="{{cssClass}} wholesheet" autocomplete="off">
    <div class="display_npc_wrapper">
		<div class="npc_name">{{actor.name}}</div>
		<div class="npc_description">Male Troll, Rating 2 Corporate Security</div>
		<div class="npc_notes" style="display: none;"></div>
		<div class="attribute_names">
			<div class="attribute_name">BOD</div>
			<div class="attribute_name">AGI</div>
			<div class="attribute_name">REA</div>
			<div class="attribute_name">STR</div>
			<div class="attribute_name">WIL</div>
			<div class="attribute_name">LOG</div>
			<div class="attribute_name">INT</div>
			<div class="attribute_name">CHA</div>
			<div class="attribute_name essence">ESS</div>
			<div class="attribute_name magic" style="display: none;">MAG</div>
		</div>

		<div class="attribute_values">
			<div class="attribute_value body">8</div>
			<div class="attribute_value agility">3</div>
			<div class="attribute_value reaction">4</div>
			<div class="attribute_value strength">7</div>
			<div class="attribute_value will">3</div>
			<div class="attribute_value logic">1</div>
			<div class="attribute_value intuition">2</div>
			<div class="attribute_value charisma">2</div>
			<div class="attribute_value essence">6</div>
			<div class="attribute_value magic" style="display: none;"></div>
		</div>

		<div class="information">
			<div class="initiative">
				<label>Initiative</label>
				<div class="value">6 + 1D6</div>
			</div>

			<div class="astral_initiative" style="display: none;">
				<label>Astral Initiative</label>
				<div class="value"></div>
			</div>

			<div class="matrix_initiative" style="display: none;">
				<label>Matrix Initiative (Hot VR)</label>
				<div class="value"></div>
			</div>

			<div class="damage_resistance">
				<label>Damage Resistance</label>
				<div class="value">21</div>
			</div>

			<div class="condition_monitor">
				<label>Condition Monitor</label>
				<div class="value">12</div>
			</div>

			<div class="limits">
				<label>Limits</label>
				<div class="value">Physical 9, Mental 3, Social 5</div>
			</div>

			<div class="qualities" style="display: none;">
				<label>Qualities</label>
				<div class="value"></div>
			</div>

			<div class="initiate_grade" style="display: none;">
				<label>Initiate Grade</label>
				<div class="value"></div>
			</div>

			<div class="skills">
				<label>Skills</label>
				<div class="value">Automatics 3, Clubs 3, Etiquette 4, Perception 2, Pistols 4, Running 4, Unarmed Combat 3</div>
			</div>

			<div class="augments">
				<label>Augmentations</label>
				<div class="value">Troll Dermal Deposits</div>
			</div>

			<div class="armor">
				<label>Armor</label>
				<div class="value">Armor Jacket (12)</div>
			</div>

			<div class="gear">
				<label>Gear</label>
				<div class="value"><div>Stun Baton [Clubs, Acc 4, Reach 1, DV 9S(e), AP -5]</div><div>Colt Cobra TZ-120 [SMG, Acc 4 (5), DV 7P, SA/BF/FA, RC 2 (3), 32(c)]</div><div>Fichetti Security 600 [Light Pistol, Acc 6 (7), DV 7P, SA, RC 0 (1), 30(c)]</div><div>Renraku Sensei commlink (DR 3)</div></div>
			</div>

			<div class="spells" style="display: none;">
				<label>Spells</label>
				<div class="value"></div>
			</div>

			<div class="powers" style="display: none;">
				<label>Powers</label>
				<div class="value"></div>
			</div>

			<div class="programs" style="display: none;">
				<label>Programs</label>
				<div class="value"></div>
			</div>
		</div>
	</div>
</form>