<div class="inventory">
  <div class="flexrow align-start info-container">
    <div class="scroll-area left info">
      <div class="flexcol justify-start">
        <div class="item">
          <div class="item-left">
            <div class="item-text item-name">
              Metatype
            </div>
          </div>
          <div class="item-right">
            <div class="item-text">
              <input
                 class="display text"
                 type="text"
                 name="data.metatype"
                 value="{{data.metatype}}" />
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item-left">
            <div class="item-text item-name">
              Karma
            </div>
          </div>
          <div class="item-right">
            <div class="item-text">
              <input
                 class="display"
                 type="text"
                 size="10"
                 name="data.karma.value"
                 value="{{data.karma.value}}"
                 data-dtype="Number" />
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item-left">
            <div class="item-text item-name">
              Career Karma
            </div>
          </div>
          <div class="item-right">
            <div class="item-text">
              <input
                 class="display"
                 type="text"
                 size="10"
                 name="data.karma.max"
                 value="{{data.karma.max}}"
                 data-dtype="Number" />
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item-left">
            <div class="item-text item-name">
              Nuyen
            </div>
          </div>
          <div class="item-right">
            <div class="item-text input">
              <input
                 class="display"
                 type="text"
                 name="data.nuyen"
                 size="10"
                 value="{{data.nuyen}}"
                 data-dtype="Number" />
                <span class="unit">
                  <i class="fas fa-yen-sign"></i>
                </span>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item-left">
            <div class="item-text item-name">
              Notoriety
            </div>
          </div>
          <div class="item-right">
            <div class="item-text">
              <input
                 class="display"
                 type="text"
                 size="10"
                 name="data.notoriety"
                 value="{{data.notoriety}}"
                 data-dtype="Number" />
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item-left">
            <div class="item-text item-name">
              Public Awareness
            </div>
          </div>
          <div class="item-right">
            <div class="item-text">
              <input
                 class="display"
                 type="text"
                 size="10"
                 name="data.public_awareness"
                 value="{{data.public_awareness}}"
                 data-dtype="Number" />
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item-left">
            <div class="item-text item-name">
              Street Cred
            </div>
          </div>
          <div class="item-right">
            <div class="item-text">
              <input
                 class="display"
                 type="text"
                 size="10"
                 name="data.street_cred"
                 value="{{data.street_cred}}"
                 data-dtype="Number" />
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item-left">
            <div class="item-text item-name">
              Awakened/Emerged
            </div>
          </div>
          <div class="item-right">
            <div class="item-text">
              <select class='display' name='data.special'>
                {{#select data.special}}
                <option value="mundane">Mundane</option>
                <option value="magic">Awakened</option>
                <option value="resonance">Emerged</option>
                {{/select}}
              </select>
            </div>
          </div>
        </div>
        {{#if awakened}}
        <div class="item">
          <div class="item-left">
            <div class="item-text item-name">
              Drain Resist
            </div>
          </div>
          <div class="item-right">
            <div class="item-text">
              <select name="data.magic.attribute" class="display">
                {{#select data.magic.attribute}}
                {{#each config.spell.attributes}}
                <option value="{{this}}">{{toHeaderCase this}}</option>
                {{/each}}
                <option value="body">Body</option>
                {{/select}}
              </select>
            </div>
          </div>
        </div>
        {{/if}}
      </div>
    </div>
    <div class="flexcol justify-start">
      <div class="item item-section">
        <div class="item-left">
          <div class="item-text item-name">
            Modifier
          </div>
        </div>
        <div class="item-right">
          <div class="item-text rtg">
            Value
          </div>
        </div>
      </div>
      <div class="scroll-area info">
        {{#each data.modifiers as |value id|}}
        {{#ifne id 'wound'}}
        <div class="item">
          <div class="item-left">
            <div class="item-text item-name">
              {{toHeaderCase id}}
            </div>
          </div>
          <div class="item-right">
            <div class="item-text rtg">
              <input
                 class="display attribute-input"
                 size='4'
                 maxlength='3'
                 type='text'
                 name='data.modifiers.{{id}}'
                 value="{{value}}"
                 placeholder="None"
                 data-dtype='Number'/>
            </div>
          </div>
        </div>
        {{/ifne}}
        {{/each}}
      </div>
    </div>
  </div>
</div>
