<div class="inventory">
  <div class="flexrow align-start info-container">
    <div class="scroll-area left">
      <div class="flexcol justify-start">
        <div class="item">
          <button type="button" class="display import-character">{{localize "SR5.ImportCharacter"}}</button>
        </div>
        <div class="item">
          <div class="item-left">
            <div class="item-text item-name">
              {{localize "SR5.Karma"}}
            </div>
          </div>
          <div class="item-right">
            <div class="item-text">
              <input
                 class="display"
                 type="text"
                 size="10"
                 name="data.karma.value"
                 value="{{data.karma.value}}"
                 data-dtype="Number" />
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item-left">
            <div class="item-text item-name">
              {{localize "SR5.CareerKarma"}}
            </div>
          </div>
          <div class="item-right">
            <div class="item-text">
              <input
                 class="display"
                 type="text"
                 size="10"
                 name="data.karma.max"
                 value="{{data.karma.max}}"
                 data-dtype="Number" />
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item-left">
            <div class="item-text item-name">
              {{localize "SR5.Notoriety"}}
            </div>
          </div>
          <div class="item-right">
            <div class="item-text">
              <input
                 class="display"
                 type="text"
                 size="10"
                 name="data.notoriety"
                 value="{{data.notoriety}}"
                 data-dtype="Number" />
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item-left">
            <div class="item-text item-name">
              {{localize "SR5.PublicAwareness"}}
            </div>
          </div>
          <div class="item-right">
            <div class="item-text">
              <input
                 class="display"
                 type="text"
                 size="10"
                 name="data.public_awareness"
                 value="{{data.public_awareness}}"
                 data-dtype="Number" />
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item-left">
            <div class="item-text item-name">
              {{localize "SR5.StreetCred"}}
            </div>
          </div>
          <div class="item-right">
            <div class="item-text">
              <input
                 class="display"
                 type="text"
                 size="10"
                 name="data.street_cred"
                 value="{{data.street_cred}}"
                 data-dtype="Number" />
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item-left">
            <div class="item-text item-name">
              {{localize "SR5.AwakenedEmerged"}}
            </div>
          </div>
          <div class="item-right">
            <div class="item-text">
              <select class='display' name='data.special'>
                {{#select data.special}}
                {{#each config.specialTypes as |name type|}}
                <option value="{{type}}">{{localize name}}</option>
                {{/each}}
                {{/select}}
              </select>
            </div>
          </div>
        </div>
        {{#if awakened}}
        <div class="item">
          <div class="item-left">
            <div class="item-text item-name">
              {{localize "SR5.DrainResist"}}
            </div>
          </div>
          <div class="item-right">
            <div class="item-text">
              <select name="data.magic.attribute" class="display">
                {{#select data.magic.attribute}}
                {{#each config.attributes as |name type|}}
                <option value="{{type}}">{{localize name}}</option>
                {{/each}}
                {{/select}}
              </select>
            </div>
          </div>
        </div>
        {{/if}}
      </div>
    </div>
    <div class="flexcol justify-start">
      <div class="item item-section">
        <div class="item-left">
          <div class="item-text item-name">
            {{localize "SR5.Modifier"}}
          </div>
        </div>
        <div class="item-right">
          <div class="item-text rtg">
            {{localize "SR5.Value"}}
          </div>
        </div>
      </div>
      <div class="scroll-area mods">
        {{#each data.modifiers as |value id|}}
        {{#ifne id 'wound'}}
        <div class="item">
          <div class="item-left">
            <div class="item-text item-name">
              {{toHeaderCase id}}
            </div>
          </div>
          <div class="item-right">
            <div class="item-text rtg">
              <input
                 class="display attribute-input"
                 size='4'
                 maxlength='3'
                 type='text'
                 name='data.modifiers.{{id}}'
                 value="{{value}}"
                 placeholder="None"
                 data-dtype='Number'/>
            </div>
          </div>
        </div>
        {{/ifne}}
        {{/each}}
      </div>
    </div>
  </div>
</div>
