<div class="attributes smooth">
  <div class="attribute row">
    <h4 class="attribute-name">Armor {{sum data.armor.value data.armor.mod}}</h4>

  </div>
</div>
<div class="inventory">
  <div class="scroll-area">
    {{#each sections as |section sid|}}
    <div class="item item-section">
      <div class="item-left">
        <div class="item-text item-name">
          {{section.label}}
        </div>
      </div>
      <div class="item-right">
        <div class="item-text">
          Equipped
        </div>
        <div class="item-text">
          Qty.
        </div>
        <div class="item-text item-icons">
          <i class="fas fa-plus"></i>
          Add
        </div>
      </div>
    </div>
    {{#each section.items as |item i|}}
    <div class="item" data-item='{{item.id}}'>
      <div class="item-left">
        <div class="item-img">
          <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height='24px' width='24px'/>
        </div>
        <div class="item-text item-name">
          {{item.name}}
        </div>
      </div>
      <div class="item-right">
        <div class="item-text">
          <span
            class="item-equip-toggle"
            data-item='{{item.id}}'>
            {{#if item.data.technology.equipped}}
            <i class="far fa-check-circle"></i>
            {{else}}
            <i class="far fa-circle"></i>
            {{/if}}
          </span>
        </div>
        <div class="item-text">
          {{item.data.technology.quantity}}
        </div>
        <div class="item-text item-icons">
          <i class="item-edit roll fas fa-edit" data-item='{{item.id}}'></i>
          <i class="item-delete roll fas fa-trash" data-item='{{item.id}}'></i>
        </div>
      </div>
    </div>
    {{/each}}
    {{/each}}
  </div>
</div>
