<div class="inventory">
  <div class="scroll-area">
    <div class="item item-section">
      <div class="item-left">
        <div class="item-text item-name">
          Action
        </div>
      </div>
      <div class="item-right">
        <div class="item-text">
          Skill
        </div>
        <div class="item-text">
          Attribute
        </div>
        <div class="item-text">
          Attribute
        </div>
        <div class="item-text">
          Limit
        </div>
        <div class="item-text">
          Mod
        </div>
        <div class="item-text item-icons">
          <a class="item-create" title="Create Item" data-type="action">
            <i class="fas fa-plus"></i>
            Add
          </a>
        </div>
      </div>
    </div>
    {{#each actions as |action id|}}
    <div class="item" data-item-id='{{action._id}}'>
      <div class="item-left">
        <div class="item-text item-name item-roll roll" >
          {{action.name}}
        </div>
      </div>
      <div class="item-right">
        <div class="item-text">
          {{toHeaderCase action.data.action.skill}}
        </div>
        <div class="item-text">
          {{toHeaderCase action.data.action.attribute}}
        </div>
        <div class="item-text">
          {{#unless action.data.action.skill}}
          {{toHeaderCase action.data.action.attribute2}}
          {{/unless}}
        </div>
        <div class="item-text">
          {{#if action.data.action.limit.attribute}}
          {{toHeaderCase action.data.action.limit.attribute}} ({{action.data.action.limit.value}})
          {{else}}
          {{action.data.action.limit.value}}
          {{/if}}
        </div>
        <div class="item-text">
          {{action.data.action.mod}}
        </div>
        <div class="item-text item-icons">
          <i class="item-edit roll fas fa-edit" ></i>
          <i class="item-delete roll fas fa-trash" ></i>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>


