<div class="inventory">
  <div class="scroll-area">
    <div class="item item-section">
      <div class="item-left">
        <div class="item-text item-name">
          Powers
        </div>
      </div>
      <div class="item-right">
        <div class="item-text">
          Type
        </div>
        <div class="item-text item-icons">
          <a class="item-create" title="Create Item" data-type="adept_power">
            <i class="fas fa-plus"></i>
            Add
          </a>
        </div>
      </div>
    </div>
    {{#each powers as |item iid|}}
    <div class="item" data-item='{{item.id}}'>
      <div class="item-left">
        <div class="item-img item-roll roll" data-item='{{item.id}}'>
          <img src="{{item.img}}" title="{{item.name}}" height='24px' width='24px'/>
        </div>
        <div class="item-text item-name has-desc">
          {{item.name}}
        </div>
      </div>
      <div class="item-right">
        <div class="item-text">
          {{toHeaderCase item.data.type}}
        </div>
        <div class="item-text item-icons">
          <i class="item-edit roll fas fa-edit" data-item='{{item.id}}'></i>
          <i class="item-delete roll fas fa-trash" data-item='{{item.id}}'></i>
        </div>
      </div>
    </div>
    <div class="item hidden">
      <div class="item-desc">
        {{{item.data.description.value}}}
        <div class="props">
          {{#each item.properties}}
          <span>{{this}}</span>
          {{/each}}
        </div>
      </div>
    </div>
    {{/each}}
    <div class="item item-section">
      <div class="item-left">
        <div class="item-text item-name">
          Spells
        </div>
      </div>
      <div class="item-right">
        <div class="item-text">
          Type
        </div>
        <div class="item-text">
          Range
        </div>
        <div class="item-text">
          Duration
        </div>
        <div class="item-text">
          Drain
        </div>
        <div class="item-text item-icons">
          <a class="item-create" title="Create Item" data-type="spell">
            <i class="fas fa-plus"></i>
            Add
          </a>
        </div>
      </div>
    </div>
    {{#each spells as |item iid|}}
    <div class="item" data-item='{{item.id}}'>
      <div class="item-left">
        <div class="item-img item-roll" data-item='{{item.id}}'>
          <img src="{{item.img}}" title="{{item.name}}" height='24px' width='24px'/>
        </div>
        <div class="item-text item-name has-desc">
          {{item.name}}
        </div>
      </div>
      <div class="item-right">
        <div class="item-text">
          {{toHeaderCase item.data.type}}
        </div>
        <div class="item-text">
          {{toHeaderCase item.data.range}}
        </div>
        <div class="item-text">
          {{toHeaderCase item.data.duration}}
        </div>
        <div class="item-text">
          {{item.data.drain}}
        </div>
        <div class="item-text item-icons">
          <i class="item-edit roll fas fa-edit" data-item='{{item.id}}'></i>
          <i class="item-delete roll fas fa-trash" data-item='{{item.id}}'></i>
        </div>
      </div>
    </div>
    <div class="item hidden">
      <div class="item-desc">
        {{{item.data.description.value}}}
        <div class="props">
          {{#each item.properties}}
          <span>{{this}}</span>
          {{/each}}
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>
