{{log itemUuid}}
<div class="{{#if itemHeader}}list-header{{else}}list-item{{/if}} {{itemCssClass}}" {{#if itemUuid}}data-uuid="{{itemUuid}}"{{/if}} {{#if itemId}}data-item-id="{{itemId}}" data-item-type="{{itemType}}"{{/if}} {{#each itemData}}data-{{@key}}="{{this}}"{{/each}}>
    <div class="list-item-content">
        <div class="item-left">
            {{#if img}}
                <div class="item-img {{#if hasRoll}}item-roll{{/if}} roll">                    
                    <img src="{{img}}" {{#if hasRoll}}data-tooltip="{{localize 'SR5.Labels.ActorSheet.TestKBoardModifiers' skip=@root.bindings.skip descr=@root.bindings.card}}" data-tooltip-direction="LEFT"{{/if}} height="24px" width="24px"/>
                </div>
            {{/if}}
            {{#if system.importFlags.isFreshImport}}
            {{#if (itemMarking "ICON")}}
                {{#if (itemMarking "COLOR")}}
                    <div class="item-img">
                        <img src="systems/shadowrun5e/dist/icons/checklist.svg" data-tooltip="SR5.IsFreshImport" height="24px" width="24px"/>
                    </div>
                {{else}}
                    <div class="item-img">
                        <img src="systems/shadowrun5e/dist/icons/checklist-white.svg" data-tooltip="SR5.IsFreshImport" height="24px" width="24px"/>
                    </div>
                {{/if}}
            {{/if}}
            {{/if}}
            <div class="item-text item-name
                {{#if system.importFlags.isFreshImport}}{{#if (itemMarking "COLOR")}}fresh-import{{/if}}{{/if}}
                {{#if hasDesc}}has-desc{{/if}}
                {{#if itemNameCssClass}}{{itemNameCssClass}}{{/if}}
                {{#each additionalCssClass}}{{this }}{{/each}}
                {{#unless img}}{{#if hasRoll}}roll{{/if}}{{/unless}}"
                {{#unless img}}{{#unless tooltip}}{{#if hasRoll}}data-tooltip="{{localize 'SR5.Labels.ActorSheet.TestKBoardModifiers' skip=@root.bindings.skip descr=@root.bindings.card}}"{{/if}}{{/unless}}{{/unless}}
                {{#if tooltip}}data-tooltip="{{tooltip}}"{{/if}}
            >
                {{name}}
            </div>
        </div>
        <div class="item-right">
            {{!-- Iterate over all right-side options --}}
            {{#each rightSide as |option id|}}
                {{#if option.text}}
                    <div class="item-text {{option.text.cssClass}}">
                        {{option.text.text}}
                    </div>
                {{/if}}
                {{#if option.button}}
                    <div class="item-input">
                        <button class="display
                            {{option.button.cssClass}}
                            {{#if option.button.short}}short{{/if}}"
                        >
                            {{option.button.text}}
                        </button>
                    </div>
                {{/if}}
                {{#if option.input}}
                    {{#ife option.input.type 'number'}}
                        <div class="item-text {{option.cssClass}}">
                            {{> "systems/shadowrun5e/dist/templates/common/ValueInput.html"
                                    cssClass=(concatStrings "short " option.input.cssClass)
                                    title="SR5.Quantity"
                                    size="5"
                                    maxLength="5"
                                    value=option.input.value
                            }}
                        </div>
                    {{/ife}}
                {{/if}}
                {{#if option.html}}
                    <div class="item-text {{option.html.cssClass}}">
                        {{{option.html.text}}}
                    </div>
                {{/if}}
            {{/each}}
            {{#if icons}}
                <div class="item-text item-icons">
                    {{#each icons as |icon id|}}
                        <a class="{{icon.cssClass}} roll" data-tooltip="{{icon.title}}" {{#each icon.data}}data-{{@key}}="{{this}}"{{/each}}>
                            <i class="item-icon {{icon.icon}}" {{#each icon.data}}data-{{@key}}="{{this}}"{{/each}}></i>
                            {{#if (isDefined icon.text)}}
                                {{icon.text}}
                            {{/if}}
                        </a>
                    {{/each}}
                </div>
            {{/if}}
        </div>
    </div>

    {{#if hasDesc}}
    <div class="list-item-description" style="display: none;">
        <div class="item-desc">
            <div class="props">
                {{#each properties}}
                    <span>{{this}}</span>
                {{/each}}
            </div>
            <div class="item-desc">
                {{{description}}}
            </div>
        </div>
    </div>
    {{/if}}
</div>
