{{#> 'systems/shadowrun5e/dist/templates/common/TabWrapper.hbs' tabId='skills'}}
    <div>
        {{> 'systems/shadowrun5e/dist/templates/actor/parts/vehicle/VehicleStatsList.hbs' }}
    </div>
    <div class="inventory">
        <div class="split-container">
            {{> 'systems/shadowrun5e/dist/templates/actor/parts/skills/ActiveSkillList.hbs' }}
            <div class="flexcol">
                {{> 'systems/shadowrun5e/dist/templates/actor/parts/vehicle/VehicleSecondStatsList.hbs' }}
            </div>
        </div>
    </div>
{{/ 'systems/shadowrun5e/dist/templates/common/TabWrapper.hbs'}}
