{{!-- list-item expects an SR5Item to be passed in as 'item' --}}
<div class="new-list-item-container">
    <div class="new-list-item" data-item-id="{{item.uuid}}">
        {{> "systems/shadowrun5e/dist/templates/v2/list-items/item-roll-image.hbs" item }}
        {{> "systems/shadowrun5e/dist/templates/v2/common/import-flag.hbs" item }}
        {{> "systems/shadowrun5e/dist/templates/v2/list-items/item-name.hbs" item }}

        <div class="new-list-item-col">
            <label>{{#if item.system.armor.mod}}+{{/if}}{{item.system.armor.value}}</label>
        </div>

        {{> 'systems/shadowrun5e/dist/templates/v2/list-items/item-rating-col.hbs' item }}
        {{> 'systems/shadowrun5e/dist/templates/v2/list-items/item-quantity-col.hbs' item }}

        <div class="new-list-item-icons">
            {{#if (isOwner item owner=@root.actor)}}
                {{> 'systems/shadowrun5e/dist/templates/v2/list-items/wireless-icon.hbs' item }}
                {{> 'systems/shadowrun5e/dist/templates/v2/list-items/equip-icon.hbs' item }}
                {{> 'systems/shadowrun5e/dist/templates/v2/list-items/edit-delete-icons.hbs' item }}
            {{/if}}
            {{> 'systems/shadowrun5e/dist/templates/v2/list-items/favorite-icon.hbs' item }}
        </div>
    </div>
    <div class="new-list-item-description">
        {{{item.system.description.value}}}
    </div>
</div>
