<div class="list-item list-item-header {{cssClass}}">
    <div class="list-item-start">
        <label>
            {{localize label}}&nbsp;{{pan_counter}}
        </label>
    </div>

    <div class="list-item-col matrix-icon-col">
        <label>
            {{localize "SR5.Labels.Sheet.Type"}}
        </label>
    </div>

    <div class="list-item-icons">
        <a data-action="removeAllSlaves">
            <i class="fas fa-trash"></i>
        </a>
    </div>
</div>
