<div class="list-item list-item-header {{cssClass}}">
    <div class="list-item-start">
        <label>
            {{localize label}}&nbsp;{{pan_counter}}
        </label>
    </div>

    <div class="list-item-col matrix-icon-col">
        <label>
            {{localize "SR5.Labels.Sheet.Type"}}
        </label>
    </div>

    <div class="list-item-icons skinny-icons">
        {{#if (isType item 'grid' 'host')}}
            <a data-action="removeImprovisedDevices" data-tooltip="SR5.Labels.Sheet.RemoveImprovisedDevices">
                <i class="fas fa-broom"></i>
            </a>
        {{/if}}
        <a data-action="removeAllSlaves" data-tooltip="SR5.Labels.Sheet.ClearNetwork">
            <i class="fas fa-trash"></i>
        </a>
    </div>
</div>
