<form>
  {{#if ammo}}
  <div class="form-group">
    <label>Rounds Remaining</label>
    <label>{{ammo.value}}/{{ammo.max}}</label>
  </div>
  {{/if}}
  <div class="form-group">
    <label>Fire Mode{{#if rc}} (Total RC {{rc}}){{/if}}</label>
    <select name="fireMode">
    {{#select fireMode}}
      <option value="1">SS/SA- 1 Round</option>
      <option value="3">SB/BF - 3 Rounds</option>
      <option value="6">LB/FA(s) - 6 Rounds</option>
      <option value="10">FA(c) - 10 Rounds</option>
      <option value="20">Supp - 20 Rounds</option>
    {{/select}}
    </select>
  </div>
</form>
