<div
    class="sr5 chat-card roll-card"
    data-actor-id="{{actor._id}}"
    data-item-id="{{item._id}}"
    data-token-id="{{tokenId}}"
>
    <div class="card-title flexrow">
        <div class="speaker-img">
            <img
                src="{{actor.img}}"
                data-edit="img"
                title="{{actor.name}}"
                height="30px"
                width="30px"
            />
        </div>
        <div class="speaker-name">
            {{actor.name}}
        </div>
    </div>
    <div class="card-content">
        <div class="test-line">
            <span class="test-name">
                {{testName}}
            </span>
            {{#if template}}
            <div class="roll" title="{{localize 'SR5.PlaceTemplate'}}">
                <i class="fas fa-bullseye place-template" data-template="{{template}}"></i>
            </div>
            {{/if}}
        </div>
        <div class="limit-line">
            <span class="key">{{localize "SR5.Hits"}}: </span
            ><span class="value">{{hits}}</span> {{#if dicePool}} <span>/{{dicePool}}</span> {{/if}}
        </div>
        {{#if limitPart}}
        <div class="limit-line">
            {{#each limitPart as |value key|}}
            <span class="key">{{localize key}}: </span>
            <span class="value">{{value}}</span>
            {{/each}}
        </div>
        {{/if}} {{#if damage}}
        <div class="damage-line">
            {{#if damage.value}}
            <div>
                <span class="key">{{localize "SR5.DV"}}: </span>
                <span class="value">{{damage.value}}</span>
            </div>
            {{/if}} {{#if damage.ap}}
            <div>
                <span class="key">{{localize "SR5.AP"}}: </span>
                <span class="value">{{damage.ap}}</span>
            </div>
            {{/if}} {{#if damage.element.value}}
            <div>
                <i class="{{elementIcon damage.element.value}} icon" title="{{localize damage.element.value}}"></i>
            </div>
            {{/if}}
        </div>
        {{/if}}
    </div>
    <div class="dice-roll-content">
        {{#each dice}}
        <div class="dice-roll {{diceIcon this}}">
            <div class="result-text">{{this.roll}}</div>
        </div>
        {{/each}}
    </div>
    {{#if opposedTest}}
    <div class="opposed-test-content">
        <div class="roll opposed-test">
            {{opposedTest}}
        </div>
    </div>
    {{/if}}
</div>
