<div
    class="sr5 chat-card roll-card"
    data-actor-id="{{actor._id}}"
    data-item-id="{{item._id}}"
    data-token-id="{{tokenId}}"
>
    <div class="card-title flexrow">
        <div class="speaker-img">
            <img
                src="{{header.img}}"
                data-edit="img"
                title="{{actor.name}}"
                height="30px"
                width="30px"
            />
        </div>
        <div class="speaker-name">
            {{header.name}}
        </div>
    </div>
    <div class="test-line">
        <span class="test-name">
            {{testName}}
        </span>
        {{#if template}}
        <div class="roll" title="{{localize 'SR5.PlaceTemplate'}}">
            <i class="fas fa-bullseye place-template" data-template="{{template}}"></i>
        </div>
        {{/if}}
    </div>
    <div class="card-content">
        <div class="left-side">
            <div class="limit-line">
                <span class="key">{{localize "SR5.Hits"}}: </span
                ><span class="value">{{hits}}</span>
            </div>
            {{#if limit}}
            <div class="limit-line" title="{{localize 'SR5.Limit'}}">
                <span class="key">{{localize limit.label}}: </span>
                <span class="value">{{limit.value}}</span>
            </div>
            {{/if}} {{#if damage}}
            <div class="damage-line">
                {{#if damage.value}}
                <div>
                    <span class="key">{{localize "SR5.DV"}}: </span>
                    <span class="value">{{damage.value}}</span>
                </div>
                {{/if}} {{#if damage.ap}}
                <div>
                    <span class="key">{{localize "SR5.AP"}}: </span>
                    <span class="value">{{damage.ap}}</span>
                </div>
                {{/if}} {{#if damage.element.value}}
                <div>
                    <i
                        class="{{elementIcon damage.element.value}} icon"
                        title="{{localize damage.element.value}}"
                    ></i>
                </div>
                {{/if}}
            </div>
            {{/if}}
        </div>
        <div class="right-side">
            <div class="parts-list vertical">
                {{#each parts as |part id|}}
                <div class="part">
                    <span>{{localize id}}</span>: <span class="value">{{part}}</span>
                </div>
                {{/each}}
                <div class="part">
                    <span class="value">{{localize 'SR5.DicePool'}}</span>: <span class="value">{{dicePool}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="dice-roll-content">
        {{#each dice}}
        <div class="dice-roll {{diceIcon this}}">
            <div class="result-text">{{this.roll}}</div>
        </div>
        {{/each}}
    </div>
    {{#if opposedTest}}
    <div class="opposed-test-content">
        <div class="opposed-test">
            {{opposedTest.label}}
        </div>
    </div>
    {{/if}}
</div>
