<form>
  {{#if damage}}
  <div class="form-group">
    <label>Incoming Damage</label>
    <input
       type="text"
       value="{{damage}}"
       name="soak"
       disabled />
  </div>
  {{/if}}
  <div class="form-group">
    <label>Soak Pool</label>
    <input
       type="text"
       value="{{soak}}"
       name="soak"
       disabled />
  </div>
  <div class="form-group">
    <label>AP</label>
    <input
       type="text"
       value="{{ap}}"
       name="ap"
       data-dtype="Number"/>
  </div>
</form>

