<div class="list-item list-item-header">
    <div class="list-item-start">
        <label>
            {{localize label}}
        </label>
    </div>

    <div class="list-item-col cost-col">
        <label>{{localize "SR5.Cost"}}</label>
    </div>

    <div class="list-item-icons">
        {{> "systems/shadowrun5e/dist/templates/v2/list-items/header-add-icon.hbs" type=type }}
    </div>
</div>
