<div class="form-group">
    <label>{{localize "SR5.Skill.Teamwork.ParticipantActor"}}</label>
    <select name="actor">
        {{#each actors}}
        <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
    </select>
</div>
