<form class="sr5">
    <div class="form-group">
        <label style="font-weight: bold;">{{localize "SR5.Damage"}}</label>
        <input style='flex: 1' type='text' name='damage_code' size='3' maxlength='3' value='{{damageCode damage}}' data-dtype="Text" disabled/>
    </div>
    <div>
        {{#each actorDamage as |actorDamage|}}
        <div>
            <img src="{{actor.img}}" title="{{speakerName actorDamage.actor}}" width="36" height="36"/>
            <span><b>{{speakerName actorDamage.actor}} </b></span>
            <span>Armor({{actorDamage.armor.value}}): </span>
            <span>{{damageCode actorDamage.incoming}} -> {{damageCode actorDamage.damage}}</span>
        </div>
        {{/each}}
    </div>
</form>