<form>
    <div class="dialog-content-common">
        {{> 'systems/shadowrun5e/dist/templates/apps/dialogs/parts/success-test-documents.hbs'}}
        <hr/>
        <div>
            <div class="form-group">
                <label>{{localize 'SR5.IncomingFade'}}</label>
                <input type="number" value="{{test.data.incomingFade.value}}" name="test.data.incomingFade"/>
            </div>
            {{#> "systems/shadowrun5e/dist/templates/apps/dialogs/parts/icon-choice-group.hbs"
                label=(localize 'SR5.DamageType')
            }}
                {{#each config.damageTypes as |val key|}}
                    {{> 'systems/shadowrun5e/dist/templates/apps/dialogs/parts/icon-choice-option.hbs'
                        type='radio'
                        name='test.data.incomingFade.type.value'
                        value=key
                        checked=(eq key ../test.data.incomingFade.type.value)
                        iconPath=(lookup @root.config.damageTypeIcons key)
                        tooltip=(localize val)
                    }}
                {{/each}}
            {{/"systems/shadowrun5e/dist/templates/apps/dialogs/parts/icon-choice-group.hbs"}}
        </div>
    </div>
    <div>
        {{> 'systems/shadowrun5e/dist/templates/apps/dialogs/parts/success-test-common.hbs'}}
    </div>
</form>