<form>
    <div class="dialog-content-common">
        {{> 'systems/shadowrun5e/dist/templates/apps/dialogs/parts/success-test-documents.html'}}
        <hr />
        <div>
            <div class="form-group">
                <label data-tooltip="SR5.Tooltips.Ritual.Force">{{localize "SR5.Force"}}</label>
                <input name="test.data.force" type="number" class="disabled-for-display" value="{{test.data.force}}" />
            </div>
            <div class="form-group">
                <label data-tooltip="SR5.Tooltips.Ritual.ReagentDrams">{{localize "SR5.Reagent"}}</label>
                <input name="test.data.reagents" type="number" class="disabled-for-display" value="{{test.data.reagents}}" />
            </div>
        </div>
    </div>
    <div>
        {{> 'systems/shadowrun5e/dist/templates/apps/dialogs/parts/success-test-common.html'}}
    </div>
</form>
