<form>
    <div class="dialog-content-common">
        {{> 'systems/shadowrun5e/dist/templates/apps/dialogs/parts/success-test-documents.html'}}
        <hr/>
        <div>
            <div class="form-group">
                <label>{{localize "SR5.Attribute"}}</label>
                <select name="test.data.attribute">
                    {{#select test.data.attribute}}
                    <option value=""></option>
                    {{#each config.attributes as |label attribute|}}
                    <option value="{{attribute}}">{{localize label}}</option>
                    {{/each}} {{/select}}
                </select>
            </div>
            <div class="form-group">
                <label>{{localize "SR5.Limit"}}</label>
                <select name="test.data.limitSelection">
                    {{#select test.data.limitSelection}}
                    <option value=""></option>
                    {{#each config.limits as |label limit|}}
                    <option value="{{limit}}">{{localize label}}</option>
                    {{/each}} {{/select}}
                </select>
            </div>
        </div>
    </div>
    <div>
        {{> 'systems/shadowrun5e/dist/templates/apps/dialogs/parts/success-test-common.html'}}
    </div>
</form>