<form>
    <div class="container container--fluid">
        <div class="container__row">
            <div class="container__col-half dialog-content-column">
                <h2 class="sunken">{{localize test.title}}</h2>
                <div class="sunken">
                    <div class="form-group">
                        <label>{{localize "SR5.RecklessSpellButton"}}</label>
                        <input type="checkbox" name="test.data.reckless" {{#if test.data.reckless}}checked{{/if}}/>
                    </div>
                    <div class="form-group">
                        <label>{{localize "SR5.Force"}}</label>
                        <input name="test.data.force" type="text" class="disabled-for-display"
                               value="{{test.data.force}}"/>
                    </div>
                    <div class="form-group">
                        <label>{{localize "SR5.Drain"}} ({{test.item.data.data.drain}})</label>
                        <input disabled type="text" class="disabled-for-display" value="{{test.data.drain}}"/>
                    </div>
                </div>
            </div>
            <div class="container__col-half dialog-content-column">
                {{> 'systems/shadowrun5e/dist/templates/apps/dialogs/parts/success-test-common.html'}}
            </div>
        </div>
    </div>
</form>