<div class="fill-container">
    {{> 'systems/shadowrun5e/templates/v2/list-items/skill/header.hbs'
        label="SR5.ActiveSkills"
        headerAction="filterTrainedSkills"
        addAction="addActiveSkill"
        category='active'
        cssClass="active-skills-header header-for-scrollable"
    }}
    <div class="list-item">
        <input
            id="filter-active-skills"
            class="short text"
            type="text"
            placeholder="{{localize 'SR5.Filter'}}..."
        />
    </div>
    <section id="active-skills-scroll" class="scrollable">
        {{#each system.skills.active as |skill sid|}}
            {{> 'systems/shadowrun5e/templates/v2/list-items/skill/item.hbs'
                skillPath=(concat "system.skills.active." sid)
                category='active'
                skill=skill
                removeAction="removeActiveSkill"
                id=sid
            }}
        {{/each}}
    </section>
</div>
