<div class="fill-container">
    {{> 'systems/shadowrun5e/dist/templates/v2/list-items/skill/header.hbs'
        label="SR5.ActiveSkills"
        headerAction="filterTrainedSkills"
        addAction="addActiveSkill"
        cssClass="active-skills-header header-for-scrollable"
    }}
    <div>
        <input
            id="filter-skills"
            class="display text left"
            type="text"
            value="{{filters.skills}}"
            name="filters.skills"
            placeholder="{{localize 'SR5.Filter'}}..."
        />
    </div>
    <section class="scrollable">
        {{#each system.skills.active as |skill sid|}}
            {{> 'systems/shadowrun5e/dist/templates/v2/list-items/skill/item.hbs'
                skillPath=(concat "system.skills.active." sid)
                skill=skill
                id=sid
            }}
        {{/each}}
    </section>
</div>
