<div class="new-list-item new-list-item-header">
    <div class="new-list-item-col">
        <a data-tooltip="SR5.Roll"
           data-roll-id="prompt-roll">
            <i class="fas fa-dice-six"></i>
        </a>
    </div>
    <div class="new-list-item-col">
        <a data-tooltip="SR5.RollComposure" data-roll-id="composure">
            <i class="fas fa-face-angry"></i>
        </a>
    </div>
    <div class="new-list-item-col">
        <a data-tooltip="SR5.RollJudgeIntentions" data-roll-id="judge-intentions">
            <i class="fas fa-gavel"></i>
        </a>
    </div>
    <div class="new-list-item-col">
        <a data-tooltip="SR5.RollLiftCarry" data-roll-id="lift-carry">
            <i class="fas fa-person-carry-box"></i>
        </a>
    </div>
    <div class="new-list-item-col">
        <a data-tooltip="SR5.RollMemory" data-roll-id="memory">
            <i class="fas fa-brain"></i>
        </a>
    </div>
    <div class="new-list-item-col">
        <a data-tooltip="SR5.RollDefense" data-roll-id="defense">
            <i class="fas fa-user-shield"></i>
        </a>
    </div>
    <div class="new-list-item-col">
        <a data-tooltip="SR5.RollSoak" data-roll-id="damage-resist">
            <i class="fas fa-shield"></i>
        </a>
    </div>
    <div class="new-list-item-col">
        <a data-tooltip="SR5.RollArmor" data-roll-id="armor">
            <i class="fas fa-shield-halved"></i>
        </a>
    </div>

    {{#if awakened}}
    <div class="new-list-item-col">
        <a data-tooltip="SR5.RollDrain" data-roll-id="drain">
            <i class="fas fa-shield"></i>
        </a>
    </div>
    {{/if}}

    {{#if emerged}}
    <div class="new-list-item-col">
        <a data-tooltip="SR5.RollFade" data-roll-id="fade">
            <i class="fas fa-shield"></i>
        </a>
    </div>
    {{/if}}

    {{#unless (or isIC isSprite)}}
        <div class="new-list-item-label-container">
            {{> 'systems/shadowrun5e/dist/templates/v2/actor/parts/movement.hbs' }}
        </div>
    {{/unless}}
</div>
