<div class="attributes">
    {{> "systems/shadowrun5e/dist/templates/v2/actor/parts/attribute.hbs"
            disableBase=(disabledHelper host)
            label="SR5.MatrixAttrAttack"
            attribute=system.matrix.attack
            attributeField=systemFields.matrix.fields.attack
            rootId=rootId
    }}
    {{> "systems/shadowrun5e/dist/templates/v2/actor/parts/attribute.hbs"
            disableBase=(disabledHelper host)
            label="SR5.MatrixAttrSleaze"
            attribute=system.matrix.sleaze
            attributeField=systemFields.matrix.fields.sleaze
            rootId=rootId
    }}
    {{> "systems/shadowrun5e/dist/templates/v2/actor/parts/attribute.hbs"
            disableBase=(disabledHelper host)
            label="SR5.MatrixAttrDataProc"
            attribute=system.matrix.data_processing
            attributeField=systemFields.matrix.fields.data_processing
            rootId=rootId
    }}
    {{> "systems/shadowrun5e/dist/templates/v2/actor/parts/attribute.hbs"
            disableBase=(disabledHelper host)
            label="SR5.MatrixAttrFirewall"
            attribute=system.matrix.firewall
            attributeField=systemFields.matrix.fields.firewall
            rootId=rootId
    }}
</div>
