<div class="scrollable">
    {{> 'systems/shadowrun5e/dist/templates/v2/list-items/skill/header.hbs'
        label="SR5.Languages"
        addAction="addLanguageSkill" }}
    {{#each system.skills.language.value as |skill sid|}}
        {{> 'systems/shadowrun5e/dist/templates/v2/list-items/skill/item.hbs'
            skillPath=(concat "system.skills.language.value." sid)
            skill=skill
            id=sid
            rootId=@root.rootId
        }}
    {{/each}}
    {{#each system.skills.knowledge as |cat cid|}}
    {{!-- Skip over empty knowledge categories during play mode --}}
    {{#if (or @root.isEditMode (not (empty cat.value)))}}
    {{> 'systems/shadowrun5e/dist/templates/v2/list-items/skill/header.hbs'
        label=(localizeOb cid @root.config.knowledgeSkillCategories)
        addSkillType=cid
        addAction="addKnowledgeSkill" }}
    {{#each cat.value as |skill sid|}}
        {{> 'systems/shadowrun5e/dist/templates/v2/list-items/skill/item.hbs'
            skillPath=(concat (concat (concat "system.skills.knowledge." cid) ".value") sid)
            skill=skill
            id=sid
            rootId=@root.rootId
        }}
    {{/each}}
    {{/if}}
    {{/each}}
</div>
