<div id="language-knowledge-skills-scrollable" class="scrollable">
    {{> 'systems/shadowrun5e/dist/templates/v2/list-items/skill/header.hbs'
        label="SR5.Languages"
        addAction="addItem" 
        category='language' }}
    {{log 'Knowledge'}}
    {{#each system.skills.language as |skill translated|}}
        {{> 'systems/shadowrun5e/dist/templates/v2/list-items/skill/item.hbs'
            skill=skill
            category='language'
            translated=translated }}
    {{/each}}
    {{#each system.skills.knowledge as |skills knowledgeType|}}
        {{!-- Skip over empty knowledge categories during play mode --}}
        {{#if (or @root.isEditMode (not (empty skills)))}}
            {{> 'systems/shadowrun5e/dist/templates/v2/list-items/skill/header.hbs'
                label=(localizeOb knowledgeType @root.config.knowledgeSkillCategories)
                addAction="addItem"
                category='knowledge'
                knowledgeType=knowledgeType }}
            {{#each skills as |skill translated|}}
                {{> 'systems/shadowrun5e/dist/templates/v2/list-items/skill/item.hbs'
                    skill=skill
                    category='knowledge'
                    subcategory=knowledgeType
                    translated=translated}}
            {{/each}}
        {{/if}}
    {{/each}}
</div>
