{{!-- Expected to be put in a row --}}
<div class="new-list-item new-list-item-header">
    {{#each system.limits as |limit id|}} {{#unless limit.hidden}}
        <div class="new-list-item-col">
            <label>
                {{localize limit.label}}&nbsp;{{limit.value}}
            </label>
        </div>
    {{/unless}} {{/each}}
</div>
