<div>
    {{> "systems/shadowrun5e/dist/templates/v2/common/header-block.hbs"
            name=(localize "SR5.SpecialAttributes")
    }}
    <div class="attributes center">
        {{> "systems/shadowrun5e/dist/templates/v2/actor/parts/attribute.hbs"
                attribute=system.attributes.edge
                attributeField=@root.systemFields.attributes.fields.edge
        }}
        {{> "systems/shadowrun5e/dist/templates/v2/actor/parts/attribute.hbs"
                attribute=system.attributes.essence
                attributeField=@root.systemFields.attributes.fields.essence
        }}
        {{#if awakened}}
            {{> "systems/shadowrun5e/dist/templates/v2/actor/parts/attribute.hbs"
                attribute=system.attributes.magic
                attributeField=@root.systemFields.attributes.fields.magic
        }}
            {{> "systems/shadowrun5e/dist/templates/v2/actor/parts/fake-attribute.hbs"
                attribute=system.attributes.initiation
                attributeField=@root.systemFields.attributes.fields.initiation
        }}
        {{/if}}
        {{#if emerged}}
            {{> "systems/shadowrun5e/dist/templates/v2/actor/parts/attribute.hbs"
                attribute=system.attributes.resonance
                attributeField=@root.systemFields.attributes.fields.resonance
        }}
            {{> "systems/shadowrun5e/dist/templates/v2/actor/parts/fake-attribute.hbs"
                attribute=system.attributes.submersion
                attributeField=@root.systemFields.attributes.fields.submersion
        }}
        {{/if}}
    </div>
</div>
