{{> "systems/shadowrun5e/dist/templates/v2/actor/parts/limits.hbs" }}
<div class="attributes">
    {{#unless system.vehicle_stats.handling.hidden}}
        {{> "systems/shadowrun5e/dist/templates/v2/actor/parts/attribute.hbs"
            attribute=system.vehicle_stats.handling
            attributeField=systemFields.vehicle_stats.fields.handling
        }}
    {{/unless}}
    {{#unless system.vehicle_stats.off_road_handling.hidden}}
        {{> "systems/shadowrun5e/dist/templates/v2/actor/parts/attribute.hbs"
            attribute=system.vehicle_stats.off_road_handling
            attributeField=systemFields.vehicle_stats.fields.off_road_handling
        }}
    {{/unless}}
    {{#unless system.vehicle_stats.speed.hidden}}
        {{> "systems/shadowrun5e/dist/templates/v2/actor/parts/attribute.hbs"
            attribute=system.vehicle_stats.speed
            attributeField=systemFields.vehicle_stats.fields.speed
        }}
    {{/unless}}
    {{#unless system.vehicle_stats.off_road_speed.hidden}}
        {{> "systems/shadowrun5e/dist/templates/v2/actor/parts/attribute.hbs"
            attribute=system.vehicle_stats.off_road_speed
            attributeField=systemFields.vehicle_stats.fields.off_road_speed
        }}
    {{/unless}}
    {{#unless system.vehicle_stats.acceleration.hidden}}
        {{> "systems/shadowrun5e/dist/templates/v2/actor/parts/attribute.hbs"
            attribute=system.vehicle_stats.acceleration
            attributeField=systemFields.vehicle_stats.fields.acceleration
        }}
    {{/unless}}
    {{> "systems/shadowrun5e/dist/templates/v2/actor/parts/attribute.hbs"
        attribute=system.attributes.body
        attributeField=systemFields.attributes.fields.body
    }}
    {{> "systems/shadowrun5e/dist/templates/v2/actor/parts/attribute.hbs"
        label="SR5.Armor.label"
        attribute=system.armor
        attributeField=systemFields.armor
    }}
    {{#unless system.vehicle_stats.pilot.hidden}}
        {{> "systems/shadowrun5e/dist/templates/v2/actor/parts/attribute.hbs"
            attribute=system.vehicle_stats.pilot
            attributeField=systemFields.vehicle_stats.fields.pilot
        }}
    {{/unless}}
    {{#unless system.vehicle_stats.sensor.hidden}}
        {{> "systems/shadowrun5e/dist/templates/v2/actor/parts/attribute.hbs"
            attribute=system.vehicle_stats.sensor
            attributeField=systemFields.vehicle_stats.fields.sensor
        }}
    {{/unless}}
    {{#unless system.vehicle_stats.seats.hidden}}
        {{> "systems/shadowrun5e/dist/templates/v2/actor/parts/attribute.hbs"
            attribute=system.vehicle_stats.seats
            attributeField=systemFields.vehicle_stats.fields.seats
        }}
    {{/unless}}
</div>
