{{#if test.hasTargets}}
    <div class="form-group">
        <label>{{localize 'SR5.Target'}}</label>
        <select name="test.data.targetRangesSelected">
            {{selectOptions test.targetRangeOptions selected=test.data.targetRangesSelected}}
        </select>
    </div>
{{/if}}
<div class="form-group">
    <label>{{localize 'SR5.Range'}}</label>
    <select name="test.data.range" {{#if test.hasTargets}}disabled{{/if}}>
        {{selectOptions test.rangeOptions selected=test.data.range}}
    </select>
</div>
