<section class="tab{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
    <p><a href="http://sr5-foundryvtt.privateworks.com/index.php/Active_Effect">System Wiki Active Effects page (only in English)</a></p>
</section>
