<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header flexcol">
    <div class="sheet-header-row-1 flexrow">
      <div class="profile-img flex0">
        <img class="profile" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="80" width="80"/>
      </div>
      <div class="flexcol flex4">
        <div class="flexrow">
          <div class="flex4">
            <div class="name">
              <input
                class="display text left"
                name="name"
                type="text"
                value="{{actor.name}}"
                placeholder="Name"/>
            </div>
          </div>
          {{#each data.limits as |limit label|}}
          {{#ifin label ../config.limits }}
          <div class="limit">
            <div class="limit-row">
              <span class="limit-title">{{toHeaderCase label}}</span>
              <span class="limit-value" value={{limit.value}}>{{limit.value}}</span>
            </div>
          </div>
          {{/ifin}}
          {{/each}}
        </div>
        <div class="attributes smooth">
          {{#each data.track as |track label|}}
          <div class="attribute">
            <div class="attribute-name">{{toHeaderCase label}}</div>
            <div class="track">
              <div class="attribute-input-container">
                <input
                  class="display attribute-input"
                  size='2'
                  maxlength='2'
                  type='text'
                  name='data.track.{{label}}.value'
                  value="{{track.value}}"
                  data-dtype="Number"/>
              </div>
              <div class="track-slash">
              </div>
              <div class="attribute-input-container">
                <input
                  class="display attribute-input"
                  size='2'
                  maxlength='2'
                  type='text'
                  name='data.track.{{label}}.max'
                  value="{{track.max}}"
                  disabled
                  data-dtype="Number"/>
              </div>
            </div>
          </div>
          {{/each}}
          <div class="attribute">
            <div class="attribute-name attribute-roll roll" data-attribute="edge">Edge</div>
            <div class="track">
              <div class="attribute-input-container">
                <input
                  class="display attribute-input"
                  size='2'
                  maxlength='2'
                  type='text'
                  name='data.attributes.edge.value'
                  value="{{data.attributes.edge.value}}"
                  data-dtype="Number"/>
              </div>
              <div class="track-slash">
              </div>
              <div class="attribute-input-container">
                <input
                  class="display attribute-input"
                  size='2'
                  maxlength='2'
                  type='text'
                  name='data.attributes.edge.max'
                  value="{{data.attributes.edge.max}}"
                  data-dtype="Number"/>
              </div>
            </div>
          </div>
          <div class="attribute">
            <div class="attribute-name">Movement</div>
            <div class="track">
              <div class="attribute-input-container">
                <input
                  class="display attribute-input"
                  size='2'
                  maxlength='2'
                  type='text'
                  name='data.movement.walk.value'
                  value="{{data.movement.walk.value}}"
                  data-dtype="Number"
                  disabled/>
              </div>
              <div class="track-slash">
              </div>
              <div class="attribute-input-container">
                <input
                  class="display attribute-input"
                  size='2'
                  maxlength='2'
                  type='text'
                  name='data.movement.run.value'
                  value="{{data.movement.run.value}}"
                  data-dtype="Number"
                  disabled/>
              </div>
              <div class="track-slash">
              </div>
              <div class="input attribute-input-container">
                <input
                  class="display attribute-input"
                  size='2'
                  maxlength='2'
                  type='text'
                  name='data.movement.sprint'
                  value="{{data.movement.sprint}}"
                  data-dtype="Number"/>
                <span class="unit">
                  +
                </span>
              </div>
            </div>
          </div>
          <div class="attribute">
            <div class="track">
              <div class="attribute-name">
                <select name="data.initiative.perception" class="display">
                  {{#select data.initiative.perception}}
                  <option value="meatspace">Meatspace</option>
                  <option value="matrix">Matrix</option>
                  {{#ife data.special 'magic'}}
                  <option value="astral">Astral</option>
                  {{/ife}}
                  {{/select}}
                </select>
              </div>
              <label title="Use Edge in next Initiative Roll" class="checkbox init-edge-label">
                <input type='checkbox' class="submit-checkbox" name="data.initiative.edge" {{checked data.initiative.edge}}>
                <span class="checkmark far"></span>
              </label>
            </div>
            <div class="track">
              <div class="attribute-input-container">
                <input
                   class="display"
                   size='4'
                   type='text'
                   value="{{data.initiative.current.base.value}}"
                   disabled />
              </div>
              <div class="track-plus">
              </div>
              <div class="attribute-input-container">
                <input
                   class="display"
                   size='4'
                   type='text'
                   value="{{data.initiative.current.dice.text}}"
                   disabled />
              </div>
            </div>
          </div>
          <div class="attribute">
            <div class="attribute-name roll attribute-roll" data-attribute="essence">Essence</div>
            <div class="attribute-input-container">
              <input
                class="display attribute-input"
                type="text"
                size="4"
                name="data.attributes.essence.value"
                value="{{data.attributes.essence.value}}"
                data-dtype="Number"
                disabled
                placeholder="1"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="attributes no-border">
      <div class="attribute row space-around">
        <div class="attribute-only-roll roll attribute-name" data-roll='composure'>Composure</div>
        <div class="attribute-only-roll roll attribute-name" data-roll='judge_intentions'>J.Intentions</div>
        <div class="attribute-only-roll roll attribute-name" data-roll='lift_carry'>Lift&Carry</div>
        <div class="attribute-only-roll roll attribute-name" data-roll='memory'>Memory</div>
        <div title="Roll" class="attribute-name basic-roll roll defense-icon fas fa-dice-six" data-roll='basic'></div>
        <div title="Defense" class="attribute-name defense-roll roll">Defense</div>
        <div title="Soak" class="attribute-name soak-roll roll defense-icon">Soak</div>
        <div class="attribute-name roll armor-roll">Armor ({{data.armor.value}})</div>
        {{#if awakened}}
        <div class="attribute-name roll drain-roll">Drain</div>
        {{/if}}
        {{#if emerged}}
        <div class="attribute-name roll fade-roll">Fade</div>
        {{/if}}
      </div>
    </div>
  </header>
  <section class="flexcol">
    <nav class="tabs" data-group="primary">
      <a class="item" data-tab="actions">Actions</a>
      <a class="item" data-tab="skills">Skills</a>
      <a class="item active" data-tab="equipment">Gear</a>
      {{#ife data.special 'magic'}}
      <a class="item" data-tab="magic">Magic</a>
      {{/ife}}
      <a class="item" data-tab="matrix">Matrix</a>
      <a class="item" data-tab="bio">Bio</a>
      <a class="item" data-tab="lifestyle">Lifestyle</a>
      <a class="item" data-tab="config">Misc</a>
    </nav>
    <div class="tab" data-group="primary" data-tab="skills">
      {{> "systems/shadowrun5e/templates/actor/parts/actor-skills.html"}}
    </div>
    <div class="tab" data-group="primary" data-tab="equipment">
      {{> "systems/shadowrun5e/templates/actor/parts/actor-equipment.html" sections=inventory data=data}}
    </div>
    <div class="tab" data-group="primary" data-tab="magic">
      {{> "systems/shadowrun5e/templates/actor/parts/actor-spellbook.html" spells=magic.spellbook powers=magic.powers}}
    </div>
    <div class="tab" data-group="primary" data-tab="matrix">
      {{> "systems/shadowrun5e/templates/actor/parts/actor-matrix.html" }}
    </div>
    <div class="tab" data-group="primary" data-tab="actions">
      {{> "systems/shadowrun5e/templates/actor/parts/actor-actions.html" actions=actions }}
    </div>
    <div class="tab" data-group="primary" data-tab="bio">
      {{> "systems/shadowrun5e/templates/actor/parts/actor-bio.html" }}
    </div>
    <div class="tab" data-group="primary" data-tab="lifestyle">
      <h3>Coming Soon (contacts & lifestyle support)</h3>
    </div>
    <div class="tab" data-group="primary" data-tab="config">
      {{> "systems/shadowrun5e/templates/actor/parts/actor-config.html" }}
    </div>
  </section>

</form>

