<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header flexcol">
    <div class="sheet-header-row-1 flexrow">
      <div class="profile-img flex0">
        <img  src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="80" width="80"/>
      </div>
      <div class="flexcol flex4">
        <div class="flexrow">
          <div class="flex4">
            <h3 class="character-name">
              <input
                class="display"
                name="name"
                type="text"
                value="{{actor.name}}"
                placeholder="Name"/>
            </h3>
          </div>
          {{#each data.limits as |limit label|}}
          <div class="flexcol limit">
            <div class="limit-row">
              <span class="limit-title">{{toHeaderCase label}}</span>
              <span class="limit-value" value={{limit.value}}>{{limit.value}}</span>
            </div>
            <div class="">
              <div class="input">
                <input
                  class="display mod-input"
                  size='2'
                  maxlength='2'
                  type='text'
                  name='data.limits.{{label}}.mod'
                  value="{{limit.mod}}"
                  placeholder='+Mod'
                  data-dtype="Number"/>
                {{#ifgt limit.mod 0}}
                <span class="unit size7">
                  +
                </span>
                {{/ifgt}}
              </div>
            </div>
          </div>
          {{/each}}
        </div>
        <div class="flexrow">
          {{#each data.track as |track label|}}
          <div class="track groove">
            <div class="track-inner">
              <div class="flexrow">
                <div />
                <h4 class="flex2 track-title">{{toHeaderCase label}}</h4>
                <div class="input right">
                  <input
                    class="display mod-input"
                    size='2'
                    maxlength='2'
                    type='text'
                    name='data.track.{{label}}.mod'
                    value="{{track.mod}}"
                    placeholder='+Mod'
                    data-dtype="Number"/>
                  {{#ifgt track.mod 0}}
                  <span class="unit size7">
                    +
                  </span>
                  {{/ifgt}}
                </div>
              </div>
              <div class="flexrow nowrap center">
                <div class="">
                  <input
                    class="display track-input"
                    size='2'
                    maxlength='2'
                    type='text'
                    name='data.track.{{label}}.value'
                    value="{{track.value}}"
                    data-dtype="Number"/>
                </div>
                <h3 class="track-slash flex0">
                </h3>
                <div class="">
                  <h3 class="track-max-value">{{track.max}}</h3>
                </div>
              </div>
            </div>
          </div>
          {{/each}}
          <div class="track groove">
            <div class="flexcol align-items-center text-center">
              <h4 class="track-title">Edge</h4>
              <div class="track-bottom">
                <div class="">
                  <input
                    class="display track-input"
                    size='2'
                    maxlength='2'
                    type='text'
                    name='data.attributes.edge.value'
                    value="{{data.attributes.edge.value}}"
                    data-dtype="Number"/>
                </div>
                <h3 class="track-slash flex0">
                </h3>
                <div class="">
                  <input
                    class="display track-input"
                    size='2'
                    maxlength='2'
                    type='text'
                    name='data.attributes.edge.max'
                    value="{{data.attributes.edge.max}}"
                    data-dtype="Number"/>
                </div>
              </div>
            </div>
          </div>
          <div class="track groove flex1">
            <div class="flexcol align-items-center text-center">
              <div class="flexrow space-between">
                <div class="input">
                  <input
                    class="display mod-input"
                    size='1'
                    maxlength='1'
                    type='text'
                    name='data.movement.walk.mult'
                    value="{{data.movement.walk.mult}}"
                    placeholder='+Walk'
                    data-dtype="Number"/>
                  {{#if data.movement.walk.mult}}
                  <span class="unit size7">
                    x
                  </span>
                  {{/if}}
                </div>
                <h4 class="track-title">Movement</h4>
                <div class="input right">
                  <input
                    class="display mod-input"
                    size='1'
                    maxlength='1'
                    type='text'
                    name='data.movement.run.mult'
                    value="{{data.movement.run.mult}}"
                    placeholder='+Run'
                    data-dtype="Number"/>
                  {{#if data.movement.run.mult}}
                  <span class="unit size7">
                    x
                  </span>
                  {{/if}}
                </div>
              </div>
              <div class="flexrow nowrap center">
                <div class="">
                  <h3>{{data.movement.walk.value}}<h3/>
                </div>
                <h3 class="track-slash flex0">
                </h3>
                <div class="">
                  <h3>{{data.movement.run.value}}<h3/>
                </div>
                <h3 class="track-slash flex0">
                </h3>
                <div class="input">
                  <input
                    class="display track-input"
                    size='1'
                    maxlength='1'
                    type='text'
                    name='data.movement.sprint'
                    value="{{data.movement.sprint}}"
                    data-dtype="Number"/>
                  <span class="size6 unit">
                    +
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flexrow sheet-header-row-2 space-around">
      <div class="flex0">
        <div class="flexrow nowrap space-around">
          <div>
            <h3 title="Defense" class="defense-roll defense-icon fas fa-meteor" data-roll='defense'></h3>
          </div>
          <div>
            <h3 title="Soak" class="soak-roll defense-icon fas fa-shield-alt" data-soak='default'></h3>
          </div>
          <div>
            <h3 title="Cold" class="soak-roll defense-icon fas fa-snowflake" data-soak='cold'></h3>
          </div>
          <div>
            <h3 title="Fire" class="soak-roll defense-icon fas fa-fire" data-soak='fire'></h3>
          </div>
          <div>
            <h3 title="Acid" class="soak-roll defense-icon fas fa-vial" data-soak='acid'></h3>
          </div>
          <div>
            <h3 title="Electricity" class="soak-roll defense-icon fas fa-bolt" data-soak='electricity'></h3>
          </div>
          <div>
            <h3 title="Radiation" class="soak-roll defense-icon fas fa-radiation-alt" data-soak='radiation'></h3>
          </div>
        </div>
      </div>
      <div>
        <div class="flexrow space-around">
          <div>
            <h4 class="attribute-only-roll" data-roll='composure'>Composure</h4>
          </div>
          <div>
            <h4 class="attribute-only-roll" data-roll='judge_intentions'>J.Intentions</h4>
          </div>
          <div>
            <h4 class="attribute-only-roll" data-roll='lift_carry'>Lift&Carry</h4>
          </div>
          <div>
            <h4 class="attribute-only-roll" data-roll='memory'>Memory</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="flexrow attributes">
      {{#each data.attributes as |attribute a|}}
        {{#unless attribute.hidden}}
          <div class="attribute">
            <h4 class="attribute-name" data-attribute={{a}}>{{toHeaderCase a}}</h4>
            <h3 class="attribute-input-container">
              <input
                class="display attribute-input"
                type="text"
                maxlength="2"
                size="2"
                name="data.attributes.{{a}}.value"
                value="{{attribute.value}}"
                data-dtype="Number"
                placeholder="1"/>
            </h3>
          </div>
        {{/unless}}
      {{/each}}
    </div>
  </header>
  <section class="sheet-body">
    <div class="flexcol flex4">
      <nav class="tabs" data-group="primary">
        <a class="item active" data-tab="skills">Skills</a>
        <a class="item" data-tab="equipment">Equipment</a>
        <a class="item" data-tab="magic">Magic</a>
        <a class="item" data-tab="matrix">Matrix</a>
        <a class="item" data-tab="info">Info</a>
      </nav>
      <div class="tab" data-group="primary" data-tab="skills">
        <div class="skill-header">
          <div class="flexrow space-around">
            <div class="">
              <h3>Name</h3>
            </div>
            <div class="flex0">
              <h3 class="skill-rtg">Rtg</h3>
            </div>
            <div class="">
              <h3 class="text-center">Specializations</h3>
            </div>
          </div>
        </div>
        {{#each data.skills.active as |skill s|}}
        {{#unless skill.hidden}}
        <div class="skill flexrow space-around">
          <div class="">
            <i class="skill-name" data-skill={{s}}>{{toHeaderCase s}}</i>
          </div>
          <div class="flex0">
            <input
              class="skill-value display"
              type="text"
              maxlength='2'
              size='2'
              name='data.skills.active.{{s}}.value'
              value='{{skill.value}}'
              data-dtype="Number"/>
          </div>
          <div class="">
            <input
              class="skill-specs display"
              type="text"
              name='data.skills.active.{{s}}.specs'
              value='{{skill.specs}}'
              data-dtype="String"/>
          </div>
        </div>
        {{/unless}}
        {{/each}}
      </div>
      <div class="tab" data-group="primary" data-tab="equipment">
        {{> "systems/shadowrun5e/templates/actor/parts/actor-equipment.html" sections=inventory}}
      </div>
    </div>
  </section>

</form>

