{{#each packs as |entry|}}
    <div class="form-group">
        <label for="{{entry.id}}">{{localize entry.label}}</label>
        <div class="form-fields">
            <select id="{{entry.id}}" class="compendium-select">
                {{selectOptions entry.choices selected=entry.value localize=true sort=true}}
            </select>
        </div>
    </div>
{{/each}}
