{{#> 'systems/shadowrun5e/dist/templates/common/TabWrapper.hbs' tabId='action'}}
<div class="inventory">
    <div class="scroll-area">
        {{> "systems/shadowrun5e/dist/templates/item/parts/action.hbs" header="Test Details"}}
        {{> "systems/shadowrun5e/dist/templates/item/parts/modifier.hbs" header="SR5.Labels.Action.Modifiers"}}
        {{> "systems/shadowrun5e/dist/templates/item/parts/damage.hbs" header="Damage"}}
        {{> "systems/shadowrun5e/dist/templates/item/parts/opposed.hbs" header="Opposed Test"}}
    </div>
</div>
{{/'systems/shadowrun5e/dist/templates/common/TabWrapper.hbs'}}
