{{#> 'systems/shadowrun5e/dist/templates/common/TabWrapper.html' tabId='action'}}
<div class="inventory">
    <div class="scroll-area">
        {{> "systems/shadowrun5e/dist/templates/item/parts/action.html" header="Test Details"}}
        {{> "systems/shadowrun5e/dist/templates/item/parts/modifier.html" header="SR5.Labels.Action.Modifiers"}}
        {{> "systems/shadowrun5e/dist/templates/item/parts/damage.html" header="Damage"}}
        {{> "systems/shadowrun5e/dist/templates/item/parts/opposed.html" header="Opposed Test"}}
    </div>
</div>
{{/'systems/shadowrun5e/dist/templates/common/TabWrapper.html'}}