{{#> 'systems/shadowrun5e/dist/templates/common/TabWrapper.html' tabId='network'}}
<div class="inventory">
    <div class="scroll-area">
        Grid Network
    </div>
</div>
{{/ 'systems/shadowrun5e/dist/templates/common/TabWrapper.html'}}