<div class="dice-rolls">
    <div class="dice-roll-content">
        {{#each roll.sides}}
        <div class="dice-roll {{diceIcon this}}">
            <div class="result-text">{{this}}</div>
        </div>
        {{/each}}
    </div>
</div>