{{#if this.system.importFlags.isFreshImport}}
    {{#if (itemMarking "ICON")}}
        {{#if (itemMarking "COLOR")}}
            <div class="no-shrink">
                <img src="systems/shadowrun5e/icons/checklist.svg" data-tooltip="SR5.IsFreshImport" height="24px" width="24px"/>
            </div>
        {{else}}
            <div class="no-shrink">
                <img src="systems/shadowrun5e/icons/checklist-white.svg" data-tooltip="SR5.IsFreshImport" height="24px" width="24px"/>
            </div>
        {{/if}}
    {{/if}}
{{/if}}
