<div class="value-modifiers-container {{#if card}}card-style{{/if}}">
    <div class="value-modifiers">
        {{#if (or (not card) value.base)}}
            <div class="list-item">
                <div class="value-modifier-name">
                    <label>{{localize 'SR5.BaseValue'}}</label>
                </div>
                <div class="value-modifiers-base">
                    <label>{{value.base}}</label>
                </div>
            </div>
        {{/if}}
        {{#each value.changes as |change|}}
            <div class="list-item">
                <div class="value-modifier-name {{#if change.invalidated}}value-modifiers-invalid-total{{/if}}">
                    <label>{{localize change.name}}</label>
                </div>
                <div class="value-modifiers-modifier {{#if change.invalidated}}value-modifiers-invalid-total{{/if}}">
                    <label>{{getChangeValue change}}</label>
                </div>
            </div>
        {{/each}}
    </div>
</div>
