<div class="sr5 chat-card">
    <div>
        {{ localize "SR5.Messages.MarkInvitation.AskForInvite" }}
    </div>
    <div>
        <a class="chat-document-link" data-uuid="{{target.uuid}}">{{target.name}}</a>
    </div>
    <div class="card-buttons">
        <div class="button" data-action="matrix-network-mark-invite">{{ localize
            "SR5.Messages.MarkInvitation.AcceptInvite" }}</div>
    </div>
</div>
