<div class="item-form">
  <div class="header">
    {{header}}
  </div>
  <div class="form-line">
    <div class="label">
      Type
    </div>
    <div class="inputs">
      {{#if data.action.type}}
      <label>
        Extended<input title="Specialization" type='checkbox' name="data.action.extended" {{checked data.action.extended}}/>
      </label>
      {{/if}}
      <select name="data.action.type">
        {{#select data.action.type}}
        <option value=""></option>
        <option value="none">None</option>
        <option value="free">Free</option>
        <option value="simple">Simple</option>
        <option value="complex">Complex</option>
        <option value="varies">Varies</option>
        {{/select}}
      </select>
    </div>
  </div>
  {{#if data.action.type}}
  <div class="form-line">
    <div class="label">
      Skill
    </div>
    <div class="inputs">
      {{#if data.action.skill}}
      <label>
        Spec<input title="Specialization" type='checkbox' name="data.action.spec" {{checked data.action.spec}}/>
      </label>
      {{/if}}
      <select name="data.action.skill">
      {{#select data.action.skill}}
        <option value=""></option>
        {{#each config.skills.categories as |cat cid|}}
        <option disabled>{{cat.label}}</option>
        {{#each cat.skills as |skill sid|}}
        <option value="{{skill}}">{{toHeaderCase skill}}</option>
        {{/each}}
        {{/each}}
      {{/select}}
      </select>
    </div>
  </div>
  <div class="form-line">
    <div class="label">
      Attribute
    </div>
    <div class="inputs">
      <select name="data.action.attribute">
      {{#select data.action.attribute}}
        <option value=""></option>
        {{#each config.attributes as |label l|}}
        <option value="{{label}}">{{toHeaderCase label}}</option>
        {{/each}}
      {{/select}}
      </select>
      {{#unless data.action.skill}}
      <select name="data.action.attribute2">
      {{#select data.action.attribute2}}
        <option value=""></option>
        {{#each config.attributes as |label l|}}
        <option value="{{label}}">{{toHeaderCase label}}</option>
        {{/each}}
      {{/select}}
      </select>
      {{/unless}}
    </div>
  </div>
  <div class="form-line">
    <div class="label">
      Dice Pool Mod
    </div>
    <div class="inputs">
      <input
         size='4'
         maxlength='3'
         type='text'
         name='data.action.mod'
         value="{{data.action.mod}}"
         data-dtype="Number"
         placeholder="+Mod" />
    </div>
  </div>
  {{#ifne item.type "spell"}}
  {{#ifne item.type "complex_form"}}
  <div class="form-line">
    <div class="label">
      Limit
    </div>
    <div class="inputs">
      <input
         size='4'
         maxlength='3'
         type='text'
         name='data.action.limit.base'
         value="{{data.action.limit.base}}"
         data-dtype="Number"
         placeholder="" />
      <div>
        +
      </div>
      <select name="data.action.limit.attribute">
      {{#select data.action.limit.attribute}}
        <option value=""></option>
        {{#each config.limits as |lim id|}}
        <option value="{{lim}}">{{toHeaderCase lim}}</option>
        {{/each}}
        {{#each config.matrix.attributes as |lim id|}}
        <option value="{{lim}}">{{toHeaderCase lim}}</option>
        {{/each}}
      {{/select}}
      </select>
    </div>
  </div>
  {{/ifne}}
  {{/ifne}}
  {{/if}}
</div>
