<div class="inventory">
  <div class="item item-section">
    <div class="item-left">
      <div class="item-text item-name">
        Ammo Name
      </div>
    </div>
    <div class="item-right">
      <div class="item-text rtg">
        Equip
      </div>
      <div class="item-text rtg">
        Qty
      </div>
      <div class="item-text six">
        Damage
      </div>
      <div class="item-text">
        Element
      </div>
      <div class="item-text rtg">
        AP
      </div>
      <div class="item-text">
        Radius
      </div>
      <div class="item-text">
        Dropoff
      </div>
      <div class="item-text item-icons rtg">
        <a class="add-new-ammo" title="Add New Ammo">
          <i class="fas fa-plus"></i>
        </a>
      </div>
    </div>
  </div>
{{#each data.range.ammo.available}}
  <div class="item">
    <div class="item-left">
      <div class="item-text item-name">
        <input
          class='display left'
          size='15'
          maxlength='15'
          type='text'
          name='data.range.ammo.available.{{@index}}.name'
          value='{{this.name}}'
          placeholder='' />
      </div>
    </div>
    <div class="item-right">
      <div class="item-text rtg">
        <label class="checkbox">
          <input type='checkbox' name="data.range.ammo.available.{{@index}}.equipped" {{checked this.equipped}}>
          <span class="checkmark far"></span>
        </label>
      </div>
      <div class="item-text rtg">
        <input
          class='display'
          size='3'
          maxlength='3'
          type='text'
          name='data.range.ammo.available.{{@index}}.qty'
          value='{{this.qty}}'
          data-dtype="Number"
          placeholder='0' />
      </div>
      <div class="item-text center six">
        <input
          class='display'
          size='2'
          maxlength='2'
          type='text'
          name='data.range.ammo.available.{{@index}}.damage'
          value='{{this.damage}}'
          data-dtype="Number"
          placeholder='0' />
        <select class='display' name='data.range.ammo.available.{{@index}}.damageType'>
          {{#select this.damageType}}
          <option value=""></option>
          <option value="physical">P</option>
          <option value="stun">S</option>
          {{/select}}
        </select>
      </div>
      <div class="item-text">
        <select class='display' name='data.range.ammo.available.{{@index}}.element'>
          {{#select this.element}}
          <option value=""></option>
          <option value="acid">Acid</option>
          <option value="fire">Fire</option>
          <option value="cold">Cold</option>
          <option value="electricity">Elec</option>
          <option value="radiation">Rad</option>
          {{/select}}
        </select>
      </div>
      <div class="item-text rtg">
        <input
          class='display'
          size='3'
          maxlength='3'
          type='text'
          name='data.range.ammo.available.{{@index}}.ap'
          value='{{this.ap}}'
          data-dtype="Number"
          placeholder='0' />
      </div>
      <div class="item-text center">
        <input
          class="display"
          type="text"
          maxlength="2"
          size="2"
          name="data.range.ammo.available.{{@index}}.blast.radius"
          value="{{this.blast.radius}}"
          data-dtype="Number"
          placeholder="0"/>
        <div class="track-max-value">m</div>
      </div>
      <div class="item-text center">
        <input
          class="display"
          size='2'
          maxlength='2'
          type='text'
          name='data.range.ammo.available.{{@index}}.blast.dropoff'
          value='{{this.blast.dropoff}}'
          data-dtype='Number'
          placeholder='0'/>
        <div class="track-max-value">/m</div>
      </div>
      <div class="item-text item-icons rtg">
        <a class="ammo-delete" title="Delete ammo" data-index='{{@index}}'>
          <i class="fas fa-trash"></i>
        </a>
      </div>
    </div>
  </div>
{{/each}}
</div>
