<div class="item-form">
  <div class="header">
    {{header}}
  </div>
  <div class="form-line">
    <div class="label">
      Armor Value
    </div>
    <div class="inputs">
      <input
        type="text"
        maxlength="2"
        size="2"
        name="data.armor.value"
        value="{{data.armor.value}}"
        data-dtype="Number"
        placeholder="1"/>
    </div>
  </div>
  <div class="form-line">
    <div class="label">
      Accessory
    </div>
    <div class="inputs">
      <label>
        <input type='checkbox' name='data.armor.mod' {{checked data.armor.mod}}/>
      </label>
    </div>
  </div>
  <div class="form-line">
    <div class="label">
      Acid Modifier
    </div>
    <div class="inputs">
      <input
        type="text"
        maxlength="2"
        size="2"
        name="data.armor.acid"
        value="{{data.armor.acid}}"
        data-dtype="Number"
        placeholder="0"/>
    </div>
  </div>
  <div class="form-line">
    <div class="label">
      Cold Modifier
    </div>
    <div class="inputs">
      <input
        type="text"
        maxlength="2"
        size="2"
        name="data.armor.cold"
        value="{{data.armor.cold}}"
        data-dtype="Number"
        placeholder="0"/>
    </div>
  </div>
  <div class="form-line">
    <div class="label">
      Fire Modifier
    </div>
    <div class="inputs">
      <input
        type="text"
        maxlength="2"
        size="2"
        name="data.armor.fire"
        value="{{data.armor.fire}}"
        data-dtype="Number"
        placeholder="0"/>
    </div>
  </div>
  <div class="form-line">
    <div class="label">
      Electricity Modifier
    </div>
    <div class="inputs">
      <input
        type="text"
        maxlength="2"
        size="2"
        name="data.armor.electricity"
        value="{{data.armor.electricity}}"
        data-dtype="Number"
        placeholder="0"/>
    </div>
  </div>
  <div class="form-line">
    <div class="label">
      Radiation Modifier
    </div>
    <div class="inputs">
      <input
        type="text"
        maxlength="2"
        size="2"
        name="data.armor.radiation"
        value="{{data.armor.radiation}}"
        data-dtype="Number"
        placeholder="0"/>
    </div>
  </div>
</div>
