<div class="flexcol flex0">
  <div class="profile-img flex0">
    <img src="{{item.img}}" title"{{item.name}}" data-edit="img" width="80" height="80"/>
  </div>
  <div class="technology">
    <div class="flexrow nowrap">
      <label>Rating</label>
      <input
        class="display"
        type='text'
        size='2'
        maxlength='2'
        name='data.technology.rating'
        value='{{data.technology.rating}}'
        data-dtype='Number'
        placeholder='2' />
    </div>
    <div class="flexrow nowrap">
      <label>Quantity</label>
      <input
        class="display"
        type='text'
        size='3'
        maxlength='3'
        name='data.technology.quantity'
        value='{{data.technology.quantity}}'
        data-dtype='Number'
        placeholder='1' />
    </div>
    <div class="flexrow nowrap">
      <label>Cost</label>
      <input
        class="display"
        type='text'
        name='data.technology.cost'
        value='{{data.technology.cost}}'
        data-dtype='Number'
        placeholder='100' />
    </div>
    <div class="flexrow nowrap">
      <label>Avail</label>
      <input
        class="display"
        type='text'
        name='data.technology.availability'
        value='{{data.technology.availability}}'
        placeholder='2R' />
    </div>
    <div class="flexrow nowrap">
      <input
        class="display"
        type='text'
        name='data.description.source'
        value='{{data.description.source}}'
        placeholder='Source' />
    </div>
  </div>
</div>

