<div class="attributes">
  <div class="attribute flex2">
    <h3 class="item-name">
      <input type="text" class="display" name="name" value='{{item.name}}' placeholder="Item Name" />
    </h3>
  </div>
  <div class="attribute row">
    <h4 class="attribute-name">
      {{toHeaderCase item.type}}
    </h4>
    {{#if data.category}}
    <select name="data.category" class="display">
      {{#select data.category}}
      {{#each categories}}
      <option value="{{this}}">{{toHeaderCase this}}</option>
      {{/each}}
      {{/select}}
    </select>
    {{/if}}
  </div>
  {{#if spec}}
  <div class="attribute">
    <label class='checkbox'>
      <input title="Specialization" class='display' type='checkbox' name='data.action.spec' {{checked data.action.spec}}/>Spec
    </label>
  </div>
  {{/if}}
</div>
