{{> "systems/shadowrun5e/templates/item/parts/item-header.html" spec=true categories=categories}}
<div class="attributes smooth">
  <div class="attribute">
    <h4 class="attribute-name">Type</h4>
    <select name="data.type" class="display">
      {{#select data.type}}
      {{#each config.spell.types}}
      <option value="{{this}}">{{toHeaderCase this}}</option>
      {{/each}}
      {{/select}}
    </select>
  </div>
  <div class="attribute">
    <h4 class="attribute-name">Range</h4>
    <select name="data.range" class="display">
      {{#select data.range}}
      {{#each config.spell.ranges}}
      <option value="{{this}}">{{toHeaderCase this}}</option>
      {{/each}}
      {{/select}}
    </select>
  </div>
  <div class="attribute">
    <h4 class="attribute-name">Duration</h4>
    <select name="data.duration" class="display">
      {{#select data.duration}}
      {{#each config.spell.duration}}
      <option value="{{this}}">{{toHeaderCase this}}</option>
      {{/each}}
      {{/select}}
    </select>
  </div>
  <div class="attribute">
    <h4 class="attribute-name">Drain</h4>
    <h3 class="attribute-input-container">
      <input
        class="display attribute-input"
        type="text"
        maxlength="2"
        size="2"
        name="data.drain"
        value="{{data.drain}}"
        data-dtype="Number"
        placeholder="-2"
        data-dtype="Number"/>
    </h3>
  </div>
</div>
