<div class="inventory">
    <div class="scroll-area">
        <div class="item item-section">
            <div class="item-left">
                <div class="item-text item-name">
                    {{localize "SR5.WeaponMod"}}
                </div>
            </div>
            <div class="item-right">
                <div class="item-text">
                    {{localize "SR5.DP"}}
                </div>
                <div class="item-text">
                    {{localize "SR5.Accuracy"}}
                </div>
                <div class="item-text">
                    {{localize "SR5.RecoilCompensation"}}
                </div>
                <div class="item-text">
                    {{localize "SR5.Conceal"}}
                </div>
                <div class="item-text item-icons">
                    <i class="fas fa-plus roll add-new-mod" title="Add new mod"></i>
                </div>
            </div>
        </div>
        {{#each weaponMods as |mod id|}}
        <div class="item" data-item-id="{{mod._id}}">
            <div class="item-left">
                <div class="item-text item-name">
                    <input class="display left" type="text" value="{{mod.name}}" disabled />
                </div>
            </div>
            <div class="item-right">
                <div class="">
                    <input
                        class="display left"
                        type="text"
                        value="{{localizeOb mod.data.data.mount_point ../config.mountPoints}}"
                        disabled
                    />
                </div>
                <div class="item-text">
                    <input
                        class="display"
                        size="3"
                        type="text"
                        disabled
                        value="{{mod.data.data.dice_pool}}"
                        data-dtype="Number"
                        placeholder="0"
                    />
                </div>
                <div class="item-text">
                    <input
                        class="display"
                        size="3"
                        type="text"
                        disabled
                        value="{{mod.data.data.accuracy}}"
                        data-dtype="Number"
                        placeholder="0"
                    />
                </div>
                <div class="item-text">
                    <input
                        class="display"
                        size="3"
                        type="text"
                        disabled
                        value="{{mod.data.data.rc}}"
                        data-dtype="Number"
                        placeholder="0"
                    />
                </div>
                <div class="item-text">
                    <input
                            class="display"
                            size="3"
                            type="text"
                            disabled
                            value="{{mod.data.data.technology.conceal.value}}"
                            data-dtype="Number"
                            placeholder="0"
                    />
                </div>
                <div class="item-text item-icons">
                    <i
                        title="{{localize 'SR5.ToggleEquip'}}"
                        class="mod-equip roll
                             {{#if mod.data.data.technology.equipped}}
                              fas fa-check-circle
                             {{else}}
                              far fa-circle
                             {{/if}}"
                    >
                    </i>
                    <i class="roll fas fa-edit edit-item" title="Edit Mod"></i>
                    <i class="roll fas fa-trash mod-delete" title="Delete Mod"></i>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
