<div class="inventory">
    <div class="scroll-area">
        <div class="item item-section">
            <div class="item-left">
                <div class="item-text item-name">
                    {{localize "SR5.WeaponMod"}}
                </div>
            </div>
            <div class="item-right">
                <div class="item-text rtg">
                    {{localize "SR5.Equip"}}
                </div>
                <div class="item-text rtg">
                    {{localize "SR5.DP"}}
                </div>
                <div class="item-text rtg">
                    {{localize "SR5.Accuracy"}}
                </div>
                <div class="item-text rtg">
                    {{localize "SR5.RecoilCompensation"}}
                </div>
                <div class="item-text item-icons rtg">
                    <a class="add-new-mod" title="Add New Accessory">
                        <i class="fas fa-plus"></i>
                    </a>
                </div>
            </div>
        </div>
        {{#each weaponMods as |mod id|}}
        <div class="item" data-item-id="{{mod._id}}">
            <div class="item-left">
                <div class="item-text item-name">
                    <input
                        class="display left"
                        type="text"
                        value="{{mod.name}}"
                        disabled
                    />
                </div>
            </div>
            <div class="item-right">
                <div class="item-text rtg">
                    <label class="checkbox">
                        <input
                            type="checkbox"
                            {{checked
                            mod.data.data.technology.equipped}}
                        />
                        <span class="checkmark far"></span>
                    </label>
                </div>
                <div class="item-text rtg">
                    <input
                        class="display"
                        size="3"
                        type="text"
                        disabled
                        value="{{mod.data.data.dp}}"
                        data-dtype="Number"
                        placeholder="0"
                    />
                </div>
                <div class="item-text rtg">
                    <input
                        class="display"
                        size="3"
                        type="text"
                        disabled
                        value="{{mod.data.data.acc}}"
                        data-dtype="Number"
                        placeholder="0"
                    />
                </div>
                <div class="item-text rtg">
                    <input
                        class="display"
                        size="3"
                        type="text"
                        disabled
                        value="{{mod.data.data.rc}}"
                        data-dtype="Number"
                        placeholder="0"
                    />
                </div>
                <div class="item-text item-icons rtg">
                    <a class="edit-item" title="Edit Mod">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a class="mod-delete" title="Delete Accessory">
                        <i class="fas fa-trash"></i>
                    </a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
