<div class="list-item list-item-header {{cssClass}}">
    <div class="list-item-start">
        <label>
            {{localize label}}
        </label>
    </div>

    <div class="list-item-col matrix-icon-col">
        <label>{{localize "SR5.Labels.Sheet.Type"}}</label>
    </div>

    <div class="list-item-col matrix-network-col">
        <label>{{localize "SR5.Labels.ActorSheet.Network"}}</label>
    </div>

    <div class="list-item-icons midd-icons">
        <a data-action="refresh" data-tooltip="SR5.Refresh">
            <i class="fas fa-refresh"></i>
        </a>
    </div>
</div>
