<div class="new-list-item new-list-item-header {{cssClass}}">
    <div class="new-list-item-label-container">
        <label>
            {{localize label}}
        </label>
    </div>

    <div class="new-list-item-col">
        <span>
            {{localize "SR5.Labels.Sheet.Type"}}
        </span>
    </div>

    <div class="new-list-item-icons">
        <a data-action="targetsRefresh" data-tooltip="SR5.Refresh">
            <i class="fas fa-refresh"></i>
        </a>
    </div>
</div>
