<div class="item-form">
    <div class="header">
        {{header}}
    </div>
    <div class="form-line">
        <div class="label">
            {{localize "SR5.CritterPower.Optional"}}
        </div>
        <div class="inputs">
            <select name="system.optional" class="power-optional-input">
                {{selectOptions config.critterPower.optional selected=system.optional localize=true}}
            </select>
        </div>
    </div>
    <div class="form-line">
        <div class="label">
            {{localize "SR5.CritterPower.Type"}}
        </div>
        <div class="inputs">
            <select name="system.powerType">
                {{selectOptions config.critterPower.types selected=system.powerType localize=true}}
            </select>
        </div>
    </div>
    <div class="form-line">
        <div class="label">
            {{localize "SR5.CritterPower.Duration"}}
        </div>
        <div class="inputs">
            <select name="system.duration">
                {{selectOptions config.critterPower.durations selected=system.duration localize=true}}
            </select>
        </div>
    </div>
    <div class="form-line">
        <div class="label">
            {{localize "SR5.CritterPower.Range"}}
        </div>
        <div class="inputs">
            <select name="system.range">
                {{selectOptions config.critterPower.ranges selected=system.range localize=true}}
            </select>
        </div>
    </div>
</div>
