<div class="item-form">
    <div class="header">
        {{header}}
    </div>
    <div class="form-line">
        <div class="label">
            {{localize "SR5.DamageType"}}
        </div>
        <div class="inputs">
            <select name="system.type">
                <option value=""></option>
                {{#select system.type}} {{#each config.modificationTypes as |name type|}}
                <option value="{{type}}">{{localize name}}</option>
                {{/each}} {{/select}}
            </select>
        </div>
    </div>
    {{#ife system.type 'weapon'}}
    <div class="form-line">
        <div class="label">
            {{localize "SR5.MountPoint"}}
        </div>
        <div class="inputs">
            <select name="system.mount_point">
                <option value=""></option>
                {{#select system.mount_point}} {{#each config.mountPoints as |name type|}}
                <option value="{{type}}">{{localize name}}</option>
                {{/each}} {{/select}}
            </select>
        </div>
    </div>
    <div class="form-line">
        <div class="label">
            {{localize "SR5.DicePool"}}
        </div>
        <div class="inputs">
            <input
                type="text"
                maxlength="2"
                size="2"
                name="system.dice_pool"
                value="{{system.dice_pool}}"
                data-dtype="Number"
                placeholder="Dice Pool"
            />
        </div>
    </div>
    <div class="form-line">
        <div class="label">
            {{localize "SR5.Accuracy"}}
        </div>
        <div class="inputs">
            <input
                type="text"
                maxlength="2"
                size="2"
                name="system.accuracy"
                value="{{system.accuracy}}"
                data-dtype="Number"
                placeholder="Accuracy"
            />
        </div>
    </div>
    <div class="form-line">
        <div class="label">
            {{localize "SR5.RecoilCompensation"}}
        </div>
        <div class="inputs">
            <input
                type="text"
                name="system.rc"
                value="{{system.rc}}"
                data-dtype="Number"
                placeholder="RC"
            />
        </div>
    </div>
    {{/ife}}
</div>
