<div class="item-form">
    <div class="header">
        {{header}}
    </div>
    <div class="form-line">
        <div class="label">
            {{localize "SR5.Preparation.Potency"}}
        </div>
        <div class="inputs">
            <input
                size="4"
                type="number"
                name="system.potency"
                value="{{system.potency}}"
                data-dtype="Number"
                placeholder="{{localize "SR5.Preparation.Potency"}}"
            />
        </div>
    </div>
    <div class="form-line">
        <div class="label">
            {{localize "SR5.Force"}}
        </div>
        <div class="inputs">
            <input
                size="4"
                type="number"
                name="system.force"
                value="{{system.force}}"
                data-dtype="Number"
                placeholder="{{localize "SR5.Force"}}"
            />
        </div>
    </div>
</div>
