<div class="item-form">
    <div class="header">
        {{header}}
    </div>
    <div class="form-line">
        <div class="label">
            {{localize "SR5.WeaponType"}}
        </div>
        <div class="inputs">
            <select name="system.category">
                {{#select system.category}}
                <option value=""></option>
                {{#each config.weaponCategories as |name type|}}
                <option value="{{type}}">{{localize name}}</option>
                {{/each}} {{/select}}
            </select>
        </div>
    </div>
    <div class="form-line">
        <div class="label">
            {{localize "SR5.WeaponAmmoCount"}}
        </div>
        <div class="inputs">
            <input
                    size="2"
                    type="text"
                    name="system.ammo.current.value"
                    value="{{system.ammo.current.value}}"
                    data-dtype="Number"
                    placeholder="0"
            />
            /
            <input
                    size="2"
                    type="text"
                    name="system.ammo.current.max"
                    value="{{system.ammo.current.max}}"
                    data-dtype="Number"
                    placeholder="{{localize SR5.Max}}"
            />
        </div>
    </div>
    {{#if system.category}} {{#ife system.category "range"}}
    <div class="form-line">
        <div class="label">
            {{localize "SR5.SpareClips"}}
        </div>
        <div class="inputs">
            <input
                    size="2"
                    type="text"
                    name="system.ammo.spare_clips.value"
                    value="{{system.ammo.spare_clips.value}}"
                    data-dtype="Number"
                    placeholder="0"
            />
            /
            <input
                    size="2"
                    type="text"
                    name="system.ammo.spare_clips.max"
                    value="{{system.ammo.spare_clips.max}}"
                    data-dtype="Number"
                    placeholder="{{localize SR5.Max}}"
            />
        </div>
    </div>
    <div class="form-line">
        <div class="label">
            {{localize "SR5.WeaponModes"}}
        </div>
        <div class="inputs">
            <label>
                {{localize "SR5.WeaponModeSingleShot"}}<input
                    type="checkbox"
                    name="system.range.modes.single_shot"
                    {{checked
                    system.range.modes.single_shot}}
                />
            </label>
            <label>
                {{localize "SR5.WeaponModeSemiAuto"}}<input
                    type="checkbox"
                    name="system.range.modes.semi_auto"
                    {{checked
                    system.range.modes.semi_auto}}
                />
            </label>
            <label>
                {{localize "SR5.WeaponModeBurstFire"}}<input
                    type="checkbox"
                    name="system.range.modes.burst_fire"
                    {{checked
                    system.range.modes.burst_fire}}
                />
            </label>
            <label>
                {{localize "SR5.WeaponModeFullAuto"}}<input
                    type="checkbox"
                    name="system.range.modes.full_auto"
                    {{checked
                    system.range.modes.full_auto}}
                />
            </label>
        </div>
    </div>
    {{/ife}} {{#ife system.category "range"}}
    <div class="form-line">
        <div class="label">
            {{localize "SR5.WeaponRanges"}}
        </div>
        <div class="inputs">
            <input
                size="3"
                type="text"
                name="system.range.ranges.short"
                value="{{system.range.ranges.short}}"
                data-dtype="Number"
            />
            /
            <input
                size="3"
                type="text"
                name="system.range.ranges.medium"
                value="{{system.range.ranges.medium}}"
                data-dtype="Number"
            />
            /
            <input
                size="3"
                type="text"
                name="system.range.ranges.long"
                value="{{system.range.ranges.long}}"
                data-dtype="Number"
            />
            /
            <input
                size="3"
                type="text"
                name="system.range.ranges.extreme"
                value="{{system.range.ranges.extreme}}"
                data-dtype="Number"
            />
        </div>
    </div>
    <div class="form-line">
        <div class="label">
            {{localize "SR5.RecoilCompensation"}}
        </div>
        <div class="inputs">
            <input
                type="text"
                size="2"
                name="system.range.rc.base"
                value="{{system.range.rc.base}}"
                data-dtype="Number"
                placeholder="1"
            />
        </div>
    </div>
    {{/ife}} {{#ife system.category "thrown"}}
    <div class="form-line">
        <div class="label">
            {{localize "SR5.WeaponRanges"}}
        </div>
        <div class="inputs">
            <input
                size="3"
                type="text"
                name="system.thrown.ranges.short"
                value="{{system.thrown.ranges.short}}"
                data-dtype="Number"
            />
            /
            <input
                size="3"
                type="text"
                name="system.thrown.ranges.medium"
                value="{{system.thrown.ranges.medium}}"
                data-dtype="Number"
            />
            /
            <input
                size="3"
                type="text"
                name="system.thrown.ranges.long"
                value="{{system.thrown.ranges.long}}"
                data-dtype="Number"
            />
            /
            <input
                size="3"
                type="text"
                name="system.thrown.ranges.extreme"
                value="{{system.thrown.ranges.extreme}}"
                data-dtype="Number"
            />
            <i class="fas fa-times"></i>
            <select name="system.thrown.ranges.attribute">
                {{#select system.thrown.ranges.attribute}}
                <option value=""></option>
                {{#each config.attributes as |name type|}}
                <option value="{{type}}">{{localize name}}</option>
                {{/each}} {{/select}}
            </select>
        </div>
    </div>
    {{/ife}} {{#ife system.category "melee"}}
    <div class="form-line">
        <div class="label">
            {{localize "SR5.WeaponReach"}}
        </div>
        <div class="inputs">
            <input
                type="text"
                size="2"
                name="system.melee.reach"
                value="{{system.melee.reach}}"
                data-dtype="Number"
                placeholder="1"
            />
        </div>
    </div>
    {{/ife}} {{#ife system.category "thrown"}}
    <div class="form-line">
        <div class="label">
            {{localize "SR5.Radius"}}
        </div>
        <div class="inputs">
            <input
                type="text"
                size="4"
                name="system.thrown.blast.radius"
                value="{{system.thrown.blast.radius}}"
                data-dtype="Number"
                placeholder="1"
            />
            m
        </div>
    </div>
    <div class="form-line">
        <div class="label">
            {{localize "SR5.Dropoff"}}
        </div>
        <div class="inputs">
            <input
                size="3"
                type="text"
                name="system.thrown.blast.dropoff"
                value="{{system.thrown.blast.dropoff}}"
                data-dtype="Number"
                placeholder="-1"
            />
            /m
        </div>
    </div>
    {{/ife}} {{/if}}
</div>
