<div class="list-item list-item-header {{cssClass}}">
    <div class="list-item-start">
        <label>
            {{localize label}}
        </label>
    </div>

    <div class="list-item-col matrix-icon-col">
        <label>
            {{localize "SR5.Labels.Sheet.Type"}}
        </label>
    </div>

    <div class="list-item-col mark-input-col">
        <label>
            {{localize "SR5.Marks"}}
        </label>
    </div>

    <div class="list-item-icons">
        <a data-action="clearAllMarks" data-tooltip="SR5.ClearMarks">
            <i class="fas fa-trash"></i>
        </a>
    </div>
</div>
