@import 'config';
.sr5.skill-edit-window {
    min-height: 200px;
    min-width: 200px;
    display: inline-block;

    .wholesheet {
        height: auto;
        display: flex;
        flex-flow: column nowrap;
        overflow: hidden;
    }
}
.sr5.actor {
    min-height: 690px;
    min-width: 800px;
    .wholesheet {
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        overflow: hidden;
    }
    .name {
        margin-bottom: 0;
        font-size: 200%;
        @include nodesto;
    }
    .sheetbody {
        overflow: hidden;
        flex: 1;
    }
    .attributes {
        border-top: $groove;
        display: flex;
        flex-flow: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        &.center {
            justify-content: center;
        }
        &.no-border {
            border-top: none;
            border-bottom: none;
        }
        &.wrap {
            flex-wrap: wrap;
        }
        & + :not(.attributes) {
            border-top: $groove;
        }
        &:last-child {
            border-bottom: $groove;
        }
        .attribute {
            @include title;
            display: flex;
            text-align: center;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: space-evenly;
            padding: 0 0.25em;
            flex: 1 0 auto;
            min-width: 4em;
            &.no-border {
                border-right: none;
            }
            &.no-grow {
                flex-grow: 0;
            }
            &:hover {
                .attribute-input-container.row {
                    visibility: visible;
                }
            }
            &.flex0 {
                min-width: 0;
                width: 0;
            }
            &.row {
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
                align-content: center;
                > .attribute-name {
                    width: auto;
                }
                &.space-around {
                    justify-content: space-around;
                }
                .attribute-input {
                    transform: translateY(20%);
                }
            }
            &:not(:last-child) {
                border-right: $groove;
            }
            > .attribute-value {
                > .attribute-value-total {
                    font-size: 125%;
                    width: 100%;
                    text-align: center;
                }
            }

            > .attribute-name {
                font-size: 115%;
                width: 100%;
                text-align: center;
                margin-bottom: 0;
                &.icon {
                    font-size: 0.75em;
                }
                &.roll {
                    @include rollable;
                }
            }

            .attribute-input-container {
                text-align: center;
                position: relative;
                margin-bottom: 2px;
                .mod {
                    font-size: 0.75em;
                    margin-top: -2px;
                }
                &.row {
                    //visibility: hidden;
                    display: flex;
                    flex-flow: row;
                }
                > .attribute-input {
                    text-align: center;
                    margin: 2px;
                }
            }
            .track {
                display: flex;
                flex-flow: row;
                justify-content: space-evenly;
                margin-bottom: 0.1em;
                width: 100%;
                &.center {
                    justify-content: center;
                    & > *:not(:first-child) {
                        margin-left: 4px;
                    }
                    & > *:not(:last-child) {
                            margin-right: 4px;
                    }
                }
                &.between {
                    justify-content: space-between;
                }
                .track-slash {
                    width: 1.5em;
                    transform: translateY(10%);
                    flex: 0 0;
                    &:after {
                        content: '/';
                    }
                }
                .track-plus {
                    width: 1em;
                    flex: 0 0;
                    &:after {
                        content: '+';
                    }
                }
                .track-max-value {
                    margin-bottom: 0;
                    margin-left: 0.25em;
                }
            }
        }
    }
    .limit {
        @include nodesto;
        padding: 0 0.1em;
        margin-top: -2px;
        text-align: center;
        font-size: 115%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
}
.sr5 .value {
    > .value-modifiers-container {
        display: none;
        visibility: hidden;

        position: absolute;
        /* We WILL be on top! */
        z-index: 2147483647;

        opacity: 0;
        transition: opacity 0.3s;
    }

    &:hover .value-modifiers-container {
        display: block;
        visibility: visible;
        opacity: 1;
    }

    .value-modifiers {
        display: grid;
        grid-template-columns: 200px 50px;
        background: $popupbackground;
        border: 1px solid $light;
        padding: 0.5em 0.5em 0.5em 0.5em;
        text-align: left;
        font-weight: normal;

        > .value-modifier-name {
            font-weight: bold;
        }

        > .value-modifiers-base {
            border-bottom: 1px solid $light;
        }

        > .value-modifiers-total {
            font-weight: bold;
            border-top: 1px double $light;
        }

        > .value-modifiers-invalid-total {
            text-decoration: line-through;
        }
    }
}
