@import 'config';

.sr5 #filter-skills.display.text.left {
    font-size: 15px;
}

/**
 * Skill Editing Application
 */
.sr5.skill-edit-window {
    min-height: 200px;
    min-width: 370px;
    display: inline-block;

    .wholesheet {
        height: auto;
        display: flex;
        flex-flow: column nowrap;
        overflow: hidden;
    }
}

.sr5v2.actor {
    // default window padding was pretty big, tone it down
    .window-content {
        padding: .25rem;
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("assets/page.webp") repeat;
        background-repeat: repeat;
        background-size: 100% 20px auto;
    }

    // start css for getting scroll working
    // override the default scrollable class so it doesn't hide the scrollbar
    // the default foundry css seemed to add weird padding that would actually hide the scrollbar
    .scrollable {
        margin-right: 0;
        padding-right: 0;
    }
    .header-for-scrollable {
        // TODO figure out how to make this use --scroll-margin
        padding-right: 0.75rem !important;
    }
    .tab {

        // hide overflow of the tab, this should be provided to any tab that doesn't scroll
        &.hide-overflow {
            flex: 1;
            overflow: hidden;
        }
        // fill the available space so that children can scroll correctly
        .fill-container {
            display: flex;
            flex-flow: column nowrap;
            flex: 1;
            overflow: hidden;
            height: 100%;
        }
        // split the available space into two side-by-side containers
        .split-container {
            display: flex;
            flex-flow: row nowrap;
            flex: 1;
            overflow: hidden;
            height: 100%;

            // matrix tabs need to flex and hide overflow in order to have contents scroll
            .matrix-left-tab-content,
            .matrix-right-tab-content {
                flex: 1;
                overflow: hidden;
                display: flex;
            }
            // children of the split container need to flex as a column, hide overflow to all scrolling within
            > * {
                display: flex;
                flex-flow: column nowrap;
                flex: 1;
                overflow: hidden;
            }
            > *:not(:first-child) {
                padding-left: 0.25rem;
                border-left: $groove;
            }
            > *:not(:last-child) {
                padding-right: 0.25rem;
            }
        }
    }

    // end of new css for getting scroll working
    .name {
        @include systemFonts;
        background: $nameplate-background;
        font-size: 200%;
        margin-bottom: 0;
        padding-left: 5px;
        input[type=text].display {
            background: none;
        }
    }
    .limit-title {
        font-size: 115%;
    }

    .limit {
        @include systemFonts;
        padding: 0 0.1em;
        margin-top: -2px;
        text-align: center;
        font-size: 115%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    // Interaction Element for Skill Lists
    .skill-header {
        @include rollable;
    }

    // Use only to indicate interactibility within the HackingTab markslist.
    .select-matrix-target {
        @include clickable;
    }

    // Use only to indicate interactibility within the HackingTab markslist.
    .open-matrix-target {
        @include clickable;
    }

    // Used to switch between the different hacking targets.
    .switch-matrix-hacking-target {
        @include clickable;
    }

    input[type="number"].short {
        min-width: 2rem;
        max-width: 2rem;
        max-height: 1.25rem;
        font-size: 1rem;
    }

    select.short {
        max-width: 5rem;
        max-height: 1.25rem;
        font-size: 0.9rem;
    }


    .attributes {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        gap: 0.25rem;

        .attribute {
            display: flex;
            flex-flow: column nowrap;
            gap: 0.25rem;

            .attribute-label {
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                font-size: 1.25rem;
                color: $yellow;
            }

            .attribute-value {
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
                gap: 0.25rem;
                max-width: 8rem;
                font-size: 1.25rem;
            }
        }
    }

    .actor-header {
        display: flex;
        flex-flow: row nowrap;
        align-items: start;
        justify-content: space-between;
        padding: .25rem;
        flex-shrink: 0;
        font-size: 1rem;

        .left-side {
            display: flex;
            flex-flow: row nowrap;
        }

        .right-side {
            display: flex;
            flex-flow: column nowrap;
            align-items: end;

            .right-side-row {
                display: flex;
                flex-flow: row nowrap;
                align-items: end;
                justify-content: center;
                gap: 0.25rem;
            }
        }
    }

    .movement-container {
        display: flex;
        flex-flow: row nowrap;
        padding-top: .25rem;
        padding-bottom: .25rem;
        gap: .25rem;
        align-items: center;
        justify-content: start;
    }

    // display initiative information and allow for
    .initiative-container {
        display: flex;
        justify-content: end;
        align-items: stretch;
        align-content: stretch;
        gap: .25rem;
        padding: .25rem;
        border-bottom: 1px solid $yellow;
        border-left: 1px solid $yellow;
        border-bottom-left-radius: .1rem;
        overflow: hidden;

        // this selects things like cold sim, hot sim, meatspace, astral
        .presence-select {
            min-width: 7rem;
        }

        .initiative-label {
            color: $yellow;
            text-align: center;
            align-self: center;
        }

        .initiative-col {
            display: flex;
            flex-flow: column nowrap;
            flex: 1;
            justify-content: space-between;
            align-content: end;
        }

        .initiative-center {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
        }

        .initiative-end {
            display: flex;
            flex-flow: row nowrap;
            justify-content: end;
        }
    }

    .new-list-item-container {
        display: flex;
        flex-flow: column nowrap;

        .new-list-item {
            flex: 1;
        }

        .new-list-item-description {
            flex: 1;
            display: none;
        }

        &:nth-of-type(even) {
            background: rgba($white, 0.03);
        }
    }

    .new-list-item {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        font-size: 12px;
        width: 100%;
        padding: 0.25rem;

        &.new-list-item-header {
            border-bottom: 1px solid $yellow;
            border-top: 1px solid $yellow;
            background: rgba($black, 0.9);

            .new-list-item-label-container {
                color: $yellow !important;
            }
        }

        &:nth-of-type(even) {
            &:not(.new-list-item-header) {
                background: rgba($white, 0.03);
            }
        }

        .new-list-item-label-container {
            display: flex;
            flex-flow: row nowrap;
            flex: 4;
            color: $white;
            gap: .25rem;
            font-size: 0.9rem;

            .selection-inventory {
                display: flex;
                flex-flow: row;
                justify-content: start;
                align-items: center;
            }
        }

        .new-list-item-col {
            display: flex;
            flex-flow: row;
            flex: 2;
            justify-content: center;
            align-items: center;
            gap: 0.1rem;
            font-size: 0.8rem;
        }

        .new-list-item-quantity {
            display: flex;
            flex-flow: row nowrap;
            flex: 1;
            justify-content: center;
            align-items: center;
            gap: 0.25rem;
            max-width: 4rem;
            min-width: 4rem;

            .item-quantity-input {
                max-height: 1.25rem;
            }
        }

        .new-list-item-icons {
            display: flex;
            flex-flow: row;
            flex: 1;
            font-size: 0.8rem;
            justify-content: end;
            align-items: center;
            gap: 0.5rem;
            padding-right: 1rem;
        }

    }

    // skills formatting can be used by active, knowledge, and language skills
    .skills {
        display: flex;
        flex-flow: column nowrap;

        .skill-header {
            border-bottom: 1px solid $yellow;
            background: rgba($black, 0.9);
            color: $yellow !important;
            > label {
                color: $yellow !important;
            }
        }

        .skill {
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 0.1rem 0.25rem;

            &:nth-of-type(even) {
                &:not(.skill-header) {
                    background: rgba($white, 0.03);
                }
            }

            &.skill-roll-not-defaultable {
                font-style: italic;
            }

            > label {
                flex: 4;
                font-size: 1rem;
                color: $white;
            }

            .skill-specializations {
                flex: 3;
                display: flex;
                flex-flow: row;
                justify-content: center;
                align-items: center;
                gap: 0.1rem;
                font-size: 0.8rem;
            }

            .skill-value {
                flex: 2;
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
                gap: 0.25rem;
            }

            .skill-icons {
                flex: 1;
                font-size: 0.8rem;
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
                gap: 0.25rem;
            }
        }
    }

    // add a footer to the sheet
    .sheet-footer {
        display: flex;
        flex-flow: row nowrap;
        gap: 2px;
        align-items: center;
        justify-content: start;
        margin-top: .25rem;
        box-shadow: 0 -.25rem .5rem $black;
        border-top: 1px solid $yellow;
        padding-left: .1rem;
        padding-top: .1rem;
        flex-shrink: 0;
        vertical-align: bottom;
        font-size: 1rem
    }
}
