@import 'config';

.sr5.actor {
    min-height: 690px;
    min-width: 870px;
    .wholesheet {
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        overflow: hidden;
    }
    .name {
        @include systemFonts;
        background: url('assets/name-banner.webp') repeat;
        font-size: 200%;
        margin-bottom: 0;
        padding-left: 5px;
    }
    .sheetbody {
        overflow: hidden;
        flex: 1;
    }
    .limit-title {
        font-size: 115%;
    }
    .attributes {
        // border-top: $;
        display: flex;
        flex-flow: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        &.center {
            justify-content: space-evenly;
        }
        &.no-border {
            border-top: none;
            border-bottom: none;
        }
        &.wrap {
            flex-wrap: wrap;
        }
        .attribute {
            @include title;

            align-items: center;
            color: $yellow;
            display: flex;
            flex-flow: column nowrap;
            flex: 1 0 auto;
            font-size: 100%;
            justify-content: space-evenly;
            min-width: 4em;
            padding-top: 4px;
            text-align: center;

            &.no-border {
                border-right: none;
            }
            &.no-grow {
                flex-grow: 0;
            }
            &:hover {
                .attribute-input-container.row {
                    visibility: visible;
                }
            }
            &.flex0 {
                min-width: 0;
                width: 0;
            }
            &.row {
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
                align-content: center;
                > .attribute-name {
                    width: auto;
                }
                &.space-around {
                    justify-content: space-around;
                }
                .attribute-input {
                    transform: translateY(20%);
                }
            }
            > .attribute-value {
                > .attribute-value-total {
                    color: white;
                    font-size: 125%;
                    width: 100%;
                    text-align: center;
                }
            }

            > .attribute-name {
                font-size: 115%;
                width: 100%;
                text-align: center;
                margin-bottom: 0;
                &.icon {
                    font-size: 0.75em;
                }
                &.roll {
                    @include rollable;
                }
            }

            .attribute-input-container {
                text-align: center;
                position: relative;
                margin-bottom: 2px;
                .mod {
                    font-size: 0.75em;
                    margin-top: -2px;
                }
                &.row {
                    //visibility: hidden;
                    display: flex;
                    flex-flow: row;
                }
                > .attribute-input {
                    text-align: center;
                    margin: 2px;
                }
            }

            .toggle-fresh-import-all-off {
                font-size: 0.75em;
                background-color: $bgrButton;
            }

            .toggle-fresh-import-all-on {
                font-size: 0.75em;
                background-color: $bgrButton;
            }

            .track {
                display: flex;
                flex-flow: row;
                justify-content: space-evenly;
                margin-bottom: 0.1em;
                width: 100%;
                &.center {
                    justify-content: center;
                    & > *:not(:first-child) {
                        margin-left: 4px;
                    }
                    & > *:not(:last-child) {
                        margin-right: 4px;
                    }
                }
                &.between {
                    justify-content: space-between;
                }
                .track-slash {
                    width: 1.5em;
                    transform: translateY(10%);
                    flex: 0 0;
                    &:after {
                        content: '/';
                    }
                }
                .track-plus {
                    width: 1em;
                    flex: 0 0;
                    &:after {
                        content: '+';
                    }
                }
                .track-max-value {
                    margin-bottom: 0;
                    margin-left: 0.25em;
                }
            }
        }
    }
    .limit {
        @include systemFonts;
        padding: 0 0.1em;
        margin-top: -2px;
        text-align: center;
        font-size: 115%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    // Interaction Element for Skill Lists
    .skill-header {
        @include rollable;
    }

    // Sprite sheet power tab list had broken flex/block relations, causing missing a scrollbar.
    // Other actor sheet tabs miss-use the 'inventory' class. To not further miss-use it,
    // this hacky class pierces through .sr5 .tab .tabbody > * flex:0 and broken scroll-area
    // formatting in general to have a localized solution for the sprite power list.
    // If you're looking at this, and have a better solution, please burn this in the fires of hell.
    .scroll-area-sprite-power {
        display: block;
        flex: 1 !important;
        height: 100%;
        width: 100%;
        overflow: auto;
    }

    // Intended to be used in the matrix tab and hacking subtab for all columns.
    .scroll-area-matrix-hacking {
        // I hate this. It's necessary to make the scrollbar work together with .scroll-area
        // Otherweise the height will grow out of the application bounds hide the overflow...
        height: 390px;
    }

    // Use only to indicate interactibility within the HackingTab markslist.
    .select-document {
        @include clickable;
    }

    // Use only to indicate interactibility within the HackingTab markslist.
    .open-document {
        @include rollable;
    }
}

.sr5 #filter-skills.display.text.left {
    font-size: 15px;
}

/**
 * Skill Editing Application
 */
.sr5.skill-edit-window {
    min-height: 200px;
    min-width: 370px;
    display: inline-block;

    .wholesheet {
        height: auto;
        display: flex;
        flex-flow: column nowrap;
        overflow: hidden;
    }
}