@import 'config';

.sr5v2.actor {
    .limit {
        @include systemFonts;
        padding: 0 0.1em;
        margin-top: -2px;
        text-align: center;
        font-size: 1.1rem;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .attributes {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        padding-bottom: 2px;
        margin-bottom: 3px;
        margin-top: 2px;
        // gap: 0.25rem;

        .attribute {
            flex: 1;
            display: flex;
            flex-flow: column nowrap;
            gap: 2px;

            .matrix-att-selector {
                line-height: 1rem;
                height: 1rem;
                max-height: 1rem;

                > option {
                    &[selected] {
                        text-align: center;
                    }
                }
            }

            > label {
                white-space: nowrap;
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                &.edit-mode {
                    font-size: 0.8rem;
                }
            }

            .attribute-button {
                border-color: transparent;
                &:hover {
                    border-color: $light;
                }
            }

            .attribute-value {
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
                gap: 0.25rem;
                max-width: 8rem;
            }
        }
    }

    .active-skills-header {
        cursor: pointer;
        color: $light !important;
        label {
            cursor: pointer;
            color: $light !important;
        }
        &:hover {
            background: radial-gradient(rgba($darkred, 0.7), rgba($darkred, 0.1));
            color: $white !important;
            label {
                color: $white !important;
            }
        }
    }

    #filter-active-skills {
        background: none;
        padding-left: 4px;
        color: $yellow;
        border-bottom: $groove;
    }

    select#select-inventory {
        height: 1rem;
        max-height: 1rem;
    }

    .condition-monitor-container {
        padding: 0.25rem;
    }

    .movement-container {
        display: flex;
        flex-flow: row nowrap;
        padding-top: .25rem;
        padding-bottom: .25rem;
        gap: .25rem;
        align-items: center;
        justify-content: start;
    }

    // display initiative information and allow for
    .initiative-container {
        display: flex;
        justify-content: end;
        align-items: stretch;
        align-content: stretch;
        gap: .25rem;
        padding: .25rem;
        overflow: hidden;

        // this selects things like cold sim, hot sim, meatspace, astral
        .presence-select {
            min-width: 7rem;
        }

        .initiative-label {
            text-align: center;
            align-self: center;
        }

        // animate a color change for when blitz is active to make sure people uncheck it if needed
        .blitz-active {
            animation: blitzShine 3s linear infinite;
        }

        @keyframes blitzShine {
            0% { color: $white; }
            50% { color: $edge; }
            100% { color: $white; }
        }

        .initiative-col {
            display: flex;
            flex-flow: column nowrap;
            flex: 1;
            justify-content: space-between;
            align-items: center;
            align-content: end;
        }

        .initiative-center {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
        }

        .initiative-end {
            display: flex;
            flex-flow: row nowrap;
            justify-content: end;
        }
    }
}
