@import 'config';

.sr5 #filter-skills.display.text.left {
    font-size: 15px;
}

/**
 * Skill Editing Application
 */
.sr5.skill-edit-window {
    min-height: 200px;
    min-width: 370px;
    display: inline-block;

    .wholesheet {
        height: auto;
        display: flex;
        flex-flow: column nowrap;
        overflow: hidden;
    }
}

.sr5v2.actor {
    // default window padding was pretty big, tone it down
    .window-content {
        padding: .25rem;
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("assets/page.webp") repeat;
        background-repeat: repeat;
        background-size: 100% 20px auto;
    }

    .name {
        @include systemFonts;
        background: $nameplate-background;
        font-size: 200%;
        margin-bottom: 0;
        padding-left: 5px;
        input[type=text].display {
            background: none;
        }
    }
    .limit-title {
        font-size: 115%;
    }

    .limit {
        @include systemFonts;
        padding: 0 0.1em;
        margin-top: -2px;
        text-align: center;
        font-size: 115%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    // Interaction Element for Skill Lists
    .skill-header {
        @include rollable;
    }

    // Use only to indicate interactibility within the HackingTab markslist.
    .select-matrix-target {
        @include clickable;
    }

    // Use only to indicate interactibility within the HackingTab markslist.
    .open-matrix-target {
        @include clickable;
    }

    // Used to switch between the different hacking targets.
    .switch-matrix-hacking-target {
        @include clickable;
    }

    input[type="number"].short {
        min-width: 2rem;
        max-width: 2rem;
        max-height: 1.25rem;
        font-size: 1rem;
    }

    select.short {
        max-width: 5rem;
        max-height: 1.25rem;
        font-size: 0.9rem;
    }


    .attributes {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        gap: 0.25rem;

        .attribute {
            display: flex;
            flex-flow: column nowrap;
            gap: 0.25rem;

            .attribute-label {
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                font-size: 1.25rem;
                color: $yellow;
            }

            .attribute-value {
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
                gap: 0.25rem;
                max-width: 8rem;
                font-size: 1.25rem;
            }
        }
    }

    .actor-header {
        display: flex;
        flex-flow: row;
        align-items: start;
        justify-content: space-between;
        padding: .25rem;
        flex-shrink: 0;
        font-size: 1rem;

        .left-side {
            display: flex;
            flex-flow: row nowrap;
        }

        .right-side {
            display: flex;
            flex-flow: column nowrap;
            align-items: end;

            .right-side-row {
                display: flex;
                flex-flow: row nowrap;
                align-items: end;
                justify-content: center;
                gap: 0.25rem;
            }
        }
    }

    .movement-container {
        display: flex;
        flex-flow: row nowrap;
        padding-top: .25rem;
        padding-bottom: .25rem;
        gap: .25rem;
        align-items: center;
        justify-content: start;
    }

    // display initiative information and allow for
    .initiative-container {
        display: flex;
        justify-content: end;
        align-items: stretch;
        align-content: stretch;
        gap: .25rem;
        padding: .25rem;
        border-bottom: 1px solid $yellow;
        border-left: 1px solid $yellow;
        border-bottom-left-radius: .1rem;
        overflow: hidden;

        // this selects things like cold sim, hot sim, meatspace, astral
        .presence-select {
            min-width: 7rem;
        }

        .initiative-label {
            color: $yellow;
            text-align: center;
            align-self: center;
        }

        .initiative-col {
            display: flex;
            flex-flow: column nowrap;
            flex: 1;
            justify-content: space-between;
            align-content: end;
        }

        .initiative-center {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
        }

        .initiative-end {
            display: flex;
            flex-flow: row nowrap;
            justify-content: end;
        }
    }

    // add a footer to the sheet
    .sheet-footer {
        display: flex;
        flex-flow: row nowrap;
        gap: 2px;
        align-items: center;
        justify-content: start;
        margin-top: .25rem;
        box-shadow: 0 -.25rem .5rem $black;
        border-top: 1px solid $yellow;
        padding-left: .1rem;
        padding-top: .1rem;
        flex-shrink: 0;
        vertical-align: bottom;
        font-size: 1rem
    }
}
