@use "sass:color";
@use "config/mixins";
@use "config/variables";

.sr5v2 {
    box-shadow: 0 0 10px 5px rgba(variables.$yellow, 0.4);
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("assets/page.webp") repeat;
    background-repeat: repeat;
    background-size: 100% 20px auto;

    // color links as light and be white on hover
    a {
        color: variables.$light;
        &:hover {
            color: variables.$white;
        }
    }
    // labels are all yellow to differentiate between links
    label {
        color: variables.$yellow;
    }
    // buttons use the link color for border and text color, on hover it fills in with a darkred background
    button {
        color: variables.$light;
        border-color: variables.$light;
        &:not(:disabled):hover {
            color: variables.$white;
            background: variables.$darkred;
        }
        &:disabled {
            color: variables.$yellow;
            border-color: variables.$yellow;
        }
    }

    .window-header {
        --background: unset;
        background: unset;
        border-bottom: none;
        height: 2rem;
        max-height: 2rem;

        // change the edit mode wrench icon on the toggle switch
        .edit-wrench-icon {
            color: black;
            vertical-align: middle;
            margin-left: 1px;
            width: auto;
            text-shadow: 1px 1px 1px variables.$white,
                        1px -1px 1px variables.$white,
                        -1px -1px 1px variables.$white,
                        -1px 1px 1px variables.$white;
        }
    }

    // a named sheet is a sheet which shows its name elsewhere so we can hide most of the top bar and hide the name
    &.named-sheet {
        input.sheet-name {
            @include mixins.systemFonts;
            flex-shrink: 0;
            background: variables.$nameplate-background;
            border: none;
            margin-bottom: 0;
            font-size: 1.5rem;
            height: 100%;
            padding: .5rem;
            vertical-align: center;
            color: variables.$light; // always use light color for our custom name
        }
        &:not(.minimized) {
            .window-header {
                margin-bottom: 0;
                .window-title {
                    font-size: 0;
                    height: 0;
                }
            }
        }
    }

    .window-content {
        padding: 0 .25rem .25rem .25rem;
        // transparent doesn't seem to show the background from above so set it to the same thing with a slightly different gradient
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("assets/page.webp") repeat;
        background-repeat: repeat;
        background-size: 100% 20px auto;

        .sheet-image {
            flex: none;
            margin: .25rem;
            width: 5rem;
            height: 5rem;
        }

        .sheet-header {
            display: flex;
            flex-flow: row wrap;
            justify-content: start;
            align-items: start;
            width: 100%;
            padding: 0;

            .sheet-header-col {
                flex: none;
                display: flex;
                justify-content: start;
                align-items: center;
                flex-flow: column nowrap;
                gap: .25rem;
            }

            .sheet-header-labels {
                flex: 1;
                display: flex;
                flex-flow: column nowrap;
                gap: 1px;
                padding-top: .25rem;
                padding-bottom: .25rem;
            }

            .sheet-header-source {
                display: flex;
                flex-flow: row nowrap;
            }

            .sheet-header-name {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
            }
        }

        .sheet-footer {
            display: flex;
            gap: 2px;
            align-items: center;
            justify-content: start;
            margin-top: .25rem;
            border-top: 1px solid variables.$yellow;
            flex-shrink: 0;
            vertical-align: bottom;
        }

        &.standard-form, .standard-form {
            gap: 0;
            .form-group {
                padding: .5rem .25rem;
                margin: 0;
                label {
                    color: variables.$yellow;
                }
                p.hint {
                    color: color.adjust(variables.$yellow, $lightness: -20%);
                }
            }
        }

        // modify tabs to have a darkred background and light text
        // when selected, the tab inverts its colors to be a light background with darkred text
        .tabs {
            padding-inline: 1px;
            margin-top: .5rem;
            border-top: none;
            border-bottom: 1px solid variables.$darkred;
            a {
                color: variables.$light; // use light regardless of theme
                line-height: 1.5rem;
                border-top-left-radius: .25rem;
                border-top-right-radius: .25rem;
                border: 1px solid variables.$darkred;
                border-bottom: none;
                background: rgba(variables.$darkred, 0.7);
                width: 100%;
                white-space: nowrap;
                &.active {
                    color: variables.$darkred;
                    background: variables.$light-2;
                    box-shadow: 0 0 5px 5px rgba(variables.$white, 0.2);
                }
                &.skinny {
                    flex: 0 0 2rem;
                    padding: 0 0.5rem;
                }
            }
        }
    }

    // remove padding from tooltips that are customized
    &#tooltip {
        padding: 0;
    }

    button.toggle-fresh-import {
        width: 1.5rem;
        flex-shrink: 0;
        padding: 0;
    }

    // default all selects and inputs to light color until we have proper theme handling
    input, select {
        color: variables.$light;

        > option {
            color: variables.$yellow;
        }
    }
    input.nuyen {
        width: 5rem;
    }
    input.availability {
        width: 3rem;
    }
    input.qty {
        width: 3rem;
        padding: 1px;
        text-align: center;
    }
    input.skinny {
        width: 2rem;
        padding: 1px;
        text-align: center;
    }
    select.skinny {
        width: 3rem;
    }
    input.midd {
        width: 3rem;
        padding: 1px;
        text-align: center;
    }
    input.thicc {
        width: 5rem;
    }
    input.center {
        text-align: center;
        vertical-align: center;
        horiz-align: center;
    }
    input.left {
        text-align: left;
        horiz-align: left;
    }
    input.short, select.short {
        height: 1.5rem;
        min-height: 1.5rem;
        max-height: 1.5rem;
    }
    button.short {
        height: 1.5rem;
        min-height: 1.5rem;
        max-height: 1.5rem;
    }
    button.sr5-button {
        width: 100%;
        &.sr5-submit {
            background: #227836;
            color: variables.$light;
            &:hover {
                color: variables.$white;
            }
        }
        &.sr5-cancel {
            background: variables.$darkred;
            color: variables.$light;
            &:hover {
                color: variables.$white;
            }
        }
    }
    select.sr5-select {
        height: 1.5rem;
        max-height: 1.5rem;
        background-color: transparent;
        color: variables.$light;
        margin: 0;
        padding: 0;
        vertical-align: center;

        &:hover {
            color: variables.$white;
        }

        > option {
            color: variables.$yellow;
            background-color: rgba(variables.$black, 0.9);
        }
    }
    button.sr5-icon {
        border-color: transparent;
        overflow: hidden;
        padding: 0 !important;
        margin: 0 !important;
        &:hover {
            border-color: variables.$white;
        }
    }

    .hover-show-button-container {
        // hide "hover buttons" by default, show by growing the font-size
        .hover-show-button {
            font-size: 0.8rem;
            opacity: 0;
            transition: opacity .25s ease-in-out;
        }

        &:hover {
            .hover-show-button {
                opacity: 1;
            }
        }

    }

    /**
     * Elements used for linkable documents / entities.
     *
     * This is also present in foundry.scss, but is overwritten by Monks Enhanced Journals module.
     * Let's force it within the SR5 context, while leaving it everywhere else.
     */
    .entity-link,
    .content-link,
    .inline-roll {
        border: 0;
        background: none;
        color: variables.$white !important;
    }

    .entity-link.content-link {
        color: variables.$white !important;
    }

    .basic-row {
        display: flex;
        flex-flow: row nowrap;
        gap: 2px;
        align-items: center;
        // disable labels from wrapping within basic rows
        > label {
            text-wrap: nowrap;
        }
    }

    .open-source-icon {
        font-size: 1.25rem;
        margin: .25rem;
    }

    // An origin link is a uuid based entity link, without drag support.
    .origin-link {
        background: #ddd;
        padding: 1px 4px;
        border: 1px solid #4b4a44;
        border-radius: 2px;
        white-space: nowrap;
        word-break: break-all;
        color: variables.$black;
    }

    .editor {
        height: 95%;
        width: 100%;
    }

    .editor .tox-edit-area {
        background: variables.$mce-background;
    }

    // Styling for any prosemirror editors within shadowrun applications.
    .editor.prosemirror {

        .editor-menu {
            padding: 2px 4px;
            background: variables.$darkred;
            li {
                padding: 0;
                > button {
                    padding: 2px;
                }
            }
        }
        // handles dropdown menus, not select based.
        .pm-dropdown {
            color: variables.$color;
            background: rgba(variables.$black, 0.05);
            border-radius: 0.3em;
            border-color: variables.$dark;

            // Icons like chevron and ticks.
            i,
            i:hover {
                color: variables.$color;
            }

            // ul will contain menus and sub-menus and can be nested.
            ul {
                background-color: variables.$dark;
            }

            // li represents each menu entry in both menus and sub-menus
            ul > li:hover {
                color: variables.$color;
                border-color: rgba(variables.$white, 0.1);
                background: rgba(variables.$black, 0.05);
            }
        }

        // HTML editing uses a class-less textarea
        textarea {
            color: variables.$color;
        }
    }

    .description > .editor {
        height: 95%;
        min-height: 15em;
        width: 100%;
        color: variables.$color;
    }

    img {
        box-sizing: border-box;
        border: none;
        max-width: 100%;
        object-fit: contain;
    }

    .sheet .editor-content {
        color: variables.$white;
        height: 100%;
        overflow-y: auto;
        word-break: break-word;
    }

    .container {
        max-width: variables.$sheet-max-width;
        margin: 0 auto;

        &--fluid {
            margin: 0;
            max-width: 100%;
        }

        &__row {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
        }

        // Auto create grid style classes for a fixed max column grid
        @for $i from 1 through variables.$grid__cols {
            &__col-#{$i} {
                flex-basis: calc(100 / (variables.$grid__cols / $i)) * 1%;
                overflow: hidden;
            }
        }

        &__col-half {
            flex-basis: 50%;
            overflow: hidden;
        }

        .element {
            padding: 4px;
        }
    }
    ///////////////////////////////////////////////////////////////////////////////

    .no-shrink {
        flex-shrink: 0;
    }
    // start css for getting scroll working
    // override the default scrollable class so it doesn't hide the scrollbar
    // the default foundry css seemed to add weird padding that would actually hide the scrollbar
    .scrollable {
        margin-right: 0;
        padding-right: 0;
        height: 100%;
    }
    .header-for-scrollable {
        // TODO figure out how to make this use --scroll-margin
        padding-right: 0.75rem !important;
    }
    .tab {
        // hide overflow of the tab, this should be provided to any tab that doesn't scroll
        &.hide-overflow {
            flex: 1;
            overflow: hidden;
        }
    }
    // fill the available space so that children can scroll correctly
    .fill-container {
        display: flex;
        flex-flow: column nowrap;
        flex: 1;
        overflow: hidden;
        height: 100%;
    }
    // split the available space into two side-by-side containers
    .split-container {
        display: flex;
        flex-flow: row nowrap;
        flex: 1;
        overflow: hidden;
        height: 100%;

        // matrix tabs need to flex and hide overflow in order to have contents scroll
        .matrix-left-tab-content,
        .matrix-right-tab-content {
            flex: 1;
            overflow: hidden;
            display: flex;
        }
        // children of the split container need to flex as a column, hide overflow to all scrolling within
        > * {
            display: flex;
            flex-flow: column nowrap;
            flex: 1;
            overflow: hidden;
        }
        > *:not(:first-child) {
            padding-left: 0.25rem;
            border-left: variables.$groove;
        }
        > *:not(:last-child) {
            padding-right: 0.25rem;
        }
    }

    
    /* Facilitate resizable and scaling effect changes */
    &.active-effect-config .tab.changes header, 
    &.active-effect-config .tab.changes ol {
        align-items: center;
        display: grid;
        gap: 0.25rem;
        grid-template-columns: auto 7rem auto 4rem 1rem;
        margin: 0;
        padding: 2px;
        position: relative;
    }
    // end of new css for getting scroll working
}
