@import "node_modules/@yaireo/tagify/dist/tagify";

@import 'config';
@import 'item';
@import 'actor';
@import 'chat';
@import 'test';
@import 'tagify';
@import 'modifiers';
@import 'modifiers-container';
@import 'foundry';

@font-face {
    font-family: 'klavika-medium';
    src: url('assets/fonts/klavika-medium.otf');
}

@font-face {
    font-family: 'IwaOGoPro-Md';
    src: url("assets/fonts/IwaOGoPro-Md.otf");
}

// .Roll class is used for labels that will look for data-roll-id on itself or a parent RollId
.Roll {
    @include rollable;
}

/**
 * These are default FoundryVTT classes that have been used within Shadowrun5 CSS while not behaving as default.
 * TODO: This is abusing default FoundryVTT CSS classing, which often can cause default FoundryVTT styling to break.
 */
.sr5 {
    .flexcol {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;

        >* {
            flex: 0;
        }
    }

    .flexcol-rev {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: nowrap;

        >* {
            flex: 0;
        }
    }

    .flexrow {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .nowrap {
        flex-wrap: nowrap;
    }

    .align-start {
        align-items: flex-start;
    }

    .center {
        justify-content: center;
    }

    .flex-end {
        justify-content: flex-end;
    }

    .space-between {
        justify-content: space-between;
    }

    .space-around {
        justify-content: space-around;
    }

    .align-center {
        align-items: center;
    }

    .show-situation-modifiers-application {
        @include rollable;
    }
}

.align-items-center {
    align-items: center;
}

.align-content-center {
    align-content: center;
}

.flex0 {
    flex: 0;
}

.flex1 {
    flex: 1;
}

.flex2 {
    flex: 2;
}

.flex3 {
    flex: 3;
}

.flex4 {
    flex: 4;
}

.input {
    position: relative;

    .unit {
        @include textOutline;
        position: absolute;
        display: block;
        left: 5px;
        top: 2px;
        z-index: 9;
    }

}

label.checkbox {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    &:hover input~.checkmark {
        text-shadow: 0 0 0.2em $rollcolor;
    }

    &.init-edge-label {
        margin-right: 1.75em;
        font-size: 0.75em;
        top: 0.95em;
        left: -0.5em;
    }

    input {
        cursor: pointer;
    }

    input.hidden {
        position: absolute;
        opacity: 0;
        height: 0;
        width: 0;
    }

    .checkmark {
        position: absolute;
        font-size: 1.25em;
        top: -0.5em;
        left: 0.8em;
    }
}

button.plus1_button {
    padding: 2px;
    color: $black;
    line-height: 0;
    flex: 0;
    background: rgba($light, 0.1);
    border-radius: 0.3em;
    text-align: center;

    &:hover {
        cursor: pointer;
    }
}
input[type='checkbox'].toggle {
    display: none;
}
//Collapsible Start
.lbl-toggle {
    cursor: pointer;
}
.collapsible-content {
    max-height: 0;
    overflow-y: auto;
    transition: max-height 0.25s ease-in-out;
}

.toggle:checked + .list-item-content + .collapsible-content {
    max-height: 600px;
}
//Collapsible End
input[type='checkbox'].display {
    background: transparent;
    color: $color;
    border: none;
    text-align: center;
    font-size: 1em;

    &:hover {
        background: transparent;
        border: $groove;
    }
}

input[type='text'].disabled-for-display {
    color: $black;
    background-color: rgba(0, 0, 0, 0);
}

input[type='text'].display {
    @include textOutline;
    background: rgba($light, 0.1);
    color: $color;
    border-radius: 0.3em;
    border-color: $black;
    text-align: center;
    min-height: 1em;

    &::placeholder {
        color: $light-2;
    }

    &.short {
        font-size: 0.75em;        
    }

    &.text {
        background: rgba($dark, 0.1);
        border-radius: 0;
    }

    &.right {
        text-align: right;
    }

    &.left {
        text-align: left;
    }

    &:disabled {
        color: $color;
        background: transparent;
        border-color: transparent;
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
    }
}

.invisible {
    visibility: hidden;
}

.show-child-on-hover {
    .child-on-hover {
        visibility: hidden;
    }

    &:hover {
        .child-on-hover {
            visibility: visible;
        }
    }
}

.sr5 {

    hr {
        border-color: $yellow;
    }

    select.display, select {
        color: $color;
        background: rgba($black, 0.05);
        border-radius: 0.3em;
        border-color: $dark;
    
        >option {
            background-color: $dark;
        }
    }

    /**
     * Overwrite FoundryVTT default styling within sheets.
     */
    .form-group {
        label {
            color: white;
            font-weight: bold;
        }

        input {
            color: $white;
        }

        .form-group-element-numerical {
            display: flex;
            flex-direction: row;

            button {
                border-color: $grey;
            }

            button,
            input {
                width: 25px;
                height: 25px;
                line-height: inherit;
                vertical-align: middle;
                text-align: center;
            }
        }
    }

    /**
     * Elements used for inline editing
     */
    .inline-input-inventory {
        display: none;
    }

    /**
     * Elements used for linkable documents / entities.
     *
     * This is also present in foundry.scss, but is overwritten by Monks Enhanced Journals module.
     * Let's force it within the SR5 context, while leaving it everywhere else.
     */
    .entity-link,
    .content-link,
    .inline-roll {
        border: 0;
        background: none;
        color: white !important;
    }

    
    .entity-link.content-link {
        color: white !important;
    }

    // An origin link is a uuid based entity link, without drag support.
    .origin-link {
        background: #DDD;
        padding: 1px 4px;
        border: 1px solid #4b4a44;
        border-radius: 2px;
        white-space: nowrap;
        word-break: break-all;
        color: $black;
    }

    .roll {
        @include rollable;
    }

    .editor {
        height: 95%;
        width: 100%;
    }

    .editor .tox-edit-area {
        background: $mce-background;
    }

    // Styling for any prosemirror editors within shadowrun applications.
    .editor.prosemirror {

        // handles dropdown menus, not select based.
        .pm-dropdown {
            color: $color;
            background: rgba($black, 0.05);
            border-radius: 0.3em;
            border-color: $dark;

            // Icons like chevron and ticks.
            i,
            i:hover {
                color: $color;
            }

            // ul will contain menus and sub-menus and can be nested.
            ul {
                background-color: $dark;
            }

            // li represents each menu entry in both menus and sub-menus
            ul>li:hover {
                color: $color;
                border-color: rgba($white, 0.1);
                background: rgba($black, 0.05);
            }
        }

        // HTML editing uses a class-less textarea
        textarea {
            color: $color;
        }
    }

    .full-height {
        height: 100%;
    }

    .parts-list {
        font-size: 12px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;

        &.vertical {
            flex-flow: column nowrap;
            justify-content: flex-end;
            align-items: flex-end;
        }

        .part {
            white-space: nowrap;

            .value {
                font-weight: bold;
            }

            &.underline {
                text-decoration: underline;
            }
        }

        >* {
            margin: 0 0.5em;
        }
    }

    .no-break {
        white-space: nowrap;
    }

    .window-content {
        @include sheet;
        overflow: hidden;
        border: 1px solid $dark2;
        border-top: 0px;
    }

    .description>.editor {
        height: 100%;
        min-height: 15em;
        width: 100%;
        color: $color;
    }

    .scroll-area {
        height: 100%;
        margin-bottom: 0.5em;
        flex: 1;
    }
    .scroll-area-knowlage {
        overflow-y: auto;
        height: 100%;
        margin-bottom: 0.5em;
        flex: 1;
    }
    .scroll-area-inventory {
        overflow-y: auto;
    }

    .scroll-area.left.light-border-right-skills {
        overflow-y: auto;
    } 
    
    .list-item[data-item-type="skill"] {
        /* Your CSS properties here */
        color: #ebb531;
    }

    .list-item[data-item-type="knowledgeskill"] {
        /* Your CSS properties here */
        color: #ebb531;
    }

    img {
        box-sizing: border-box;
        border: 1px solid var(--color-border-dark);
        border-radius: 2px;
        max-width: 100%;
        object-fit: contain;
    }

    .profile-img {
        padding: 0.25em;
        max-width: 100px;
        //border-right: $groove;
        //border-bottom: $groove;
    }

    .tabs {
        flex: 0;
        align-items: stretch; // Make tabs stretch instead of space horizontally.
        border-bottom: 1px solid $yellow;

        >a {
        margin: 0.25em;
            padding: 0.25em;
            margin-bottom: 0;
            position: relative;
            font-size: 1.15em;
            @include rollable;

            &.active {
                @include linkHovered;
                color: $color;
                // border-color: $black;
                // border-bottom: 0px;
                background: rgba($light, 0.1);
            }
        }

        >.item {
            // Make tabs stretch across horizontally.
            color: white;
            flex: 1;
            text-align: center;
        }
    }
    .sheet .editor-content {
        color: white;
        font-family: 'klavika-medium';
        height: 100%;
        overflow-y: auto;
        word-break: break-word;
    }
    .list-item.item-section.flexrow {
        min-height: 36px;  /* set your desired min-height */
    }

    label.item-text.item-name[for="select-inventory"] {
        color: $edge;  /* set the color to yellow */
    }

    label.item-text.item-name {
        color: white;  /* set the color to yellow */
    }

    .tab {
        height: 100%;

        .tabbody {
            height: 100%;
            display: flex;
            flex-flow: column nowrap;

            >* {
                flex: 0;
            }

            >.inventory {
                flex: 1;
            }
        }
    }

    .split-container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: stretch;
        align-content: stretch;
        height: 100%;

        >* {
            flex: 1;
            width: 100%;
        }

        >*:not(:first-child) {
            margin-left: 0.25em;
        }

        >*:not(:last-child) {
            border-right: $groove;
            padding-right: 0.25em;
        }
    }

    .container {
        max-width: $sheet-max-width;
        margin: 0 auto;

        &--fluid {
            margin: 0;
            max-width: 100%;
        }

        &__row {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
        }

        // Auto create grid style classes for a fixed max column grid
        @for $i from 1 through $grid__cols {
            &__col-#{$i} {
                flex-basis: (100 / ($grid__cols / $i)) * 1%;
                overflow: hidden;
            }
        }

        &__col-half {
            flex-basis: 50%;
            overflow: hidden;
        }

        .element {
            padding: 4px;
        }
    }

    .document {
        overflow: hidden;
        white-space: nowrap;
        display: flex;
        align-content: center;

        img {
            height: 34px;
        }

        * {
            display: inline-block;
        }
    }

    .block {
        display: flex;
        flex-flow: column;
        padding: 2px 4px;
        justify-content: space-around;

        .block-line {
            display: flex;
            flex-flow: row nowrap;
            padding: 4px;

            &.center {
                justify-content: center;
            }

            &.border-bottom {
                border-bottom: $groove;
            }

            &.gap-4 {
                > :not(:first-child) {
                    margin-left: 4px;
                }

                > :not(:last-child) {
                    margin-right: 4px;
                }
            }
        }
    }

    .horizontal-cell-input {
        display: flex;
        flex-flow: row nowrap;
        justify-content: start;
        padding: 4px;

        &.stun .cell {
            box-shadow: 0 0 5px 1px rgba($stun, 0.5);
        }

        &.physical .cell {
            box-shadow: 0 0 5px 1px rgba($physical, 0.5);
        }

        &.edge .cell {
            box-shadow: 0 0 5px 1px rgba($edge, 0.5);
        }

        &.matrix .cell {
            box-shadow: 0 0 5px 1px rgba($matrix, 0.5);
        }

        .roll {
            width: 60px;
            margin-right: 8px;
        }

        .cell-container {
            display: flex;
            flex-flow: row;
            justify-content: stretch;

            .cell {
                cursor: pointer;
                text-align: center;
                font-size: 80%;
                border: $groove;
                color: $light-2;
                border-radius: 4px;
                background: $black;
                min-width: 26px;
                height: 18px;

                &:not(:first-child) {
                    margin-left: 2px;
                }

                &:not(:last-child) {
                    margin-right: 2px;
                }

                &.filled {
                    background: $light-2;
                    border-color: $black;
                    color: $black;
                }

                &:hover {
                    border-color: $light;
                }
            }
        }
    }

    .inventory {
        overflow-y: hidden;
        height: 100%;
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
    }

    .list-header,
    .list-item {
        font-size: 85%;
        
        padding: 0.1em 0.25em;
        min-height: 26px;
        margin: 0.1em;
        margin-right: $groove-width;
        margin-left: $groove-width;

        .has-desc {
            @include rollable;
        }

        &.no-border {
            border-bottom: none;
        }

        &.center {
            justify-content: center;
        }

        &.space-evenly {
            justify-content: space-evenly;
        }

        &.item-section {
            background: black;
            color: $yellow;
            margin-right: 0;
            margin-left: 0;
            // background: rgba($grey, 0.2);
            // padding: 0.25em;
            // border-radius: 0.2em;            
            border-bottom: 1px solid $yellow;
            border-radius: 0.2em;
            padding-top: 5px;

            &.faded {
                color: $grey;
            }
            // &:first-child {
            //     border-top: 1px solid $yellow;
            // }
        }

        .list-item-content {
            //color: white;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            align-content: center;

            .item-center {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                align-self: center;
            }
    
            .item-left {
                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-start;
                align-items: center;
            }
    
            .item-right {
                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-end;
                align-items: center;
            }
    
            .item-img {
                padding-right: 0.25em;
                max-width: 50px;
    
                &.item-roll {
                    @include rollable;
    
                    &:hover {
                        >img {
                            content: url('assets/dice-solid.svg');
                            filter: invert(1);
                        }
                    }
                }
    
                >img {
                    margin: 0;
                    transform: translateY(10%);
                }
    
                &+.item-name {
                    border-left: none !important;
                }
            }
    
            .item-input {
                width: 9.5em;
            }
    
            .item-icons {
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-evenly;
                align-items: center;
                color: $grey;
                font-size: 12px;
                height: 100%;
            }
    
            .item-text {
                width: 6em; // Long enough to avoid most line breaks / test wrapping...
                margin: 0 0.1rem;
                flex: 1 0 auto;
                text-align: center;
                height: 100%;
                border: $light;
    
                &.faded {
                    color: $grey;
                }
    
                &.center {
                    display: flex;
                    flex-flow: row;
                    justify-content: space-around;
                    align-items: center;
                    align-content: center;
                }
    
                &.item-name {
                    text-align: left;
                    width: auto;
                }
    
                &.element {
                    width: 7em;
                }
    
                &.radius {
                    width: 4em;
                }
    
                &.dropoff {
                    width: 4em;
                }
    
                &.rtg {
                    width: 3em;
    
                    &.active-skills-rating {
                        padding-right: 1em;
                    }
                }
    
                &.input {
                    text-align: right;
                    width: 9.5em;
                }
    
                &.desc {
                    width: 16em;
                }
            }
    
            .skill-item {
                width: 8em;
            }
    
            .skill-spec-item {
                width: 15em;
            }
    
            &.skill-header {
                @include rollable;
            }
        }
    }

    .list-item:nth-of-type(even) {
        background: rgba($white, 0.03);
    }

    .list-item-description {
        .item-desc {
            padding: 0.25em;
            font-size: 1em;
            width: 100%;

            .props {
                display: flex;
                flex-flow: wrap row;
                padding: 0.25em 0;

                >* {
                    flex-shrink: 0;
                    border-right: $groove;
                    border-bottom: $groove;
                    padding: 0.25em 0.5em;
                    margin: 0.1em 0.25em;
                    box-shadow: 0.2em 0.2em 0.3em $black;
                }
            }

            .description {
                //border-right: $light 2px solid;
                // border-top: $light 2px solid;
                margin: 0.5em 0.25em;
                padding: 0.5em;
                // margin-right: 0.5em;
                //padding-right: 0.5em;
            }
        }
        .item-desc:after{
            content: "";
            clear: both;
            display: table;
        }
    }


    .modified-target-damage {
        margin-top: $large-distance;
        margin-bottom: $large-distance;
        display: grid;
        grid-template-columns: 40px auto auto;

        .modified-target-damage-cell {
            display: flex;
            align-items: center;
            margin-bottom: $small-distance;
        }
    }

    .important {
        font-weight: bold;
    }

    button,
    button.display {
        color: $color;
        border-color: $black;
        background: rgba($light, 0.1);
        border-radius: 0.3em;
        text-align: center;

        &:hover {
            cursor: pointer;
        }

        &.short {
            line-height: 1.3em;
        }

        &.light {
            color: $black;
            background: $light;
        }
    }

    button.display.import-character {
        color: $color;
        border-color: $black;
        background: rgb(70, 7, 7);
        border-radius: 0.3em;
        text-align: center;

        &:hover {
            cursor: pointer;
        }

        &.short {
            line-height: 1.3em;
        }

        &.light {
            color: $black;
            background: $light;
        }
    }
    button.display.show-hidden-skills {
        color: $color;
        border-color: $black;
        background: rgb(70, 7, 7);
        border-radius: 0.3em;
        text-align: center;

        &:hover {
            cursor: pointer;
        }

        &.short {
            line-height: 1.3em;
        }

        &.light {
            color: $black;
            background: $light;
        }
    }

    button.display.reset-actor-run-data {
        color: $color;
        border-color: $black;
        background: rgb(70, 7, 7);
        border-radius: 0.3em;
        text-align: center;

        &:hover {
            cursor: pointer;
        }

        &.short {
            line-height: 1.3em;
        }

        &.light {
            color: $black;
            background: $light;
        }
    }

    /** CSS for the Environmental Modifier Application Window
     *
     */
    button.env-modifier {
        text-align: left;
        font-size: var(--font-size-13) !important;
        line-height: normal;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .env-modifier-active {
        border-radius: 8px;
        box-shadow: $dark-sunken-box-shadow;
        background-color: $dark-sunken;
    }

    .env-modifier-total {
        font-weight: bold;
    }

    td.env-modifier-level {
        padding-right: 6px;
    }

    .skill-roll-not-defaultable {
        font-style: italic;
    }

    /** Input element for inventory name editing */
    input#input-inventory {
        // Otherwise the other classes used will break styling.
        width: auto;
    }

    .document-name {
        @include systemFonts;
        font-size: var(--font-size-18);
        font-weight: bold;
    }

    .cell-input-roll {
        color: $yellow;
    }
}

/** Replicate Foundry .dialog stiling for flex row buttons. FormDialog sublcasses simply adding class dialog will
 * otherwise cause issues with custom button styling.
 */
.form-dialog .window-content .dialog-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.form-dialog .window-content .dialog-buttons>* {
    flex: 1;
}

.far-right {
    justify-content: center;
    right: -150px;
}
/** This is intended to replace foriens Quest Log to Match its CSS to Shadowrun Styles
 */
#forien-quest-log.window-app .window-content {
    overflow: visible;
}

#forien-quest-log section, .window-app.forien-quest-preview section {
    display: block;
    flex-direction: row;
    justify-content: flex-start;
}
//window background
body #forien-quest-log .window-content, .window-app.forien-quest-preview .window-content {
    border-radius: 0 0 5px 5px;
    margin: 0;
    padding: 0;
    background: url("assets/light-page.webp") repeat;
}

.window-app .window-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    
    padding: 8px;
    //color: var(--color-text-dark-primary);
    overflow-y: auto;
    overflow-x: hidden;
}

#forien-quest-log .actions i.fa-play, .window-app.forien-quest-preview .actions i.fa-play {
    font-size: 14px;
    padding-top: 2px;
    color: $yellow;
}
body #forien-quest-log .quest-log .log-body header {
    background: url(assets/journal-banner.webp) repeat;
    font-family: 'klavika-medium';
    text-align: left !important;
    text-indent: 5px;
    color: white;
    border-width: 0;
    height: 80px;
    border-block-end: 2px solid var(--palette-primary,var(--default-primary-accent,#782e22));
    border-bottom: 2px solid var(--palette-primary,var(--default-primary-accent,#782e22));
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
    margin-top: 0;
    padding-top: 0;
}

//table list hover
body #forien-quest-log .quest-log .table ul li.drag-quest:hover {
    border-color: var(--palette-primary,var(--default-primary-accent,$red));
    box-shadow: 0 0 2px var(--palette-primary,var(--default-primary-accent,$red)) inset; //$red is the var for Red
}
// Quest Pause Hover
//body #forien-quest-log .actions i:hover, .window-app.forien-quest-preview .actions i:hover {
    //color: $green;
//}

body .window-app.forien-quest-preview .quest-body .details-header .quest-setup .quest-giver-name h2:hover {
    color: var(--palette-primary,var(--default-primary-accent,$darkred));
    text-shadow: 0 0 5px #fff, 0 0 3px #fff, 0 0 4px $darkred, 0 0 5px $darkred, 0 0 5px $darkred, 0 0 4px $darkred, 0 0 4px white; /* Add this line for glow */
}

.tox .tox-tbtn svg {
    display: block;
    fill: white;
}


body #forien-quest-log .quest-log .log-body header h1 {
    align-self: flex-end;
    border: none;
    font-family: 'klavika-medium';
    font-size: medium;
    margin: 0;
    padding-bottom: 26px;
    background: rgba(255, 255, 255, 0);
}

body .window-app.forien-quest-preview .quest-body .details-header .quest-setup .quest-giver-name h2 {
    border: none;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    transition: color .3s ease;
    background: #ffffff00;
    color: darkred;
}

body #forien-quest-log .actions-single i, .window-app.forien-quest-preview .actions-single i {
    cursor: pointer;
    font-size: 18px;
    transition: color .3s ease;
    color: $yellow;
}
//h1 quest Log
body #forien-quest-log h1, .window-app.forien-quest-preview h1 {
    flex: 0 0 1px;
    font-size: 22px;
    font-weight: 700;
    line-height: 1;
    margin: 0 0 8px;
    padding: 0 0 30px;
    color: #ffffff; 
    //border-bottom: 2px solid var(--color-underline-header);
}
// h1 quest log header
body #forien-quest-log h1, .window-app.forien-quest-preview h1 {
    //background: url(assets/journal-banner-small.webp) repeat;
    color: white;
}

body #forien-quest-log h1, body .window-app.forien-quest-preview h1 {
    line-height: 1;  /* or whatever line-height value you want */
    text-indent: 10px;
    padding-top: 2px;
    background: url(assets/journal-banner-small.webp) repeat;
}

// h4 Quest Log
body #quest-tracker .window-header h4 {
    font-family: 'klavika-medium';
    color: $yellow;
    font-size: large;
}
//h2
body #forien-quest-log .quest-log .table ul .title h2, body .window-app.forien-quest-preview h2 {
    border-width: 2px;
    font-size: 20px;
    font-weight: 700;
    margin: 4px;
    padding: 0px;
    color: #C7B002;
    background: #000000b8;
}


body #quest-tracker .quest .title a, #quest-tracker .quest .title i {
    filter: drop-shadow(1px 1px 1px #000);
    font-family: 'klavika-medium';
    font-size: medium;
    color: $yellow;
}

body .window-app.forien-quest-preview .quest-body .details-header .quest-setup .quest-title {
    align-items: center;
    display: flex;
    justify-content: space-between;
    background: url(assets/journal-banner-small.webp) repeat;
    background-size: cover;
}

body .window-app.forien-quest-preview .quest-body .quest-info .quest-col-right .quest-tasks .toggleState:hover {
    color: var(--palette-primary,var(--default-primary-accent,$yellow));
}

body #forien-quest-log .actions i.fa-times-circle, .window-app.forien-quest-preview .actions i.fa-times-circle {
    color: $red;
}

body .quest-tasks ul {
    background: #00000047;
}

body .window-app.forien-quest-preview .quest-body .quest-info .quest-col-right header {
    border-block-end: 2px solid var(--palette-primary,var(--default-primary-accent,#782e22));
    border-bottom: 2px solid var(--palette-primary,var(--default-primary-accent,#782e22));
    color: $edge;
    display: flex;
    flex: 0 0 1px;
    margin-bottom: 4px;
    background: #000000b8;
}
//table h2
body #forien-quest-log .quest-log .table ul li.drag-quest {
    align-items: center;
    background: #000000b8;
    border: 1px solid #0000;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    margin: 0 4px 2px 0;
    min-height: 42px;
    transition: border-color .3s ease,box-shadow .3s ease;
}
//title h2
body #forien-quest-log .quest-log .table ul .title h2 {
    color: #C7B002;
    background: #00000000;
}

body .open-quest.tasks {
    color: #f2f2f2; /* Sets the background color */
}

//Buttons
body .window-app.forien-quest-preview .quest-body .quest-info .quest-col-right button {
    flex: 0 0 1px;
    font-size: 15px;
    height: 20px;
    line-height: 1;
    white-space: nowrap;
    background: $darkred;
    color: white;
}

#forien-quest-log button, .window-app.forien-quest-preview button {
    border-radius: 5px;
    cursor: pointer;
    height: 30px;
    margin-bottom: 2px;
    margin-right: 4px;
    margin-top: 2px;
    transition: border-color .3s ease,background .3s ease,box-shadow .3s ease;
    background: $darkred;
    color: white;
}
//Play
#forien-quest-log .actions i.move.fas.fa-play:hover, .window-app.forien-quest-preview .actions i.move.fas.fa-play:hover {
    color: green;
}
//Trashbin
body #forien-quest-log .actions i.delete.fas.fa-trash:hover, body .window-app.forien-quest-preview .actions i.delete.fas.fa-trash:hover {
    color: #cc5e5e;
}

body #forien-quest-log .actions i.fa-trash, body .window-app.forien-quest-preview .actions i.fa-trash {
    color: #af0505;
}
//Back to deactive
body #forien-quest-log .actions i.move.fas.fa-stop-circle:hover, body .window-app.forien-quest-preview .actions i.move.fas.fa-stop-circle:hover {
    color: $edge;
}

//Make Available
#forien-quest-log .actions i.move.fas.fa-clipboard:hover, .window-app.forien-quest-preview .actions i.move.fas.fa-clipboard:hover {
    color: $edge;
}

body #forien-quest-log .quest-log .table ul .title p {
    color: white;
}
//End Quest Log Styles

.list-header.item-section[data-item-id="weapon"][data-item-type=""] {
    color: $edge;  /* set the color to yellow */
}

.common-test{
margin-bottom: 4px; margin-top: 4px;
color: white;
}

.custom-item-element {
    color: white;               /* Text color */
}
//lable back to white color
.matrix-label{
    color: white;
}

.scroll-area-matrix{
    overflow-y: auto;
    color: white;
}

//table in any Item
.SR5 th {
    color: #ebb531;              
    padding: 10px;               /* Padding */
    text-align: left;          /* Left text */
    border-bottom: 2px solid $edge; /* Add a border at the bottom */
}

.SR5 tr p:not(th p) {
    padding-left: 10px;  /* Padding on the left */
}

.fas.fa-file-pdf {
    color: #e67260;
    
}

// Test new SIN Layout

.list-item-content {
    display: flex;
    justify-content: space-between;
}

.item-left,
.item-right {
    display: flex;
    align-items: center;
}

.item-text.item-name {
    flex-grow: 1;
    min-width: 0; /* To allow the element to shrink */
    padding-right: 10px;
}

.item-text.rtg-rate {
    flex-shrink: 0; /* Prevent it from shrinking */
    padding-right: 10px;
}

.item-text.desc {
    flex-grow: 2; /* Take up remaining space */
    min-width: 0; /* To allow the element to shrink */
}

.item-text.item-icons.rtg {
    flex-shrink: 0; /* Prevent it from shrinking */
}