@import 'config';

.sr5 {
    &.chat-card {
        font-style: normal;
        font-size: 1rem;

        .card-header {
            padding: 0.25em 0;
            border-bottom: $groove;

            img {
                flex: 0 0 36px;
                margin-right: 0.5em;
                padding: 1px 1px 1px 1px;
                border: 0;
            }

            h3 {
                font-size: 1.75em;
                align-self: center;
                flex: 1;
                margin: 0;
                @include nodesto;
            }
        }
        .card-header:first-of-type {
            border-top: $groove;
        }
        .card-main-content {
            cursor: pointer;
        }
        .card-content {
            padding: 0.5em 0;
            border-bottom: $groove;

            p {
                font-size: 0.8em;
            }
            h3 {
                font-size: 1em;
                margin: 0;
                font-weight: bold;
            }
        }

        .card-buttons {
            .button {
                box-shadow: 0 0 0.25em 0.15em $dark;
                &:hover {
                    box-shadow: 0 0 0.25em 0.15em $black;
                }
                cursor: pointer;
                border: $groove;
                background: $grey;
                margin-top: 0.5em;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
                font-size: 16px;
                font-style: italic;
                font-weight: bold;
            }
        }

        .card-description {
            span {
                border-right: $groove;
                padding: 0;
                padding-right: 0.3em;
                font-size: 0.75em;

                &:last-child {
                    border-right: none;
                    padding-right: 0;
                }
            }
            .card-description-content {
                border-bottom: $groove;
            }
        }

        .damage-line {
            margin-top: 0.25em;

            .button {
                &:hover {
                    box-shadow: 0 0 0.25em 0.15em $black;
                }
                cursor: pointer;
                border: $groove;
                background: $grey;
                text-align: center;
                font-size: 14px;
                font-weight: bold;
            }
        }
    }
    &.roll-card {
        margin: 0.15em;
        .card-title {
            display: flex;
            font-size: 14px;
            border-bottom: $groove;
            justify-content: flex-start;
            align-content: center;
            align-items: flex-end;

            > * {
                margin-left: 0.15em;
                margin-right: 0.15em;
            }

            .header-name {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;

                &:hover {
                    text-shadow: -1px -1px 0 $cornflower, 1px -1px 0 $cornflower, -1px 1px 0 $cornflower, 1px 1px 0 $cornflower;
                }
            }

            .show-display-description,
            .hide-display-description {
                border: none;
                cursor: pointer;
                height: 32px;
                width: 32px;
            }
            .hide-display-description {
                display: none;
            }
        }
        .test-line {
            margin-top: 0.25em;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            .test-name {
                font-style: italic;
                &.test-roll {
                    text-decoration: underline;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
            .place-template {
                padding: 2px 5px;
                line-height: 1em;
                color: $black;
                font-size: 18px;
                margin-right: 1em;
                flex: 0;
            }
        }
        .card-description {
            padding: 0.25em;
            font-size: 14px;
            border-bottom: $groove;
            display: none;
        }
        .show-card-description {
            display: block;
        }
        .card-content {
            font-size: 14px;
            padding: 0 0.25em;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            .left-side {
                display: flex;
                flex: 1;
                flex-flow: column;
            }
            .right-side {
                display: flex;
                flex: 1;
                flex-flow: column;
                font-size: 12px;
                text-align: right;
                align-content: flex-end;
                .limit-line {
                    justify-content: flex-end;
                }
            }
            .key {
                margin-right: 0.35em;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 10em;
                &.bold {
                    font-weight: bold;
                }
            }
            .value {
                font-weight: bold;
                align-self: flex-end;
            }
            .limit-line {
                display: flex;
                flex-flow: nowrap row;
                justify-content: flex-start;
            }
            .category-line {
                font-style: italic;
            }
            .damage-line {
                display: flex;
                flex-flow: nowrap row;
                justify-content: flex-start;
                align-items: flex-end;
                text-align: left;
                > :not(:first-child) {
                    margin-left: 0.1em;
                }
                > :not(:last-child) {
                    margin-right: 0.1em;
                }
                .icon {
                    font-style: italic;
                }
            }
        }
        .dice-rolls {
            display: none;
            border-bottom: $groove;
        }
        .dice-roll-content {
            padding: 0.5em 0.5em;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            .dice-roll {
                background-image: url(/icons/svg/d6-grey.svg);
                background-size: 24px 24px;
                font-size: 16px;
                font-weight: bold;
                text-align: center;
                width: 24px;
                line-height: 24px;
                &.red {
                    color: #aa0200;
                    filter: sepia(0.5) hue-rotate(-60deg);
                }
                &.green {
                    color: #18520b;
                    filter: sepia(0.5) hue-rotate(60deg);
                }
            }
        }
        .glitch-content {
            display: flex;
            flex-flow: column;
            border-bottom: $groove;
            .glitch {
                position: relative;
                text-decoration: none;
                text-transform: uppercase;
                margin: 0;
                letter-spacing: 5px;
                text-align: center;
                padding-top: 4px;
                font-weight: bold;
                z-index: 1;
            }
            .glitch:before,
            .glitch:after {
                display: inline;
                position: absolute;
                top: 4px;
                right: 0;
                left: 0;
                content: attr(data-glitch);
                text-transform: uppercase;
                font-weight: normal;
            }

            .glitch:after {
                color: #a0a;
                opacity: 0;
                z-index: -1;
                animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both 5;
            }

            .glitch:before {
                color: #0aa;
                opacity: 0;
                z-index: -2;
                animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both 5;
            }
            .message:hover .glitch:before {
                animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
                opacity: 1;
            }
            .message:hover .glitch:after {
                animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
                opacity: 1;
            }

            @media only screen and (max-width: 400px) {
                .glitch {
                    font-size: 3em;
                }
            }

            @keyframes glitch {
                from {
                    opacity: 1;
                }
                0% {
                    transform: translate(0);
                    opacity: 0;
                }
                1% {
                    opacity: 1;
                }
                20% {
                    transform: translate(-2px, 2px);
                }
                40% {
                    transform: translate(-2px, -2px);
                }
                60% {
                    transform: translate(2px, 2px);
                }
                80% {
                    transform: translate(2px, -2px);
                    opacity: 1;
                }
                to {
                    transform: translate(0);
                }
            }
        }
    }
    .chat-select-link img:hover {
        padding: 0;
        border: $groove;
    }
}
