.combat-tracker .combatant {
    position: relative;
}

.combat-tracker .combatant-init-mode-icon {
    position: absolute;
    z-index: 5;
    left: 2px;
    width: 22px;
    height: 22px;
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid #000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.combat-tracker .combatant-init-mode-icon {
    top: 2px;
}

.combat-tracker .combatant-init-mode-icon i {
    font-size: 12px;
    color: white;
    text-shadow: 0 0 4px #000;
}

.combat-tracker .combatant-driver-icon img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: none;
}

.combat-tracker .combatant-init-mode-icon.mode-astral i {
    color: #a98aff;
}

.combat-tracker .combatant-init-mode-icon.mode-matrix i {
    color: #8aff96;
}

.combat-tracker .combatant-init-mode-icon.mode-physical i {
    color: #ff8a8a;
}

.combat-tracker .combatant-init-mode-icon.mode-unknown i {
    color: #aaa;
}
