/**
 * Rules related to FoundryVTT styling meant to not be limited to the system id.
 * Everything here will overwrite default Foundry Styling.
 */

/**
  * GENERAL ELEMENT STYLING
  */

blockquote {
    padding-top: 5px;
    padding-bottom: 5px;
    background: linear-gradient(to right, rgba(85, 16, 30, 0.304) 0%, rgba(255, 255, 255, 0.2) 100%);
}

input[type='text'].display {
    border: 1;
}

.settings-sidebar h2 {
    color: white;
}

.display.text.left.document-name {
    font-size: 25px;
    border: 0;
}

.ProseMirror-selectednode {
    outline: 0;
}

.entity-link.content-link {
    color: white;
}

/**
 * JOURNAL ENTRY STYLING
 */
// Journal Entry
.sheet.journal-entry .journal-entry-content,
// Journal Entry Page Editor 
.journal-sheet.journal-entry-page .window-content {
    background: url('assets/light-page.webp') repeat;

    // As we only change headers in journal-entires, avoid cross styling outside of it.
    // This clashed with Weather Control module and others.
    h1 {
        font-family: 'klavika-medium';
        color: $darkred;
        font-size: 25px;
    }

    h2 {
        font-family: 'klavika-medium';
        color: $darkred;
    }

    table {
        background: linear-gradient(to bottom, #3d3c3f, #000000);
        font-size: 90%;
        caption{
            background: inherit;
            text-align: left;
            color: $yellow;
            font-family: 'klavika-medium';
            font-size: medium;
            padding: 9px;
        }
    }

    th {
        padding: 9px;
        background: black;
        color: $yellow;
        text-align: left;
    }
    td{
        text-align: left;
        padding: 9px;
    }

    tr {
        color: white;
    }

    tr:nth-child(even) {
        background-color: #59595b;
    }

    tr:first-child th {
        border-top: 1px solid $yellow;
    }

    tr:first-child th {
        border-bottom: 1px solid $yellow;
    }

    tr:last-child td {
        border-bottom: 1px solid $yellow;
    }

    table .content-link {
        background: none;
        padding: 0px;
        border: 0px;
    }
}

.sheet.journal-entry .journal-entry-pages {
    margin: 14px 8px 16px 16px;
}
.journal-entry .journal-header {
    height: 80px;
    width: 100%;
    margin: auto;
    z-index: 2;
}
.journal-sheet .journal-header .title {
    background: 
        $nameplate-background,
        url("assets/page.webp") repeat;
    background-repeat: no-repeat, repeat;
    background-size: 100% 41px, auto; // first layer = 60px tall
    background-position: center, top;
    border-radius: 0;
    font-family: 'klavika-medium';
    text-align: left !important;
    text-indent: 5px;
    color: white;
    border-width: 0;
    height: 80px;
}



.journal-sheet h3 {
    font-family: 'klavika-medium';
    color: $darkred;
}

.journal-sheet select {
    color: $dark;
}

.journal-sheet option {
    color: $white;
}

/**
 * CHAT MESSAGE STYLING
 */
// Public Roll
.chat-message,
.chat-message.emote {
    color: $white;
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.05)), url('assets/page.webp') repeat;
    border: 1px solid $dark;
}

// Improve visibility non-default roll modes.
// Private Roll
// Self Roll
.chat-message.whisper {
    background: linear-gradient(rgba(64, 64, 85, 0.5), rgba(0, 0, 0, 0.5)), url('assets/page.webp') repeat;
}

// Blind Roll
.chat-message.blind {
    background: linear-gradient(rgba(87, 51, 87, 0.25), rgba(0, 0, 0, 0.5)), url('assets/page.webp') repeat;
}

.chat-message .message-header,
.chat-message.blind .message-header,
.chat-message.whisper .message-header {
    color: $light-2;
}

// Description for roll tables shown on chat messages for a rolled result drawn.
.chat-message .table-draw .table-description {
    color: $light;
}
/**
 * Settings Sidebar
 */
// Links for system information in the settings sidebar.
#game-details > .system-links {
    gap: 0.5rem;
    margin-bottom: 0.35rem;

    > a[href] {
        flex: 0;
        font-size: var(--font-size-12);
        text-transform: uppercase;

        &:hover {
            text-shadow: 0 0 8px var(--color-text-hyperlink);
        }
    }
}
/** Replicate Foundry .dialog stiling for flex row buttons. FormDialog sublcasses simply adding class dialog will
 * otherwise cause issues with custom button styling.
 */
.form-dialog .window-content .dialog-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.form-dialog .window-content .dialog-buttons>* {
    flex: 1;
}

.dialog-button.remove-token-modifiers-from-scene,
.dialog-button.remove-modifiers-from-target{
    background-color: $bgrButton;
}
.far-right {
    justify-content: center;
    right: -150px;
}

.list-header.item-section[data-item-id="weapon"][data-item-type=""] {
    color: $yellow;  /* set the color to yellow */
    font-size: small;
}

.common-test{
    margin-bottom: 4px;
    margin-top: 4px;
    color: $white;
    display: flex;
    .test-icon {
        width: 17px;
        height: 17px;
        margin-left: 5px;
        margin-bottom: 0;
        border: 0;
    }
}
.fas.fa-file-pdf //.fas.fa-suitcase.sr5, .fas.fa-book-open.sr5 For now these can´t get changed
{
    color: $pdfColor;
}
.window-resizable-handle {
    .fa-solid {
        transform: rotate(45deg)
    }
}