.sr5v2 {
    .matrix-condition-monitor-property {
        .icon-container {
            font-size: 0.85rem !important;
            width: 0.85rem !important;
        }

        .cell {
            width: 20px !important;
            height: 14px !important;
        }
    }
    .horizontal-cell-input {
        display: flex;
        flex-flow: row nowrap;
        justify-content: start;
        align-content: center;
        align-items: center;

        &.stun .cell {
            box-shadow: 0 0 5px 1px rgba($stun, 0.5);
        }

        &.physical .cell {
            box-shadow: 0 0 5px 1px rgba($physical, 0.5);
        }

        &.edge .cell {
            box-shadow: 0 0 5px 1px rgba($edge, 0.5);
            &.filled {
                background: rgba($edge, 0.9) !important;
            }
        }

        &.matrix .cell {
            box-shadow: 0 0 5px 1px rgba($matrix, 0.5);
        }

        .clear-container {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: .5rem;
            margin-left: 1px;
            margin-right: 2px;
        }

        .icon-container {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-content: center;
            align-items: center;
            margin: 0 .25rem;
            font-size: 1.1rem;
            width: 1.1rem;
        }

        .cell-container {
            display: flex;
            flex-flow: row wrap;
            justify-content: stretch;

            .cell {
                cursor: pointer;
                text-align: center;
                font-size: 80%;
                border: $groove;
                color: $light-2;
                border-radius: 4px;
                background: $black;
                width: 24px;
                height: 18px;
                margin: 2px;

                &.filled {
                    background: $light-2;
                    border-color: $black;
                    color: $black;
                }

                &:hover {
                    border-color: $light;
                }
            }
        }
    }

}
