@import 'config';
.sr5.item {
    min-height: 484px;
    min-width: 600px;
    .window-content {
        border: none;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        padding: 0 6px;
    }
    .wholesheet {
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        overflow: hidden;
    }
    .sheetbody {
        overflow: auto;
        flex: 1;
    }
    img {
        margin-top: 6px;
    }

    .item-header {
        display: flex;
        flex-flow: row nowrap;
        align-items: stretch;
        // border: $groove;
        .item-name {
            @include systemFonts;
            border: 0px;
            flex: 1;
            height: 60px;
            font-size: var(--font-size-20);
            .display {
                background: $nameplate-background;
                border: none;
                font-family: 'klavika-medium';
                height: 35px;
                margin-top: 11px;
                padding-left: 7px;
                text-align: left;
            }
        }
        .source {
            flex: 1;
            display: flex;
            flex-flow: row nowrap;
            position: relative;
            height: 2em;

            .source-button {
                color: $light;
                font-size: 16px;
                height: 2em;
                left: .5em;
                padding: 2px;
                position: absolute;
                top: .2em;
                width: 2em;
            }

            .display {
                // padding-top: 1em;
                // padding-bottom: 1em;
                // padding-top: 2px;
                // padding-bottom: 0px;
                height: auto;
                border: none;
            }
        }
        .item-type {
            @include systemFonts;
            flex: 0;
            padding: 0 0.5em;
            color: $color;
            display: flex;
            flex-flow: column;
            align-content: center;
            justify-content: center;
        }
        .item-image {
            max-width: 100px;
            border-right: $groove;
            margin-bottom: 0;
            padding-bottom: 0;
            border: none;
        }
        .item-info {
            flex: 1;
            > :not(:last-child) {
                border-bottom: $groove;
            }

            .toggle-fresh-import-off {
                flex-grow: 0;
                background-color: $bgrButton;
            }
        }
    }
    .technology {
        @include systemFonts;
        min-width: 12em;
        padding-top: 10px;
        padding-left: 10px;
      
        > * {
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
        }
      
        label {
          color: $yellow;
        }
      
        .tech-adjustable-label {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
        }
      
        .tech-adjustable-input {
          flex: 1;
          position: relative;
      
          input.display {
            width: 100%;
          }
      
          .unit {
            position: absolute;
            right: 0.5em;
            top: 50%;
            transform: translateY(-50%);
            font-size: 0.8em;
            pointer-events: none;
          }
        }
      }      
    .description {
        padding: 2px;
        padding-left: 10px;
        height: 100%;
        min-height: 16em;
        overflow-y: auto;
        grid-column-start: 2; //will be ignored by flex and is used to place when grid is on
    }
    .item-form {
        padding: 0.5em;
        &.des{
            max-width: 14em;
        }
        .header {
            @include title;
            font-size: 1.25em;
            color: $yellow;
        }
        .form-line {
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            align-content: center;
            padding: 0.1em 0.25em;
            &.advanced{
                color: $yellow;
            }
            > * {
                flex: 1;
            }
            .label {
                color: $light;
                font-size: 1.15em;
                @include systemFonts;
                &.advanced{
                    color: $yellow;
                }
            }
            .inputs {
                display: flex;
                flex-flow: row;
                justify-content: flex-end;
                align-items: center;
                font-size: 0.75em;
                &.between {
                    justify-content: space-between;
                }
                &.around {
                    justify-content: space-around;
                }
                > * {
                    padding-left: 0.25em;
                    padding-right: 0.25em;
                }

                &.ranges {
                    flex: 1 1 30%;

                    :disabled {
                        text-align: center;
                    }
                }
            }
            select {
                color: $color;
                background: rgba($black, 0.05);
                border-radius: 0.3em;
                border-color: $dark;
                > option {
                    background-color: $dark;
                }
            }
            input {
                color: $color;
                background: rgba($black, 0.05);
                border-radius: 0.3em;
                border-color: $dark;
            }
            label {
                color: $yellow;
            }
        }
    }

    /** Header Removal **/

    &.sheet.window-app {
        box-shadow: 0 0 10px 0px rgba(235,181,49,0.3);

        & .window-header {
            border-bottom: none;
            background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("assets/page.webp") repeat;
            background-repeat: repeat;
            background-size: 100% 20px auto;
            flex: 0 0 20px;
            padding: 0 3px 0 0;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;

            & a {
            display: inline-flex;
            padding: 6px 0 0 0;
            font-size: 0px;
            color: rgb(100, 100, 100);

            & .fa-solid,
                & .fas {
                    font-size: 12px;
                }
            }

            & .window-title {
            font-size: 0;
            }
        }
    }
}
