@use 'config';

.sr5v2.item {
    // add a footer to the sheet
    .item-footer {
        display: flex;
        flex-flow: column nowrap;
        gap: 0;
    }

    .item-type-container {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        height: 100%;
        padding: 0.5rem;
    }

}
