.sr5v2 {
    // list-item classes should be renamed to list-item when complete
    .list-item-container {
        display: flex;
        flex-flow: column nowrap;

        &.expanded {
            // show 1px box shadow at the top and bottom to emulate a border
            box-shadow: inset 0 1px 0 0 $silver,
            inset 0 -1px 0 0 $silver;

            .list-item-desc {
                visibility: visible;
                display: unset;
            }
        }

        &.list-item-subcategory {
            padding-left: .5rem;
        }

        .list-item {
            flex: 1;
        }

        .list-item-desc {
            visibility: hidden;
            display: none;
            flex: 1;
            border-top: $groove;
            background: rgba($black, 0.3);
            padding: .5rem;

            .list-item-properties {
                display: flex;
                flex-flow: row wrap;
                justify-content: start;
                align-items: center;
                align-content: center;
                width: 100%;

                .sr5-select {
                    padding: 0;
                    height: 1rem;
                }

                > * {
                    font-size: 0.8rem;
                    padding: 0 .25rem;
                    &:not(:last-child) {
                        border-right: $groove;
                    }
                }
            }

            .description-buttons {
                display: flex;
                flex-flow: row;
            }
        }

        .list-item-description {
            display: none;
            flex: 1;
        }

        &:not(.nobg):nth-of-type(even), &.forcebg {
            background: rgba($white, 0.03);
        }
    }

    // allow list-item to exist outside of the container
    .list-item {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        width: 100%;
        padding: 2px;

        &.list-item-selected {
            background: radial-gradient(rgba($matrix-green, 0.4), rgba($matrix-green, 0.01)) !important;
        }

        .list-item-image-container {
            min-width: 1.5rem;
            width: 1.5rem;
            max-width: 1.5rem;
            min-height: 1.5rem;
            height: 1.5rem;
            max-height: 1.5rem;
            display: flex;
            align-items: center;
            justify-content: center;

            &.favorite {
                min-width: 1.75rem;
                width: 1.75rem;
                max-width: 1.75rem;
                min-height: 1.75rem;
                height: 1.75rem;
                max-height: 1.75rem;
            }

            &:not(:hover).favorite {
                border-color: rgba($light, 0.3);
            }

            &:hover {
                .list-item-image-roll {
                    content: url('assets/dice-solid.svg');
                    filter: invert(1);
                }
                .list-item-image-info {
                    content: url('icons/files.svg');
                }
                .list-item-image-edit {
                    content: url('icons/redist/wrench.svg');
                }
                .list-item-image-remove {
                    content: url('icons/cancel.svg');
                }
                .list-item-image-target {
                    content: url('icons/redist/target.svg');
                }
                .list-item-image-connect {
                    content: url('icons/redist/network.svg');
                }
            }
        }

        &.list-item-header {
            border-bottom: 1px solid $yellow;
            background: rgba($black, 0.7);
        }

        &.list-item-favorites {
            background: linear-gradient(to top, rgba($black, 0.7), rgba($black, 0.1));
            margin-top: 2px;
        }

        &:not(.nobg):nth-of-type(even), &.forcebg {
            &:not(.list-item-header) {
                background: rgba($white, 0.03);
            }
        }

        .list-item-start {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: start;
            flex: 3;
            gap: .25rem;

            &.skinny {
                flex: 1;
            }

            .selection-inventory {
                display: flex;
                flex-flow: row;
                justify-content: start;
                align-items: center;
            }
        }

        .list-item-col {
            display: flex;
            flex-flow: row;
            flex: 2;
            justify-content: center;
            align-content: center;
            align-items: center;
            gap: 0.1rem;

            // hide "hover buttons" by default, show by growing the font-size
            .hover-show-button {
                font-size: 0.8rem;
                visibility: hidden;
            }

            &:hover {
                .hover-show-button {
                    visibility: visible;
                }
            }


            &.select-col {
                justify-content: start;
                flex: 2;
            }

            &.karma-mod-col {
                flex: 3;
                text-wrap: nowrap;
            }

            &.nuyen-col {
                flex: 2;
                text-wrap: nowrap;
            }

            &.reputation-col {
                flex: 5;
                text-wrap: nowrap;
            }

            &.vehicle-mod-col {
                flex: 6;
                text-wrap: nowrap;
            }

            &.skinny-col {
                flex: 0 0 3rem;
            }
            &.midd-col,
            &.rtg-col,
            &.armor-col,
            &.ammo-col,
            &.cost-col,
            &.mod-category-col,
            &.matrix-icon-col {
                flex: 0 0 4rem;
            }

            &.slots-col, &.matrix-network-col {
                flex: 0 0 5rem;
            }

            &.mark-input-col, &.qty-input-col {
                flex: 0 0 5rem;
                gap: 0.25rem;

                .mark-label {
                    font-size: 1.1rem;
                }
            }

            &.thicc-col {
                flex: 0 0 6rem;
            }
        }

        .list-item-icons {
            display: flex;
            flex-flow: row nowrap;
            flex: none;
            min-width: 4rem;
            justify-content: end;
            align-items: center;
            gap: 0.25rem;
            margin-right: 2px;

            &.skinny-icons {
                width: 1.5rem;
                min-width: 1.5rem;
                max-width: 1.5rem;
            }
        }
    }
}
