@use "config/variables";

/**
 * Rules around the value modifier pop up that's shown for Value style data structures like Attributes, Skills, etc.
 */
.sr5v2 {
    .value-modifiers-container {
        padding: 0.25rem;
    }

    .value-modifiers {
        color: variables.$white;

        .list-item {
            gap: .5rem;
            &.total {
                font-weight: bold;
                border-top: 1px double variables.$yellow;
            }
            &.invalid-total {
                text-decoration: line-through;
            }
        }
        .value-modifiers-base, .value-modifiers-modifier, .value-modifiers-total {
            flex-shrink: 0;
            min-width: 4rem;
            text-align: right;
            padding-right: 0.5rem;
        }

        .value-modifier-name,
        .value-modifiers-base,
        .value-modifiers-modifier {
            color: variables.$white;

            > label {
                color: inherit;
            }
        }

        .mod-change-invalidated,
        .value-modifiers-invalid-total {
            color: rgba(255, 255, 255, 0.5);
            text-decoration: line-through;
            text-decoration-thickness: from-font;
        }
    }
}
