@use "config/variables";

/**
 * Rules around the value modifier pop up that's shown for Value style data structures like Attributes, Skills, etc.
 */
.sr5 .value {
    >.value-modifiers-container {
        display: none;
        visibility: hidden;

        position: absolute;
        /* We WILL be on top! */
        z-index: 2147483647;

        opacity: 0;
        transition: opacity 0.3s;
    }

    &:hover .value-modifiers-container {
        display: block;
        visibility: visible;
        opacity: 1;
    }

    .value-modifiers {
        display: grid;
        grid-template-columns: 200px 50px;
        background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("./page.webp") repeat;
        border: 1px solid variables.$dark;
        padding: 0.5em 0.5em 0.5em 0.5em;
        text-align: left;
        font-weight: normal;

        >.value-modifier-name {
            font-weight: bold;
        }

        >.value-modifiers-base {
            border-bottom: 1px solid variables.$yellow;
            color: variables.$white;
        }

        >.value-modifiers-modifier {
            color: variables.$white;
        }

        >.value-modifiers-total {
            font-weight: bold;
            border-top: 1px double variables.$yellow;
            color: variables.$white;
        }

        >.value-modifiers-invalid-total {
            text-decoration: line-through;
        }
    }
}

.sr5v2 {
    .value-modifiers {
        .list-item {
            gap: .5rem;
            &.total {
                font-weight: bold;
                border-top: 1px double variables.$yellow;
            }
            &.invalid-total {
                text-decoration: line-through;
            }
        }
        .value-modifiers-base, .value-modifiers-modifier, .value-modifiers-total {
            flex-shrink: 0;
            min-width: 4rem;
            horiz-align: right;
            text-align: right;
            padding-right: 0.5rem;
        }
    }
}
