/**
 * Styles for the value modifier pop up container
 */
#chat-popout {
    .value-mod {
        .value-modifiers-container.card-style {
            right: 0;
            width: Calc(100% - 2em);
            margin: 1.4em 1em;
        }
    }
}

#chat {
    .value-mod {
        .value-modifiers-container.card-style {
            right: 0;
            width: Calc(100% - 3em);
            margin: 1.4em 1em;
        }
    }
}

/**
 * Rules around the value modifier pop up that's shown for Value style data structures like Attributes, Skills, etc.
 */
.value-mod {
    .value-modifiers-container {
        display: none;
        visibility: hidden;
        pointer-events: none;

        position: absolute;
        /* We WILL be on top! */
        z-index: 2147483647;

        opacity: 0;
        transition: opacity 0.3s;
    }

    &:hover .value-modifiers-container {
        display: block;
        visibility: visible;
        opacity: 1;
    }

    .value-modifiers {
        display: grid;
        grid-template-columns: 200px 50px;
        background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("assets/page.webp") repeat;
        border: 1px solid $dark;
        padding: 0.5em 0.5em 0.5em 0.5em;
        font-weight: normal;

        >.value-modifier-name {
            font-weight: bold;
            text-align: left;
        }

        >.value-modifiers-base {
            border-bottom: 1px solid $yellow;
            color: $white;
            text-align: right;
        }

        >.value-modifiers-modifier {
            color: $white;
            text-align: right;
        }

        >.value-modifiers-invalid-total {
            text-decoration: line-through;
        }
    }
}
