/**
  * Is used on TokenHUDs to display a additional segment per situational modifer.
  */
.sr-modifier-container {

    // The column to hold all modifiers besides the FoundryVTT token HUD.
    .modifier-column {
        padding-top: 66px;
        // Stop flexing.
        display: block;
        font-weight: bold;
        font-size: 18px;
        // Render below the open/closable token hud actions.
        z-index: -1;
    }

    // The row containing a single situation modifier.
    .modifier-row {
        position: relative;
        display: grid;
        flex-wrap: wrap;
        align-items: stretch;
        width: 160px;
        background: rgba(0, 0, 0, 0.6);
        box-shadow: 0 0 15px #000;
        border: 1px solid #333;
        color: #DDD;
        height: 40px;
        line-height: 40px;
        margin-bottom: 18px;
        border-radius: 8px;
        pointer-events: all;
        grid-template-columns: 36px auto;
        overflow: hidden;

        // The numerical modifier total 
        .modifier-value {}

        // The corresponding modifier description per .modifier-value
        .modifier-description {
            // Handle big labels without breaking layout.
            text-overflow: clip;
            white-space: nowrap;

            // Show interactability.
            cursor: pointer;

            &:hover {
                box-shadow: 0 0 0.25em 0.15em $white;
                border-radius: 8px;
            }
        }
    }
}

/**
 * All stylings necessary for situation modifiers
 */
.sr5#situational-modifiers-application {

    // Remove other sr5 window styles.
    * {
        // font-size: var(--font-size-14);
        font-weight: normal;
    }

    h1 {
        border-bottom: 1px solid $yellow;
        color: $yellow;
        font-weight: bold;
    }

    // Add back in stylings as necessary
    h2,
    h3 {
        color: $yellow;
        border-bottom: none;
        font-weight: normal;
    }

    .modifier-total {
        display: flex;
        flex-direction: column;
    }
}