@use "config/variables";

/** This is intended to replace foriens Quest Log to Match its CSS to Shadowrun Styles
 */
 #forien-quest-log.window-app .window-content {
    overflow: visible;
}

#forien-quest-log section, .window-app.forien-quest-preview section {
    display: block;
    flex-direction: row;
    justify-content: flex-start;
}
//window background
body:not(.theme-dark) #forien-quest-log .window-content, .window-app.forien-quest-preview .window-content {
    border-radius: 0 0 5px 5px;
    margin: 0;
    padding: 0;
    background: url("./light-page.webp") repeat;
}

.window-app .window-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;

    padding: 8px;
    //color: var(--color-text-dark-primary);
    overflow-y: auto;
    overflow-x: hidden;
}

#forien-quest-log .actions i.fa-play, .window-app.forien-quest-preview .actions i.fa-play {
    font-size: 14px;
    padding-top: 2px;
    color: variables.$yellow;
}
body #forien-quest-log .quest-log .log-body header {
    background:
        variables.$nameplate-background,
        url("./page.webp") repeat;
    background-repeat: no-repeat, repeat;
    background-size: 100% 41px, auto; // first layer = 60px tall
    background-position: center, top;
    border-radius: 0;
    text-align: left !important;
    text-indent: 5px;
    color: variables.$white;
    border-width: 0;
    height: 80px;
    border-block-end: 2px solid var(--palette-primary,var(--default-primary-accent,#782e22));
    border-bottom: 2px solid var(--palette-primary,var(--default-primary-accent,#782e22));
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
    margin-top: 0;
    padding-top: 0;
}

//table list hover
body #forien-quest-log .quest-log .table ul li.drag-quest:hover {
    border-color: var(--palette-primary,var(--default-primary-accent,variables.$red));
    box-shadow: 0 0 2px var(--palette-primary,var(--default-primary-accent,variables.$red)) inset; //$red is the var for Red
}

body .window-app.forien-quest-preview .quest-body .details-header .quest-setup .quest-giver-name h2:hover {
    color: var(--palette-primary,var(--default-primary-accent,variables.$darkred));
    text-shadow: 0 0 5px #fff, 0 0 3px #fff, 0 0 4px variables.$darkred, 0 0 5px variables.$darkred, 0 0 5px variables.$darkred, 0 0 4px variables.$darkred, 0 0 4px variables.$white; /* Add this line for glow */
}

.tox .tox-tbtn svg {
    display: block;
    fill: variables.$white;
}


body #forien-quest-log .quest-log .log-body header h1 {
    align-self: flex-end;
    border: none;
    font-size: medium;
    margin: 0;
    padding-bottom: 26px;
    background: rgba(255, 255, 255, 0);
}

body .window-app.forien-quest-preview .quest-body .details-header .quest-setup .quest-giver-name h2 {
    border: none;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    transition: color .3s ease;
    background: #ffffff00;
    color: variables.$darkred;
}

body #forien-quest-log .actions-single i, .window-app.forien-quest-preview .actions-single i {
    cursor: pointer;
    font-size: 18px;
    transition: color .3s ease;
    color: variables.$yellow;
}
//h1 quest Log
body #forien-quest-log h1, .window-app.forien-quest-preview h1 {
    flex: 0 0 1px;
    font-size: 22px;
    font-weight: 700;
    line-height: 1;
    margin: 0 0 8px;
    padding: 0 0 30px;
    color: #ffffff;
}
// h1 quest log header
body #forien-quest-log h1, .window-app.forien-quest-preview h1 {
    color: variables.$white;
}

body #forien-quest-log h1, body .window-app.forien-quest-preview h1 {
    line-height: 1;  /* or whatever line-height value you want */
    text-indent: 10px;
    padding-top: 2px;
}

// h4 Quest Log
body #quest-tracker .window-header h4 {
    color: variables.$yellow;
    font-size: large;
}
//h2
body #forien-quest-log .quest-log .table ul .title h2, body .window-app.forien-quest-preview h2 {
    border-width: 2px;
    font-size: 20px;
    font-weight: 700;
    margin: 4px;
    padding: 0px;
    color: variables.$edge;
    background: variables.$fadedBlack;
}


body #quest-tracker .quest .title a, #quest-tracker .quest .title i {
    filter: drop-shadow(1px 1px 1px #000);
    font-size: medium;
    color: variables.$yellow;
}

body .window-app.forien-quest-preview .quest-body .details-header .quest-setup .quest-title {
    align-items: center;
    display: flex;
    justify-content: space-between;
    background:
        variables.$nameplate-background,
        url("./page.webp") repeat;
    background-repeat: no-repeat, repeat;
    background-size: 100% 41px, auto; // first layer = 60px tall
    background-position: center, top;
    border-radius: 0;
}

body .window-app.forien-quest-preview .quest-body .quest-info .quest-col-right .quest-tasks .toggleState:hover {
    color: var(--palette-primary,var(--default-primary-accent,variables.$yellow));
}

body #forien-quest-log .actions i.fa-times-circle, .window-app.forien-quest-preview .actions i.fa-times-circle {
    color: variables.$red;
}

body .quest-tasks ul {
    background: #00000047;
}

body .window-app.forien-quest-preview .quest-body .quest-info .quest-col-right header {
    border-block-end: 2px solid var(--palette-primary,var(--default-primary-accent,#782e22));
    border-bottom: 2px solid var(--palette-primary,var(--default-primary-accent,#782e22));
    color: variables.$edge;
    display: flex;
    flex: 0 0 1px;
    margin-bottom: 4px;
    background: variables.$fadedBlack;
}
//table h2
body #forien-quest-log .quest-log .table ul li.drag-quest {
    align-items: center;
    background: variables.$fadedBlack;
    border: 1px solid #0000;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    margin: 0 4px 2px 0;
    min-height: 42px;
    transition: border-color .3s ease,box-shadow .3s ease;
}
//title h2
body #forien-quest-log .quest-log .table ul .title h2 {
    color: variables.$edge;
    background: #00000000;
}

body .open-quest.tasks {
    color: #f2f2f2; /* Sets the background color */
}

//Buttons
body .window-app.forien-quest-preview .quest-body .quest-info .quest-col-right button {
    flex: 0 0 1px;
    font-size: 15px;
    height: 20px;
    line-height: 1;
    white-space: nowrap;
    background: variables.$darkred;
    color: variables.$white;
}

#forien-quest-log button, .window-app.forien-quest-preview button {
    border-radius: 5px;
    cursor: pointer;
    height: 30px;
    margin-bottom: 2px;
    margin-right: 4px;
    margin-top: 2px;
    transition: border-color .3s ease,background .3s ease,box-shadow .3s ease;
    background: variables.$darkred;
    color: variables.$white;
}
//Play
#forien-quest-log .actions i.move.fas.fa-play:hover, .window-app.forien-quest-preview .actions i.move.fas.fa-play:hover {
    color: variables.$green;
}
//Trashbin
body #forien-quest-log .actions i.delete.fas.fa-trash:hover, body .window-app.forien-quest-preview .actions i.delete.fas.fa-trash:hover {
    color: variables.$fLightRed;
}

body #forien-quest-log .actions i.fa-trash, body .window-app.forien-quest-preview .actions i.fa-trash {
    color: variables.$fDarkRed;
}
//Back to deactive
body #forien-quest-log .actions i.move.fas.fa-stop-circle:hover, body .window-app.forien-quest-preview .actions i.move.fas.fa-stop-circle:hover {
    color: variables.$edge;
}

//Make Available
#forien-quest-log .actions i.move.fas.fa-clipboard:hover, .window-app.forien-quest-preview .actions i.move.fas.fa-clipboard:hover {
    color: variables.$edge;
}

body #forien-quest-log .quest-log .table ul .title p {
    color: variables.$white;
}
//End Quest Log Styles

//Start Simple Calendar
/**
 * CHAT MESSAGE STYLING
 */
// Public Roll
.chat-message,
.chat-message.emote {
    color: variables.$white;
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.05)), url("./page.webp") repeat;
    border: 1px solid variables.$dark;
    .message-content.h2{
        color: variables.$yellow;
    }
    a.content-link{
        background: none;
        color: white;
    }
}

//Icons
span.fa.fa-calendar{
    color: variables.$yellow;
}

//headers
.message-content{
h2{
    color: variables.$yellow;
    font-size: 1.5em;
    border-bottom: 1px solid variables.$edge;
}}
h4.message-sender{
    font-size: small;
    color: variables.$white;
}
//End Simple Calendar
