.sr5v2 {

    // change tagify input selection to match our theme better
    .tagify-selection {
        border-radius: 4px;
        background: $dark;
        border: 1px solid $light;
        width: 100%;
    }
}
