@use "config/variables";

.sr5v2 {

    // change tagify input selection to match our theme better
    .tagify-selection {
        border-radius: 4px;
        background: variables.$dark;
        border: 1px solid variables.$light;
        width: 100%;
    }
}
