/**
 * CSS for Success Test Dialog styling.
 */
@import 'config';

.sr5.form-dialog {
  .dialog-title {
    font-weight: bold;
  }

  .form-group {
    /**
     * Lazy hack to allow for a two segment elemnt style, with the right ones text 
     * being flush to the end.
     */
    .form-group-element-2 {
      flex: 2
    }

    .form-group-element-1-right {
      flex: 1;
      text-align: right;
    }
  }


  .dialog-content-common {
    h2 {
      border: none;
      color: white;
      margin: 0;
      text-underline: none;
    }
  }

  .dialog-content-column {
    width: 300px;
  }
}