/**
 * CSS for Test Dialog styling.
 */
@import 'config';

.sr5.form-dialog {
  .dialog-title {
    font-weight: bold;
    height: 30px;
  }

  .form-group {
    label {
      font-weight: normal;
    }

    input {
      color: $white;
    }

    // Avoid overlong selects breaking flow acrooss rows.
    select {
      width: 100%;
    }

    /**
     * Lazy hack to allow for a two segment elemnt style, with the right ones text 
     * being flush to the end.
     */
    .form-group-element-2 {
      flex: 2
    }
    .form-group-element-1-right {
      flex: 1;
      text-align: right;
    }
  }


  .dialog-content-common {
    h2 {
      text-underline: none;
      border: none;
      margin: 0;
    }

    .sunken {
      padding: 0.5em;
    }


  }

  .dialog-content-column {
    width: 300px;
  }

  .sunken select {
    color: white;
  }

  .sunken select option {
    background-color: $dark-sunken;
  }
}