<div class="new-list-item new-list-item-header {{cssClass}}">
    <div class="new-list-item-label-container">
        <label>
            {{localize label}}
        </label>
    </div>

    <div class="new-list-item-col">
        {{localize "SR5.ActiveEffect.ApplyTo"}}
    </div>

    <div class="new-list-item-col">
        {{localize "SR5.Duration"}}
    </div>

    <div class="new-list-item-icons">
        {{#unless isItemEffect}}
            {{> "systems/shadowrun5e/dist/templates/v2/list-items/header-add-icon.hbs" type }}
        {{/unless}}
    </div>
</div>
