<div class="damage-line">
    <div>
        <span class="key">{{name}}: </span>
        <span class="value apply-damage"
              data-damage-value="{{damage.value}}"
              data-damage-type="{{damage.type.value}}"
              data-damage-element="{{damage.element.value}}">{{damage.value}}{{damageAbbreviation damage.type.value}}</span>
    </div>
    {{#if damage.element.value}}
    <div>
        <i class="{{elementIcon damage.element.value}} icon"
           title="{{localize damage.element.value}}"></i>
    </div>
    {{/if}}
</div>