<div class="parts-list">
    {{#if base}}
    <div class="flex0" style="white-space: nowrap;">
        <span>{{localize "SR5.Base"}}</span> (<span style="font-weight: bold;">{{base}}</span>)
    </div>
    {{/if}} {{#each parts as |part id|}}
    <div class="part">
        <span>{{localize part.name}}</span> (<span class="value">{{part.value}}</span>)
    </div>
    {{/each}}
</div>
