<form class="{{cssClass}}" autocomplete="off" onsubmit="event.preventDefault()">
  <header class="flexcol">
    <h1>Chummer Import</h1>
  </header>
  <section>
    Uncheck items to not import. ONLY IMPORT CHARACTER ONCE.
    <div class="flexrow">
      Weapons<input type="checkbox" class="weapons" checked>
      Armor<input type="checkbox" class="armor" checked>
      Cyberware<input type="checkbox" class="cyberware" checked>
      Equipment<input type="checkbox" class="gear" checked>
      Qualities<input type="checkbox" class="qualities" checked>
      Powers<input type="checkbox" class="powers" checked>
      Spells<input type="checkbox" class="spells" checked>
    </div>
    <textarea class="chummer-text" rows="20" cols="50">
    </textarea>
    <button type="button" class="submit-chummer-import">Submit</button>
  </section>
</form>
