<div class="new-list-item new-list-item-header {{cssClass}}">
    <div class="new-list-item-label-container">
        <label>
            {{localize "SR5.License"}}
        </label>
    </div>
    <div class="new-list-item-col">
        {{localize "SR5.Rtg"}}
    </div>
    <div class="new-list-item-col">
        {{localize "SR5.Description"}}
    </div>
    {{#if @root.isEditMode}}
    <div class="new-list-item-icons">
        {{> "systems/shadowrun5e/dist/templates/v2/list-items/header-add-icon.hbs" type }}
    </div>
    {{/if}}
</div>
