<details class="teamwork-participant">
  <summary>
  <div class="participant-header">
    <div class="participant-actor">
      <img src="{{actor.img}}" alt="{{actor.name}}" class="participant-avatar"/>
      <span class="participant-name">{{actor.name}}</span>
    </div>
    <span class="participant-hits">{{netHits}} {{localize "SR5.Hits"}}</span>
  </div>
</summary>
  {{#if (or differentSkill differentAttribute differentLimit glitched)}}
  <div class="different-skills">
  {{#if glitched}}
    <div class="glitch-line">
      {{#ife criticalGlitched true}}
        {{localize "SR5.GlitchCritical"}}
      {{else}}
        {{localize "SR5.Glitch"}}
      {{/ife}}
    </div>
  {{/if}}

  {{#if differentSkill}}
    <div class="different-skill-line">
      {{localize "SR5.Skill.Teamwork.DifferentSkill"}}: {{localizeSkill differentSkill}}
    </div>
  {{/if}}

  {{#if differentAttribute}}
    <div class="different-attribute-line">
      {{localize "SR5.Skill.Teamwork.DifferentAttribute"}}: {{localize differentAttribute}}
    </div>
  {{/if}}

  {{#if differentLimit}}
    <div class="different-limit-line">
      {{localize "SR5.Skill.Teamwork.DifferentLimit"}}: {{localize differentLimit}}
    </div>
  {{/if}}
</div>
  {{/if}}
</details>