{{#> 'systems/shadowrun5e/dist/templates/common/TabWrapper.hbs' tabId='actions'}}
    <div class="inventory">
        {{> 'systems/shadowrun5e/dist/templates/actor/parts/ActionList.hbs' }}
    </div>
{{/'systems/shadowrun5e/dist/templates/common/TabWrapper.hbs'}}
