<section class="tab{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
    <div class="fill-container">
        {{editor biographyHTML target="system.description.value" button=true
                 editable=true engine="prosemirror" collaborate=false}}
    </div>
</section>
