<section class="tab hide-overflow{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
    <div class="split-container">
        <div>
            {{> 'systems/shadowrun5e/dist/templates/v2/actor/parts/ic-attributes.hbs' }}
            {{tabGroup matrixLeftTabs}}
            <section class="content matrix-left-tab-content"></section>
        </div>
        <div>
            {{> 'systems/shadowrun5e/dist/templates/v2/actor/parts/ic-options.hbs' }}
            {{tabGroup matrixRightTabs}}
            <section class="content matrix-right-tab-content"></section>
        </div>
    </div>
</section>
