<section class="tab hide-overflow{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
    <div class="fill-container">
        <div class="scrollable">
            {{#if (isType actor 'character')}}
                {{> 'systems/shadowrun5e/dist/templates/v2/actor/parts/adept-powers.hbs' }}
            {{/if}}
            {{> 'systems/shadowrun5e/dist/templates/v2/actor/parts/spells.hbs' }}
            {{> 'systems/shadowrun5e/dist/templates/v2/actor/parts/rituals.hbs' }}
            {{#if (isType actor 'character')}}
                {{> 'systems/shadowrun5e/dist/templates/v2/actor/parts/summonings.hbs' }}
            {{/if}}
        </div>
    </div>
</section>
