<section class="tab hide-overflow{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
    <div class="split-container">
        <div>
            <div class="scrollable">
            {{> 'systems/shadowrun5e/dist/templates/v2/list-items/sin/header.hbs'
                label='SR5.SIN'
                type='sin'
            }}
            {{#each itemType.sin}}
                {{> 'systems/shadowrun5e/dist/templates/v2/list-items/sin/item.hbs' item=this }}
            {{/each}}
            {{> 'systems/shadowrun5e/dist/templates/v2/list-items/lifestyle/header.hbs'
                label='SR5.Lifestyles'
                type='lifestyle'
            }}
            {{#each itemType.lifestyle}}
                {{> 'systems/shadowrun5e/dist/templates/v2/list-items/lifestyle/item.hbs' item=this }}
            {{/each}}
            </div>
        </div>
        <div>
            {{> 'systems/shadowrun5e/dist/templates/v2/list-items/contact/header.hbs'
                label='SR5.Contacts'
                type='contact'
            }}
            <div class="scrollable">
                {{#each itemType.contact}}
                    {{> 'systems/shadowrun5e/dist/templates/v2/list-items/contact/item.hbs' item=this }}
                {{/each}}
            </div>
        </div>
    </div>
</section>
