<section class="tab hide-overflow{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
    <div class="split-container">
        <div>
            <div class="scrollable">
            {{> 'systems/shadowrun5e/dist/templates/v2/common/list-header.hbs'
                name=(localize 'SR5.SIN')
                itemId='sin'
                icons=(ItemHeaderIcons 'sin')
                rightSide=(ItemHeaderRightSide 'sin')
            }}
            {{#each itemType.sin as |item i|}}
                {{> 'systems/shadowrun5e/dist/templates/v2/common/list-item.hbs'
                    img=item.img
                    name=item.name
                    itemId=item._id
                    icons=(ItemIcons item)
                    rightSide=(ItemRightSide item)
                    hasDesc="true"
                    hasRoll="true"
                    description=item.description.value
                }}
            {{/each}}
            {{> 'systems/shadowrun5e/dist/templates/v2/common/list-header.hbs'
                name=(localize 'SR5.Lifestyles')
                itemId='lifestyle'
                icons=(ItemHeaderIcons 'lifestyle')
                rightSide=(ItemHeaderRightSide 'lifestyle')
            }}
            {{#each itemType.lifestyle as |item i|}}
                {{> 'systems/shadowrun5e/dist/templates/v2/common/list-item.hbs'
                    img=item.img
                    name=item.name
                    itemId=item._id
                    icons=(ItemIcons item)
                    rightSide=(ItemRightSide item)
                    hasDesc="true"
                    hasRoll="true"
                    description=item.description.value
                }}
            {{/each}}
            </div>
        </div>
        <div>
            {{> 'systems/shadowrun5e/dist/templates/v2/common/list-header.hbs'
                name=(localize 'SR5.Contacts')
                itemId='contact'
                icons=(ItemHeaderIcons 'contact')
                rightSide=(ItemHeaderRightSide 'contact')
            }}
            <div class="scrollable">
                {{#each itemType.contact as |item i|}}
                    {{> 'systems/shadowrun5e/dist/templates/v2/common/list-item.hbs'
                        img=item.img
                        name=item.name
                        itemId=item._id
                        icons=(ItemIcons item)
                        rightSide=(ItemRightSide item)
                        hasDesc="true"
                        hasRoll="true"
                        description=item.description.value
                    }}
                {{/each}}
            </div>
        </div>
    </div>
</section>
