<section class="tab hide-overflow{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
    <div class="fill-container">
        {{> 'systems/shadowrun5e/dist/templates/v2/actor/parts/attributes.hbs' autoBase="true" }}
        <div class="split-container">
            <div>
                {{> 'systems/shadowrun5e/dist/templates/v2/actor/parts/active-skills.hbs' }}
            </div>
            <div>
                {{> 'systems/shadowrun5e/dist/templates/v2/actor/parts/special-attributes.hbs' }}
                <div class="spirit-sprites">
                    {{> 'systems/shadowrun5e/dist/templates/v2/actor/parts/spirit-options.hbs' }}
                </div>
            </div>
        </div>
    </div>
</section>
