{{#> 'systems/shadowrun5e/dist/templates/common/TabWrapper.hbs' tabId='miscellaneous'}}
<div class="inventory">
    <div class="scroll-area">
        {{#if miscMatrixPart}}
        {{> 'systems/shadowrun5e/dist/templates/item/parts/misc_matrix.hbs'}}
        {{/if}}
    </div>
</div>
{{/'systems/shadowrun5e/dist/templates/common/TabWrapper.hbs'}}
