{{#> 'systems/shadowrun5e/dist/templates/common/TabWrapper.hbs' tabId='actor'}}
    <div>
        {{> 'systems/shadowrun5e/dist/templates/actor/parts/ic/ICStats.hbs' }}
    </div>
    <div class="inventory">
        <div class="split-container">
            <div>
                {{> 'systems/shadowrun5e/dist/templates/actor/parts/matrix/Marks.hbs' }}
            </div>
            <div class="flexcol">
                {{> 'systems/shadowrun5e/dist/templates/actor/parts/ic/ICConfiguration.hbs' }}
            </div>
        </div>
    </div>
{{/ 'systems/shadowrun5e/dist/templates/common/TabWrapper.hbs'}}
