{{#> 'systems/shadowrun5e/dist/templates/common/TabWrapper.hbs' tabId='misc'}}
    <div class="inventory">
        <div class="split-container">
            <div>
                {{> 'systems/shadowrun5e/dist/templates/common/List/ListHeader.hbs'
                    name=(localize 'SR5.Description')                    
                }}
                {{editor biographyHTML target="system.description.value" button=true editable=true engine="prosemirror" collaborate=false}}
            </div>
            <div>
                {{> 'systems/shadowrun5e/dist/templates/common/List/ListHeader.hbs'
                    name=(localize 'SR5.Modifier')
                    itemId='modifiers'
                    rightSide=(ItemHeaderRightSide 'modifiers')
                }}
                <div class="mods-scroll">
                    {{#each system.modifiers as |value id|}} {{#ifne id 'wound'}}
                        {{#> "systems/shadowrun5e/dist/templates/common/NameLineBlock.hbs" name=(localizeOb id ../config.actorModifiers) }}
                        <div class="item-text rtg">
                            <input
                                    class="display attribute-input"
                                    size="4"
                                    maxlength="3"
                                    type="text"
                                    name="system.modifiers.{{id}}"
                                    value="{{value}}"
                                    placeholder="None"
                                    data-dtype="Number"
                            />
                        </div>
                        {{/"systems/shadowrun5e/dist/templates/common/NameLineBlock.hbs"}}                       
                    {{/ifne}} {{/each}}
                </div>
            </div>
        </div>
    </div>
{{/'systems/shadowrun5e/dist/templates/common/TabWrapper.hbs'}}
