<header class="flexrow">
    {{> 'systems/shadowrun5e/dist/templates/v2/actor/parts/profile-image.hbs' height='90px' width='90px' }}
    <div class="flexcol flex-end">
        <div class="flexrow">
            <div class="block">{{> 'systems/shadowrun5e/dist/templates/v2/actor/parts/name-input.hbs' }}</div>
            <div class="attributes smooth">
                {{> 'systems/shadowrun5e/dist/templates/v2/actor/parts/initiative.hbs' }}
            </div>
        </div>
        <div class="attributes smooth">
            <div class="block">
                {{> 'systems/shadowrun5e/dist/templates/v2/actor/parts/condition-monitor.hbs'
                    id='matrix'
                    track = system.track.matrix
                }}
            </div>
            <div class="attributes no-border">
                <div class="attribute row space-around">
                    <div data-tooltip="SR5.Roll" class="attribute-name Roll fas fa-dice-six" data-roll-id="prompt-roll"></div>
                </div>
            </div>
        </div>
    </div>
</header>
