<form class="{{cssClass}}" autocomplete="off">
  <div class="flexrow align-start">
    {{> "systems/shadowrun5e/templates/item/parts/item-left.html" }}
    <div class="flexcol">
      {{> "systems/shadowrun5e/templates/item/parts/item-header.html" spec=true}}
      <div class="attributes smooth">
        <div class="attribute row">
          <h4 class="attribute-name">Power Points</h4>
          <h3 class="attribute-input-container">
            <input
              class="display attribute-input"
              type="text"
              maxlength="2"
              size="2"
              name="data.pp"
              value="{{data.pp}}"
              data-dtype="Number"
              placeholder="1"/>
          </h3>
        </div>
        <div class="attribute row">
          <h4 class="attribute-name">Level</h4>
          <h3 class="attribute-input-container">
            <input
              class="display attribute-input"
              type="text"
              maxlength="2"
              size="2"
              name="data.level"
              value="{{data.level}}"
              data-dtype="Number"
              placeholder="1"/>
          </h3>
        </div>
      </div>
      {{> "systems/shadowrun5e/templates/item/parts/power-body.html"}}
      {{> "systems/shadowrun5e/templates/item/parts/item-description.html"}}
    </div>
  </div>
</form>
