<form class="{{cssClass}}" autocomplete="off">
  <div class="flexrow align-start">
    {{> "systems/shadowrun5e/templates/item/parts/item-left.html" }}
    <div class="flexcol">
      {{> "systems/shadowrun5e/templates/item/parts/item-header.html" }}
      <div class="attributes smooth">
        <div class="attribute">
          <select name="data.type" class="display">
            {{#select data.type}}
            {{#each config.quality.types}}
            <option value="{{this}}">{{toHeaderCase this}}</option>
            {{/each}}
            {{/select}}
          </select>
        </div>
      </div>
      {{> "systems/shadowrun5e/templates/item/parts/item-description.html"}}
    </div>
  </div>
</form>
