<form class="{{cssClass}}" autocomplete="off">
  <div class="flexrow align-start">
    <div class="flexcol flex0">
      <div class="profile-img flex0">
        <img src="{{item.img}}" title"{{item.name}}" data-edit="img" width="80" height="80"/>
      </div>
      <div class="technology">
        <div class="flexrow nowrap">
          <label>Rating</label>
          <input
            class="display"
            type='text'
            size='2'
            maxlength='2'
            name='data.technology.rating'
            value='{{data.technology.rating}}'
            data-dtype='Number'
            placeholder='2' />
        </div>
        <div class="flexrow nowrap">
          <label>Quantity</label>
          <input
            class="display"
            type='text'
            size='3'
            maxlength='3'
            name='data.technology.quantity'
            value='{{data.technology.quantity}}'
            data-dtype='Number'
            placeholder='1' />
        </div>
        <div class="flexrow nowrap">
          <label>Cost</label>
          <input
            class="display"
            type='text'
            name='data.technology.cost'
            value='{{data.technology.cost}}'
            data-dtype='Number'
            placeholder='100' />
        </div>
        <div class="flexrow nowrap">
          <label>Avail</label>
          <input
            class="display"
            type='text'
            name='data.technology.availability'
            value='{{data.technology.availability}}'
            placeholder='2R' />
        </div>
        <div class="flexrow nowrap">
          <input
            class="display"
            type='text'
            name='data.description.source'
            value='{{data.description.source}}'
            placeholder='Source' />
        </div>
      </div>
    </div>
    <div class="flexcol">
      <h3 class="item-name">
        <input type="text" class="display" name="name" value='{{item.name}}' placeholder="Item Name" />
      </h3>
      <div class="attributes flexchild1 space-between">
        <div class="attribute">
          <h4 class="attribute-name">SS/SA</h4>
        </div>
        <div class="attribute">
          <h4 class="attribute-name">SB/BF</h4>
        </div>
        <div class="attribute">
          <h4 class="attribute-name">LB/FA(s)</h4>
        </div>
        <div class="attribute">
          <h4 class="attribute-name">FA(c)</h4>
        </div>
      </div>
      <div class="attributes">
        <div class="attribute">
          <h4 class="attribute-name">DV</h4>
          <h3 class="attribute-input-container">
            <input
              class="display attribute-input"
              type="text"
              maxlength="2"
              size="2"
              name="data.action.damage.value"
              value="{{data.action.damage.value}}"
              data-dtype="Number"
              placeholder="1"/>
          </h3>
        </div>
        <div class="attribute">
          <h4 class="attribute-name">AP</h4>
          <h3 class="attribute-input-container">
            <input
              class="display attribute-input"
              type="text"
              maxlength="2"
              size="2"
              name="data.action.damage.ap"
              value="{{data.action.damage.ap}}"
              data-dtype="Number"
              placeholder="1"/>
          </h3>
        </div>
        <div class="attribute">
          <h4 class="attribute-name">Acc</h4>
          <h3 class="attribute-input-container">
            <input
              class="display attribute-input"
              type="text"
              maxlength="2"
              size="2"
              name="data.action.limit"
              value="{{data.action.limit}}"
              data-dtype="Number"
              placeholder="1"/>
          </h3>
        </div>
        <div class="attribute">
          <h4 class="attribute-name">RC</h4>
          <h3 class="attribute-input-container">
            <input
              class="display attribute-input"
              type="text"
              maxlength="2"
              size="2"
              name="data.rc"
              value="{{data.rc}}"
              data-dtype="Number"
              placeholder="1"/>
          </h3>
        </div>
        <div class="flex2">
          <div class="track">
            <div class="track-inner">
              <h4 class="track-title">Ammo</h4>
              <div class="track-bottom">
                <input
                  class="display track-input"
                  size='3'
                  maxlength='3'
                  type='text'
                  name='data.ammo.value'
                  value='{{data.ammo.value}}'
                  data-dtype='Number'
                  placeholder='0'/>
                <h3 class="track-slash">
                </h3>
                <input
                  class="display track-input"
                  size='2'
                  maxlength='2'
                  type='text'
                  name='data.action.ammo.max'
                  value="{{data.action.ammo.max}}"
                  data-dtype="Number"
                  placeholder='max'/>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="attributes space-between flexchild1">
        <div class="attribute">
          <select name="data.action.damage.type" class="display">
            {{#select data.action.damage.type}}
            {{#each config.damageTypes}}
            <option value="{{this}}">{{toHeaderCase this}}</option>
            {{/each}}
            {{/select}}
          </select>
        </div>
        <div class="attribute">
          <select name="data.action.damage.element" class="display">
            {{#select data.action.damage.element}}
            <option value="">None</option>
            {{#each config.elementTypes}}
            <option value="{{this}}">{{toHeaderCase this}}</option>
            {{/each}}
            {{/select}}
          </select>
        </div>
        <div class="attribute">
          <select name="data.action.skill" class="display">
            {{#select data.action.skill}}
            {{#each config.skills}}
            <option value="{{this}}">{{toHeaderCase this}}</option>
            {{/each}}
            {{/select}}
          </select>
        </div>
        <div class="attribute">
          <label class='checkbox'>
            Specialization <input class='display' type='checkbox' name='data.action.spec' />
          </label>
        </div>
      </div>
      {{> "systems/shadowrun5e/templates/item/parts/item-description.html"}}
    </div>
  </div>
</form>
