<form class="{{cssClass}}" autocomplete="off">
  <div class="flexcol">
    {{> "systems/shadowrun5e/templates/item/parts/header.html" }}
    <nav class="tabs" data-group="primary">
      <a class="item" data-tab="description">Description</a>
      <a class="item" data-tab="spell">Spell</a>
    </nav>
    <div class="tab" data-group="primary" data-tab="description">
      <div class="flexrow align-start nowrap">
        {{> "systems/shadowrun5e/templates/item/parts/description.html"}}
      </div>
    </div>
    <div class="tab" data-group="primary" data-tab="spell">
      {{> "systems/shadowrun5e/templates/item/parts/spell.html" header="Spell"}}
      {{> "systems/shadowrun5e/templates/item/parts/action.html" header="Attack"}}
      {{> "systems/shadowrun5e/templates/item/parts/damage.html" header="Damage"}}
      {{> "systems/shadowrun5e/templates/item/parts/opposed.html" header="Opposed Test"}}
    </div>
  </div>
  </div>
</form>
