<div class="compendium-filters">
    <div class="search-bar">
        <i class="search-icon fa-solid fa-magnifying-glass"></i>
        <input 
            type="text" 
            name="search" 
            id="compendium-browser-search"
            value="{{searchQuery}}" 
            placeholder="Search item...">
        {{#if searchQuery}}
        <a class="clear-filter" data-action="clearSearch" title="Clear Search">
            <i class="fa-solid fa-xmark"></i>
        </a>
        {{/if}}
    </div>
    <div class="types">
        {{#each types as |type|}}
        <label class="type">
            <input 
                type="checkbox" 
                data-action="togglePack" 
                data-filter-id="{{type}}">
            <span>{{type}}</span>
        </label>
        {{/each}}
    </div>
</div>
