<div class="compendium-results">
    <div class="results-header">
        <h2>Results</h2>
        <div class="header-source">SOURCE</div>
    </div>
    <div class="compendium-list">
        <div class="loading">
            <i class="fa-solid fa-spinner fa-spin-pulse"></i>
        </div>
        <div class="no-results" hidden>
            No documents found.
        </div>
    </div>
</div>
