<div class="compendium-settings">
    <div class="pack-group">
        <h3 class="group-title">Compendiums</h3>
        <div class="pack-list">
            {{> 'systems/shadowrun5e/dist/templates/apps/compendium-browser/settings-folder.hbs' nodes=tree.children depth=0}}
        </div>
    </div>
</div>