{{#each nodes as |node|}}
    <div 
        class="pack-row {{#if node.isFolder}}folder collapsible{{/if}} {{#if node.collapsed}}collapsed{{/if}}" 
        style="--depth: {{../depth}};"
    >
        <label>
            <input 
                type="checkbox" 
                data-id="{{node.id}}"
                data-type="{{#if node.isFolder}}folder{{else}}pack{{/if}}"
                {{#if (eq node.selectionState "some")}}class="indeterminate"{{/if}}
                {{#if (or node.selected (eq node.selectionState "all") (eq node.selectionState "some"))}}checked{{/if}}>
            {{#if node.isFolder}}
                <a class="collapse-toggle" data-action="toggleCollapse"><i class="fa-solid fa-caret-down"></i></a>
            {{/if}}
            <span>{{node.name}}</span>
        </label>
        <div class="children-container">
            {{#if node.isFolder}}
                {{> 'systems/shadowrun5e/dist/templates/apps/compendium-browser/settings-folder.hbs' nodes=node.children depth=(sum ../depth 1)}}
            {{/if}}
        </div>
    </div>
{{/each}}
