<section class="tab hide-overflow{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
    <div class="fill-container">
        {{> 'systems/shadowrun5e/dist/templates/v2/list-items/call_in_action/header.hbs'
            label='SR5.Labels.ActorSheet.Compilations'
            type='call_in_action'
            cssClass="header-for-scrollable" }}
        <div class="scrollable">
        {{#each itemType.compilation}}
            {{> "systems/shadowrun5e/dist/templates/v2/list-items/call_in_action/item.hbs"
                item=this }}
        {{/each}}
        </div>
    </div>
</section>
