<section class="tab hide-overflow{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
    <div class="fill-container">
        {{> 'systems/shadowrun5e/dist/templates/v2/list-items/complex_form/header.hbs'
            label='SR5.Labels.ActorSheet.ComplexForms'
            type='complex_form'
            cssClass="header-for-scrollable" }}
        <div class="scrollable">
        {{#each itemType.complex_form}}
            {{> "systems/shadowrun5e/dist/templates/v2/list-items/complex_form/item.hbs"
                item=this }}
        {{/each}}
        </div>
    </div>
</section>
