<section class="tab hide-overflow{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
    <div class="fill-container">
        {{> 'systems/shadowrun5e/dist/templates/v2/list-items/action/header.hbs'
            label='SR5.Labels.ActorSheet.MatrixActions'
            type='matrix_action'
        }}
        <div class="scrollable">
        {{#each @root.matrixActions}}
            {{> "systems/shadowrun5e/dist/templates/v2/list-items/action/item.hbs"
                item=this.action
                name=this.name }}
        {{/each}}
        </div>
    </div>
</section>
