<section class="tab hide-overflow{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
    <div class="fill-container">
        {{> 'systems/shadowrun5e/dist/templates/v2/list-items/network_icon/header.hbs'
            label='SR5.Labels.ActorSheet.Icons'
            type='network_icon'
            cssClass="header-for-scrollable"
        }}
        <div class="scrollable">
        {{!-- Show main icons (personas) visible to this actor --}}
        {{#each @root.matrixTargets}}
            {{> 'systems/shadowrun5e/dist/templates/v2/list-items/network_icon/item.hbs' item=this}}
            {{! -- Overview of icons connected to the main icon (devices of persona) -- }}
            {{#each this.icons}}
                {{> 'systems/shadowrun5e/dist/templates/v2/list-items/network_icon/item.hbs' item=this cssClass="new-list-item-subcategory"}}
            {{/each}}
        {{/each}}
        </div>
    </div>
</section>
