<section class="tab hide-overflow{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
    <div class="fill-container">
        {{> 'systems/shadowrun5e/dist/templates/v2/actor/parts/list-header.hbs'
            label=(concatStrings (localize 'SR5.Programs') " " @root.program_count)
            type='program' }}
        <div class="scrollable">
        {{#each itemType.program}}
            {{> 'systems/shadowrun5e/dist/templates/v2/actor/parts/list-item.hbs' item=this }}
        {{/each}}
        </div>
    </div>
</section>
