{{#if @root.isEditMode}}
<a data-action="{{action}}"
   data-tooltip="{{tooltip}}"
   data-item-type="{{type}}"
   {{> "systems/shadowrun5e/dist/templates/v2/common/generic-data-properties.hbs" data=data }}>
   {{localize "SR5.Add"}}&nbsp;<i class="fas fa-plus"></i>
</a>
{{/if}}