{{log this}}
{{#if (hasConnectedIcons this)}}
    <a>
        <i data-action="toggleConnectedMatrixIcons"
           data-item-id="{{this.document.uuid}}"
           class="{{#ifgt this.icons.length 0}}fas fa-square-chevron-down{{else}}fas fa-square-chevron-right{{/ifgt}}"></i>
    </a>
{{/if}}
