{{#if @root.isEditMode}}
    <a data-tooltip="SR5.EditItem" data-action="editItem">
        <i class="fas fa-pen-to-square"></i>
    </a>
    <a data-tooltip="SR5.DeleteItem" data-action="deleteItem">
        <i class="fas fa-trash"></i>
    </a>
{{/if}}
