{{#if @root.isPlayMode}}
    <a data-action="equipItem" data-tooltip="SR5.ToggleEquip">
        <i class="{{#if (isEquipped this)}}fas fa-circle-check{{else}}far fa-circle{{/if}}"></i>
    </a>
{{/if}}
