<button type="button" class="new-list-item-image-container"
        data-tooltip="{{localize 'SR5.Labels.ActorSheet.TestKBoardModifiers' skip=@root.bindings.skip descr=@root.bindings.card}}"
        data-action="rollItem" data-item-id="{{this.uuid}}">
        <img src="{{this.img}}" class="{{#if (hasRoll this)}}new-list-item-image-roll{{else}}new-list-item-image-info{{/if}}" />
</button>
