<a>
    <img src="{{this.img}}"
         data-action="rollItem"
         data-item-id="{{this.uuid}}"
         class="new-list-item-image {{#if (hasRoll this)}}new-list-item-image-roll{{else}}new-list-item-image-info{{/if}}"
         height="24px"
         width="24px"
         data-tooltip="{{localize 'SR5.Labels.ActorSheet.TestKBoardModifiers' skip=@root.bindings.skip descr=@root.bindings.card}}"
    />
</a>
