<div class="new-list-item-label-container">
    <a
        class="{{#if (isBroken this)}}faded {{/if}}{{#if this.system.importFlags.isFreshImport}}{{#if (itemMarking "COLOR")}}fresh-import{{/if}}{{/if}}"
        {{#if @root.isPlayMode}}
           {{#if (isBroken this)}}
                disabled
           {{/if}}
           data-action="showItemDescription"
        {{else}}
            data-action="editItem"
        {{/if}}
        >
        {{#if name}}
            {{name}}
        {{else}}
            {{item.name}}
        {{/if}}
    </a>
</div>
