<div class="list-item-col qty-input-col hover-show-button-container">
    {{#if @root.isEditMode}}
        <input type="number" class="item-quantity-input short midd" value="{{this.system.technology.quantity}}" min="0" max="999">
    {{else}}
        <a class="hover-show-button"
           data-action="removeItemQty"
           data-tooltip="SR5.Tooltips.Actor.RemoveOneQty">
            <i class="fas fa-minus-square"></i>
        </a>
        <label class="qty-label">{{this.system.technology.quantity}}</label>
        <a class="hover-show-button"
           data-action="addItemQty"
           data-tooltip="SR5.Tooltips.Actor.AddOneQty">
            <i class="fas fa-plus-square"></i>
        </a>
    {{/if}}
</div>
