<button data-action="selectMatrixTarget" type="button" class="new-list-item-image-container">
    <img src="{{speakerImg this}}"
         class="new-list-item-image-target"
         height="24px"
         width="24px"
    />
</button>
