{{#if @root.isPlayMode}}
    {{#if this.system.description.source}}
        <a data-action="openSource" data-source="{{this.system.description.source}}" data-tooltip="SR5.OpenSource">
            <i class="fas fa-file"></i>
        </a>
    {{/if}}
{{/if}}
