{{#if @root.isEditMode}}
    <a data-action="toggleItemVisible" data-tooltip="SR5.Tooltips.Item.ToggleVisibility">
        <i class="{{#if (isVisible this)}}fas fa-eye{{else}}fas fa-eye-slash{{/if}}"></i>
    </a>
{{/if}}
